[2019-03-20 19:03] jessegreenberg commented on #132
We tried batching changes to PDOM elements in https://github.com/phetsims/scenery/issues/663, but discovered that it isn't giving us much of a performance benefit because inner content is actually not updating much more frequently than once per element per animation frame. So we should reconsider how to optimize.

[2019-03-20 19:05] jessegreenberg commented on #132
[I found this jsperf ](https://jsperf.com/innerhtml-vs-innertext/12)for innerHTML vs textContent vs innerText and I see that innerHTML is 99% slower, which matches our testing results above.
![image](https://user-images.githubusercontent.com/6396244/54711976-86dac900-4b21-11e9-83d7-fcaa7a4fbc94.png)

[2019-03-20 19:21] jessegreenberg commented on #132
I opened https://github.com/phetsims/scenery/issues/955 to see if we can use textContent more than innerHTML because it is faster. But the dynamic descriptions in this sim use innerHTML so we wont see a performance improvement from that issue unless we can get rid of the formatting tags in this sim.

[2019-03-20 19:53] jessegreenberg commented on #132
Here is another test that shows setting innerHTML is slower than setting innerText of a strong tag:
http://jsben.ch/yH5vq

The block test sets textContent of a `strong` tag under a `p`, and the second test sets innerHTML of a `p` to be `<strong>Test!</strong>`

[2019-03-20 20:10] jessegreenberg commented on #132
With this test, I proceeded with https://github.com/phetsims/scenery/issues/955 and removed all formatting tags from a11y strings.
Before change, setTextContent takes 15% of running time.
![15](https://user-images.githubusercontent.com/6396244/54715494-fbb20100-4b29-11e9-94d7-691bf657cbd7.PNG)

After change, setTextContent takes 5% of running time:
![5](https://user-images.githubusercontent.com/63

[2019-03-20 21:04] jessegreenberg commented on #132
A built version of OL with the changes in https://github.com/phetsims/ohms-law/issues/132#issuecomment-475008440 runs a little faster on an iPad2, but still slower than the published sim.

[2019-03-20 21:12] jessegreenberg commented on #132
In a number of screenshots above I see that `layout` and `Update Layer Tree` and `recalculate style` are all tied to AccessibilityUtil. When I click on AccessibilityUtil links in the dev tools, it takes me to the setting of textContent. I think that is the next place to investigate.

[2019-03-28 16:23] jessegreenberg commented on #132
In https://github.com/phetsims/scenery/issues/663 we found that `clip` will improve the performance of the PDOM while keeping the DOM interactive with AT. Performance improvement was found on my iPad2. Over to https://github.com/phetsims/QA/issues/303 to see if this benefit carries over to the iPad air.

[2019-04-09 22:52] KatieWoe commented on #131
I am still having trouble with this in dev.29.  I can get each slider to move once or twice, but after that swiping moves focus to another part of the sim and doesn't move the slider.

[2019-04-09 23:08] jessegreenberg commented on #131
I just confirmed that it is working well on my iPad2. Over slack @KatieWoe and I said that tomorrow we will film or do a screenshare so I can see the gestures that are not working.

[2019-04-10 15:31] KatieWoe commented on #131
I did a bit more experimenting and I think the problem may have been that I was swiping too slowly and that my finger sometimes went over a different interactive piece that then gained focus.  May be worth looking at, but the gestures do seem to work.

[2019-04-10 15:56] KatieWoe commented on #131
This does still occur

[2019-04-10 16:48] KatieWoe opened #135 "Mobile VO difficulty reading bullet list"
For https://github.com/phetsims/QA/issues/303.  Testing using iPad 2018 (6th gen) with iOS 12.  At one point, while trying to read through the scene description VO seemed to have trouble reading the bulleted lists.  This includes the section where it reads the voltage, resistance, and current as well as the section where it describes the circuit.  When it got to this point, VO stopped reading.  Us

[2019-04-10 18:05] KatieWoe opened #136 "VO cuts off reading frequently"
For https://github.com/phetsims/QA/issues/303.  Found on iPad 2018 (6th gen) with iOS 12.
When reading the dialog after moving one of the sliders, part is often cut off.  This is usually the part reading the current, but can cut off more, even the entire thing.  It seems to happen more often when moving the slider before the previous is finished, but can occur even when being moved slowly.  The mo

[2019-04-10 18:19] KatieWoe opened #137 "Usability on small screens review"
Template for Issues:
Per @kathy-phet's request in https://github.com/phetsims/QA/issues/295 I am making issues in each published sim repo detailing the pointer areas and usability of sims on phone sized screens.  Done on an iPhone 7 iOS 12 device.

Potential Difficulties Noticed:
* The pointer areas could all be a bit hard to grab, particularly the buttons.
* Looking at RIAW may help with the slid

[2019-04-10 23:09] jessegreenberg commented on #136
Thanks @KatieWoe I will see if I can reproduce on my iPad2.

Also, just for future reference, we call this content that is getting cut off "alerts" rather than "dialog". A "Dialog" for web content is a visual window that can be popped up to display info so it is a bit of an overloaded term.

[2019-04-10 23:11] jessegreenberg commented on #135
Thanks @KatieWoe I will take a look. Over slack @KatieWoe confirmed that this was an issue once but has not been reproducible since. If it doesn't come up again after additional testing I will be OK closing this issue.

[2019-04-10 23:16] jessegreenberg commented on #131
Thanks for doing more testing @KatieWoe. The gestures are designed by Apple so there isn't much more we can do to change things. It sounds like this is the correct behavior for VO.

This is OK, in this case the virtual cursor is on the label for the slider. The reason this happens is that label and slider HTML must be adjacent (but not perfectly overlapping) for VO to handle events properly. As lo

[2019-04-10 23:16] #131 closed

[2019-04-10 23:31] jessegreenberg commented on #136
Unfortunately I haven't heard an alert be cut off yet by my iPad2 so I can't reproduce this.

[2019-04-11 00:30] jessegreenberg commented on #136
We had a similar issue with this in our very first a11y prototypes with a number of screen readers due to Heartbeat.js which is a workaround that specifically keeps Safari from "going to sleep". We added aria-hidden to the related element and the problem went away. Maybe that isn't enough for mobile VO.

My next theory is that removing alert content quickly from the DOM is causing the interruption

[2019-04-11 16:27] jessegreenberg commented on #136
It is odd, but there may be large differences in the way VO works between iOS 9.x and iOS 12.x, so I am not too surprised.

[2019-04-11 20:55] jessegreenberg commented on #136
I got an iPad Air 2 and can reproduce the issue now on iOS 12.

[2019-04-11 23:24] jessegreenberg commented on #136
This version has the Heartbeat.js workaround removed: https://phet-dev.colorado.edu/html/ohms-law/1.4.0-dev.30/phet/ohms-law_en_phet.html

[2019-04-11 23:26] jessegreenberg commented on #136
Also, it is odd that when the alert happens we only get the first sentence.

"As letter V grows, letter I Grows."

It should be:

"As letter V grows, Letter I Grows. Current now {{value}} mA".

[2019-04-11 23:31] KatieWoe opened #138 "Difference in sound length"
For https://github.com/phetsims/QA/issues/303.  Noticed when comparing Dev 26 to Dev 29.  The echoing sounds of the sliders goes on for much longer in the newer dev version.  If this is intentional, please close.
https://drive.google.com/file/d/1eQdFqj4kDxA_xrWlHzYn4rRGVZ2qluP9/view?usp=sharing

[2019-04-11 23:35] jessegreenberg commented on #138
Thanks @KatieWoe, I am not sure about sound. I think the newer one sounds nicer so it is likely intentional but @jbphet would know for sure.

[2019-04-11 23:37] KatieWoe commented on #136
It also seems to get worse if the speaking rate is faster.

[2019-04-11 23:39] jessegreenberg commented on #136
In this version (https://phet-dev.colorado.edu/html/ohms-law/1.4.0-dev.31/phet/ohms-law_en_phet.html) I replaced the following lines:

[code]

and this seems to fix the problem. @KatieWoe can you please confirm on your end too?

[2019-04-12 00:09] KatieWoe commented on #132
Will need to wait a bit for the iPad Air 2's to come back, but I did a check on the iPad 2 with QA and can confirm that it looks much better now on that platform at least.

[2019-04-12 03:11] jessegreenberg commented on #136
Replacing textContent = "" with hiding and showing the aria-live elements  seems to fix mobile VO. We will want to test this on VO, JAWs, and NVDA to make sure this works there too.

[2019-04-12 15:09] KatieWoe commented on #136
Alerts are readable in the PDOM, that means that swiping two fingers up reads previous alerts instead of the beginning of the scene description,.  It only reads the scene description after reading a few alerts.  Otherwise, behavior seems to be much better on the iPad.  Do you want me to check NVDA, Jaws, and VO on mac in this version, or do you want to fix the alerts in the PDOM issue before I do

[2019-04-12 15:58] KatieWoe commented on #136
Update: I did do a quick check of NVDA, Jaws, and Mac VO with that link.  I saw some sound distortion on Jaws (not too unusual) and Mac VO had one instance where it read two alerts in a row rather than the latest one.  Other than that, they seem to behave identically to mobile VO in terms of Alerts in the PDOM.  @jessegreenberg

[2019-04-12 17:36] jessegreenberg commented on #136
Thanks for testing @KatieWoe, that is good to hear. Then we need a different way of hiding the elements other than removing textContent. I tried using `hidden`
[code]

This worked with NVDA for the first 4 alerts and then all alerts stopped working. This means that setting hidden to false synchronously doesn't work, I am going to try to put the setting of content behind a timeout too.

[2019-04-12 17:42] jessegreenberg commented on #136
This works well with NVDA:
[code]

[2019-04-12 19:57] jbphet commented on #138
Yes, this was intentional.  I had gotten feedback that the fade out was too abrupt in https://github.com/phetsims/ohms-law/issues/125#issuecomment-464863478, so I implemented a slower fade and change the algorithm to be exponential.  The intent is to make the fade long and subtle since the current continues to be present, and we didn't want to make it seem like something had stopped.

There are al

[2019-04-12 19:57] jbphet commented on #138
Closing, since this is the intended behavior.

[2019-04-12 19:57] #138 closed

[2019-04-12 20:00] KatieWoe commented on #132
On an iOS 11 iPad Air 2 I saw that the average fps of the new dev version was about 5 to 10 fps higher than the average fps of the old dev version.

[2019-04-12 20:29] jessegreenberg commented on #132
Thanks @KatieWoe, that is an improvement. However, I also recently got an iPad Air 2 and was able to see that the performance is noticeably slower compared to the published version. But I also noticed that performance on iPad air 2 is substantially faster when the resistance is low. This indicates that a11y is no longer the performance bottleneck because a11y changes are not dependent on amount of

[2019-04-12 23:44] arouinfar commented on #137
Thanks @KatieWoe. I believe these issues have already been addressed in the updated design of Ohm's Law, which we're in the process of redeploying.

![image](https://user-images.githubusercontent.com/8419308/56071279-f45dcc00-5d52-11e9-810e-1465c5936cf0.png)

I'll go ahead and close this issue.

[2019-04-12 23:44] #137 closed

[2019-04-16 15:44] jessegreenberg commented on #136
We verified this was fixed in phetsims/scenery-phet#490

[2019-04-16 15:44] #136 closed

[2019-04-16 15:51] jessegreenberg commented on #132
I verified that the sim has the same poor performance with high resistance when both sound and accessibility are disabled.

[2019-04-16 15:53] jessegreenberg commented on #132
When I remove the `clipArea` on for the dots performance improves substantially.

[2019-04-16 16:02] jessegreenberg commented on #132
Changing the renderer to `canvas` helps performance mostly, but there is some slowdown when dragging the resistance thumb in areas of high resistance.

[2019-04-16 16:22] jessegreenberg commented on #132
I just noticed that `clipArea` is a recent addition since the last publication of this simulation so that is why the published sim is so much faster. I am going to change the implementation so that dots are contained within the wire shape without using clip shape.

[2019-04-16 16:42] jessegreenberg commented on #132
This is working great and performance is much faster on iPad Air 2. I am going to go ahead and close since I have access to an iPad air 2 now.

[2019-04-16 16:53] jessegreenberg commented on #135
Thanks for making an issue @KatieWoe. I tried on an iPad Air 2 with VO ~8 times including with extreme slider values, sim resets and sim reloads and I have been able to read through the sim summary lists. I was also able to read through the whole sim automatically by swiping two fingers quickly down the screen. I think  this is OK to close for now but if you encounter this again feel free to reope

[2019-04-16 16:53] #135 closed

[2019-04-16 16:55] jessegreenberg commented on #102
This is being collapsed into #125. The sim has passed a round of dev testing and all issues are closed or marked as "fixed pending testing". Closing this issue.

[2019-04-16 16:55] #102 closed

[2019-04-16 20:39] jessegreenberg commented on #132
To summarize what we looked into and changed to improve performance in this issue:

We discovered that DOM operations were taking up too much time in Chrome and Safari and so we we started https://github.com/phetsims/scenery/issues/663 to reduce the number of DOM changes that occur each animation frame. This included changes to innerHTML and other HTML attributes that were identified as slow in Ch

[2019-04-16 20:40] #132 closed

[2019-04-24 21:37] jessegreenberg commented on #125
Sorry this took so long to finalize, but description is ready for publication and other blocking issues are closed. @jbphet can you please verify that sound is still ready for publication?

[2019-04-29 20:51] jbphet commented on #125
@jessegreenberg - I just tested sound on a built version from master on Win+Chrome, Win+Firefox, Win+Edge, Mac+Safari, and iOS+Mobile Safari.  The sound implementation appeared to work well on all.  I also verified that the sim loads and runs but has no sound support on IE.  You are go for launch!  I'd suggest moving pretty quickly, since I may be making some changes to tambo later in the week.

[2019-05-01 20:53] jessegreenberg commented on #125
Thanks @jbphet, an RC has been created at https://github.com/phetsims/QA/issues/313. Is there anything else that should be done for this issue or can it be closed?

[2019-05-01 22:14] jessegreenberg commented on #54
Lets update this working comment for additions to credits (not yet alphabetized):

QA: Alex Dornan, Ethan Johnson, Kathryn Woessner
Software Development: Michael Kauzmann, Martin Veillette
Team: Kathy Perkins, Emily Moore, Taliesin Smith

[2019-05-01 22:47] KatieWoe opened #139 "Sound doesn't start right away: Chrome/Touch"
**Test device:**
Dell
**Operating System:**
Win 10
**Browser:**
chrome
**Problem description:**
For https://github.com/phetsims/QA/issues/313
When first moving the sliders with a touch screen on a Win 10 device with chrome, the sound will not play, or only play the end.  This does not seem to happen on other sims or on any of the published sims I looked at.
**Steps to reproduce:**
1. Do a fresh re

[2019-05-01 23:00] jessegreenberg commented on #139
I am able to reproduce on the RC but I am *not* able to reproduce on master.

[2019-05-01 23:09] jessegreenberg commented on #139
I am actually seeing this in the published version of RIAW too. Handing over to @jbphet since this is sound related.

[2019-05-02 15:13] KatieWoe commented on #59
This is now in RC (https://github.com/phetsims/QA/issues/313), so I think it is a good idea to take off hold and do now.  @zepumph do you agree?

[2019-05-02 15:32] zepumph commented on #59
Yes sounds good.

[2019-05-02 17:17] KatieWoe opened #140 "StringTest overlap and short Ohm width"
**Test device:**
Dell
**Operating System:**
Win 10
**Browser:**
chrome
**Problem description:**
For https://github.com/phetsims/QA/issues/313
I noticed that some string tests cause the voltage/resistance strings and the variables above them can overlap.  The Ohm string max width is also shorter than the corresponding V.  This is likely very minor.
**Steps to reproduce:**
1. Go to stringTest=rtl
2.

[2019-05-02 17:59] KatieWoe commented on #59
@arouinfar I matched the numerical values of the screenshots, but the sizes of the equation are different.  Are these the screenshots you want?
![ohms-law-screenshot](https://user-images.githubusercontent.com/41024075/57096125-b7418580-6cd1-11e9-8c92-7b30da7a2559.png)
![ohms-law-screenshot-alt1](https://user-images.githubusercontent.com/41024075/57096126-b7418580-6cd1-11e9-9003-723a07753b27.png)

[2019-05-02 18:21] jbphet commented on #125
Closing - will log and follow up on any sound-related issues separately.

[2019-05-02 18:21] #125 closed

[2019-05-02 19:50] jessegreenberg commented on #140
It looks like the maxWidth for the units takes into account the width of the value. Since "500" is wider than "4.7", the ohms units are shorter. Related commit references https://github.com/phetsims/ohms-law/issues/50.

[code]

The rtl issue is because the spacing of the letters symbol and label have a negative value that was chosen because it looks good with english strings.

[2019-05-02 20:13] jbphet commented on #54
I was asked to comment on the credits in https://github.com/phetsims/QA/issues/313#issuecomment-488394000.  The proposal seems fine to me.  Please keep M Dubson first amongst the SW developers, since he authored the original sim and I'd like to acknowledge that.

[2019-05-02 20:29] jessegreenberg commented on #140
@ariel-phet @zepumph do you think this issue is worth looking into? We can fix the vertical spacing issue by laying out text like https://github.com/phetsims/resistance-in-a-wire/issues/106. @zepumph can you comment on whether it is important that the maxWidth of the units be dependent on the width of the value?

[2019-05-02 21:56] arouinfar commented on #59
Those look good to me @KatieWoe, thanks!

[2019-05-02 22:43] jessegreenberg commented on #54
Thanks @jbphet, that sounds great.

[2019-05-02 22:54] jessegreenberg commented on #140
Eh, just doing it 🐩, The above commit handles the rtl portion of the issue.

[2019-05-02 23:19] jessegreenberg commented on #140
I tested with stringTest=long,  stringTest=double, stringTest=x, stringTest=rtl to make sure that #134 was still fixed after the change. Should be ready for verification in the next RC.

[2019-05-03 15:04] KatieWoe commented on #59
That should do it @arouinfar and @zepumph

[2019-05-03 17:25] arouinfar commented on #59
Thanks @KatieWoe, looks good!

[2019-05-03 17:25] #59 closed

[2019-05-03 20:08] KatieWoe opened #141 "Mac VO may not read new volt/resistance value"
For https://github.com/phetsims/QA/issues/313
Mac 10.14.4 Safari 12.1
I noticed one instance where Mac VO didn't read the new volt/resistance value when using keyboard nav.  Once it came back though, it didn't seem to do it again.  It happened one right after another for awhile, but when I managed to get it to come back, it stayed back.  Not sure what caused it since I didn't reproduce it.  Seemed

[2019-05-03 21:01] KatieWoe commented on #54
Ethan Ward should be added as well.

[2019-05-03 21:41] jessegreenberg commented on #141
It sounds like the aria-valuetext not coming through. @KatieWoe when this happened did you hear other alert information like "As letter V grows, letter I grows. Current now 10.0 milliamps."?

[2019-05-03 21:42] KatieWoe commented on #141
@jessegreenberg yes I did

[2019-05-03 21:44] jessegreenberg commented on #141
OK, thanks.

[2019-05-03 21:54] KatieWoe opened #142 "Slider noises play continuously with iOS VO"
**Device**
iPad (2018)
**iOS**
12.2
**Browser**
Safari
**Problem Description**
For https://github.com/phetsims/QA/issues/313
When opening the PhET menu it is possible for the slider sounds to play continuously
**Steps to reproduce**
1. Open sim fresh with VO
2. Move both sliders up and down a bit
3. Open PhET menu

**Screenshots**
https://drive.google.com/file/d/1YLSejrYu5GfiArUCjDYijp970P8r5T44/v

[2019-05-03 22:08] jessegreenberg commented on #142
I am testing on an iPad Air 2 iOS 12.2. After tyring for ~12 minutes I haven't been able to see this happen. I will try on my iPad 2.

[2019-05-03 22:15] jessegreenberg commented on #142
I was just able to reproduce this, but I am not sure how yet. I moved the voltage slider up to 5.5V then opened the PhET menu and heard continuous sound.

[2019-05-03 22:23] jessegreenberg commented on #142
Now it is happening every single time!

[2019-05-03 23:04] jessegreenberg commented on #142
OK, I figured out how to make this happen consistently. If the PhET menu is clicked before the CurrentSoundGenerator has a chance to set fadeCountdownTimer to Number.NEGATIVE_INFINITY, the problem doesn't happen. But if it is clicked after that, the problem occurs. That means as long as you wait ~5 seconds to click the PhET menu the problem will happen every time (on fresh reload).

[2019-05-03 23:07] jessegreenberg commented on #142
I suspect this is happening due to the way scenery "enables" sound on the first pointer event and how CurrentSoundGenerator fades out sound, but I am not certain how it all works.

[2019-05-03 23:32] jessegreenberg commented on #142
So this is not related to the PhET menu, but the activation of Sound. I can also reproduce by moving a slider, waiting 5 seconds, then double tapping the sim. The double tap sends a pointer event to the sim which enables sound.

[2019-05-04 08:12] terracoda commented on #141
@jessegreenberg, FYI, I have noticed a little bit of `aria-valuetext` inconsistency with GFL:Basics as well. I made a comment here https://github.com/phetsims/gravity-force-lab-basics/issues/121#issuecomment-488600034

I suspect what I noticed is similar to what @KatieWoe noticed.

[2019-05-04 08:14] terracoda commented on #142
Nice detective work, @jessegreenberg.

[2019-05-06 14:08] jessegreenberg commented on #141
Interesting, thanks @terracoda. Has this always been an issue for VoiceOver or is this relatively new?

[2019-05-06 14:52] jessegreenberg commented on #141
I just tried to reproduce this on latest macOS with MacinCloud, but audio and VO are still not working on that service.

[2019-05-06 17:05] lmulhall-phet opened #143 "Opening "About..." dialogue can freeze sim"
While double checking https://github.com/phetsims/QA/issues/313, I noticed that on iOS 10 + XHTML the sim can freeze if the "About..." dialogue is opened and the links are clicked. It gives the following error:

[code]

@jessegreenberg, we don't support iOS 10 anymore; I'm just documenting this issue. Feel free to close once you've read this.

[2019-05-06 17:16] jessegreenberg commented on #143
@lmulhall-phet thanks, good to know. Did you verify that this does not happen on the other iOS versions that we do support?

[2019-05-06 17:18] jessegreenberg commented on #143
Also, it seems that this would happen for every sim, not just ohms-law.

[2019-05-06 17:45] jessegreenberg commented on #143
I just verified that this is not happening in iOS 12.2. But this is more of a scenery issue so I am going to move it there and see if @jonathanolson has any thoughts before closing.

[2019-05-06 17:50] jessegreenberg commented on #143
I created https://github.com/phetsims/scenery/issues/970 for this. This issue can be closed, thanks @lmulhall-phet

[2019-05-06 17:50] #143 closed

[2019-05-06 17:54] jessegreenberg commented on #142
I created the above two issues to investigate this further in tambo, a solution will be explored there, possibly with scenery changes as well.

[2019-05-06 18:23] jessegreenberg commented on #141
@zepumph just showed me that not hearing aria-valuetext is possible on NVDA too if slider movement is timed just right, so I will investigate there.

[2019-05-06 18:53] jessegreenberg commented on #141
I just tried for several minutes to see this with NVDA but couldn't on my Windows 10 desktop in Chrome or Firefox. I am wondering if this is performance related. Ill try on my slower laptop.

[2019-05-06 18:59] jessegreenberg commented on #141
I just tried on my Windows 10 laptop and heard all aria-valuetext in between alerts. When @zepumph had showed me over screen share we saw a number of alerts come through without hearing any aria-valuetext. But I couldn't get that to happen on my side on two different Windows machines.

[2019-05-06 19:15] jessegreenberg commented on #141
I am able to produce this pretty easily with macOS 10.10.5 by doing this:
- Move the slider, wait for VO to read aria-valuetext and alert
-While VO is reading the alert, move slider again. Next alert will be read but we miss subsequent aria-valuetext.

This is pretty similar to what @KatieWoe reported so I am going to try to debug this even though I only have macOS 10.10

[2019-05-06 20:36] jessegreenberg commented on #141
Here is also a version where we separate aria-valuetext and alerts by 1000 ms, and I the issue happens there too on macOS 10.10.5  https://jsfiddle.net/gj8zmhfy/5/

[2019-05-06 20:54] KatieWoe commented on #141
Tested first link so far.  On 10.14.4.  When interrupting "This is a new alert: #" I always heard the new value.  It did cause the "This is a new alert" to read old alerts and repeat several of them.

[2019-05-06 21:00] jessegreenberg commented on #141
Thanks @KatieWoe. On my version the lack of "Value: X" was easy to reproduce so it must be due to my very old OS. Ill keep working on it.

[2019-05-07 15:38] jessegreenberg commented on #141
I tried to set up a macOS 10.14 system locally to debug but ran into problems with audio on the guest OS. I tried to debug just by watching the VoiceOver text display, but Safari kept crashing because audio was unsupported in the virtual machine. Unfortunately, I don't think I will be able to debug this any further without access to a device with macOS 10.14.

Based on the fact that we cannot repr

[2019-05-07 18:43] emily-phet commented on #141
@jessegreenberg Let's proceed with publishing the sim.

In the long term - Not sure atm whether this is worth investigating further. Let's let @terracoda weigh in before officially deciding. Seems like it could be a general quirk with VO and the current aria-valuetext/alerts setup, so my guess is we'll probably want to at least check through your bullet list above of next steps.

[2019-05-07 19:19] terracoda commented on #141
@jessegreenberg and @emily-phet, I agree we should proceed with publishing the sim.

I haven't played with Ohm's Law in a long time, but the infrequent skips in `aria-valuetext` that I have recently experienced in Gravity Force Lab Basics are not that noticeable.

And to answer an earlier question, is this a new issue, in https://github.com/phetsims/ohms-law/issues/141#issuecomment-489634075, hone

[2019-05-07 20:03] jessegreenberg commented on #141
Sounds great, thanks @terracoda and @emily-phet. I created the above issue in sun because this will impact all sims. Since we will continue with publication without this issue resolved, I will close this one. I will also added this to https://docs.google.com/document/d/12kTs-g-iKEIH1dyG7Q41_W_oNL4gUKbkW-IQgZjMUBw/edit since it is unclear whether this can be resolved or is a VoiceOver bug.

[2019-05-07 20:03] #141 closed

[2019-05-08 20:00] arouinfar opened #144 "LoL Icons/Descriptions"
For https://github.com/phetsims/QA/issues/313.

[2019-05-14 20:24] jbphet commented on #139
I've done some investigation on this, and the reason that sound doesn't start in this situation is that the `touchstart` event in `BrowserEvents.js` is not set up to trigger `scenery.Display.userGestureEmitter`.  The `touchend` event **is** set up for this.  I asked @jonathanolson about this, and the following Slack dialog ensued (this is edited somewhat for clarity):

[code]

Assigning to @jonath

[2019-05-14 21:57] arouinfar commented on #144
LoL icons & metadata are ready for delivery, but awaiting sim redeploy.

[2019-05-14 23:43] jbphet commented on #139
I understand now what @jonathanolson was saying.  The gist is this: Chrome has a list of user events that are essentially "approved" as events that can be used to resume the audio context.  `touchstart` and `pointerdown` - when it comes from a touch event - are not on this list.  Perhaps the thinking is that users accidentally touch their screens all the time, and they don't want that starting up

[2019-05-14 23:53] jessegreenberg commented on #139
OK, sounds good. Thanks for investigating this @jbphet.

[2019-05-15 14:29] KatieWoe commented on #139
Thanks for investigating.  Closing.

[2019-05-15 14:29] #139 closed

[2019-05-21 19:53] jbphet commented on #142
I'm able to duplicate this on the PhET iPad "Pauling" consistently.  It's running iOS version 11.4.1.  One thing that I noticed that doesn't seem to be noted above is that sound is not playing at all prior to the time that this occurs, so that would seem to lend credence to @jessegreenberg's observation in [one of the comments above](https://github.com/phetsims/ohms-law/issues/142#issuecomment-489

[2019-05-21 23:36] jbphet commented on #142
The problem is that Voice Over is intercepting touch events, and the code in `soundManager` is not able to receive the `touchstart` event that it usually uses to resume the audio context.  I looked at this with @jessegreenberg, since he knows the a11y input structure pretty well, and we determined that if we added an emit for `scenery.Display.userGestureEmitter` to `changeAction` in `scener/input/

[2019-05-22 00:17] jonathanolson commented on #142
That seems reasonable to me.

[2019-05-22 23:18] jbphet commented on #142
Thanks @jonathanolson.

I've implemented the fix on master.  It involves commits to both tambo and scenery, so branches with the needed changes will be needed to be pulled into the Ohm's Law release branch.  Assigning to @jessegreenberg for that, since there may be other changes that he needs to pick up.

[2019-05-22 23:51] jbphet commented on #142
For the record, and in case I ever need to look at this again, I did do some investigation of why this was happening when the volume should have been at zero.  The summary is this: In this particular browser, setting output levels on gain nodes while the audio context is suspended doesn't seem to work.  So, the `CurrentSoundGenerator` instance executes all the code to fade out the sound, but setti

[2019-05-24 21:43] jessegreenberg commented on #140
Pushed to 1.4.

[2019-05-24 21:59] jessegreenberg commented on #54
Credits updated in master and 1.4

[2019-05-24 22:15] jessegreenberg commented on #142
Excellent, thanks @jbphet, branches created in scenery and tambo.

[2019-05-24 22:31] jessegreenberg commented on #142
I also tested to verify this was fixed with iOS 12 VoiceOver + Safari.

[2019-05-28 20:38] KatieWoe commented on #54
Looks good for QA credits

[2019-05-28 20:52] KatieWoe commented on #142
This issue seems solved in 1.4.0-rc.3

[2019-05-28 20:52] #142 closed

[2019-05-28 20:58] KatieWoe commented on #140
Looks good in 1.4.0-rc.3

[2019-05-28 20:58] #140 closed

[2019-05-29 15:38] KatieWoe opened #145 "VO repeats 1 Ohms Law"
For https://github.com/phetsims/QA/issues/327
I ran into an issue on the second slider while using VO for Mac 10.14.5.  When moving the slider, often the alert would be interrupted to say "1 Ohms Law" often repeatedly.  It did not occur on the first slider, and sometime moving the slider a larger amount caused this not to happen.  I did things like refreshed the sim and pressed escape after readin

[2019-05-29 15:42] jessegreenberg commented on #145
That is very strange @KatieWoe. Did you notice this with the first RC?

[2019-05-29 15:53] jessegreenberg commented on #145
@KatieWoe how frequently are you able to reproduce this? I don't know what "1" is, but my guess is that it is either reading the browser Tab index then the page title or something.

[2019-05-29 16:29] KatieWoe opened #146 "Safari sliders freeze after sitting"
**Device**
Jordan
**OS**
Mac 10.14.5
**Browser**
Safari 12.1.1
**Problem Description**
For https://github.com/phetsims/QA/issues/327.  Fairly serious, sorry for not catching it earlier.  Went and checked rc-1 and it was there, but does not seem to be in either the published version of ohms-law or resistance in a wire.  Only seen on safari so far.  When the sim is left to sit for ~1 min, the slider

[2019-05-29 16:33] KatieWoe commented on #145
I didn't see it in the first rc.  When it showed up it kept happening.  But after it stopped due to a refresh I was not able to reproduce again.  Tried a few times.

[2019-05-29 18:32] jessegreenberg commented on #145
OK thanks. @terracoda are you familiar with this at all and do you know what VO is trying to report here? Ill do some searching too to see if anything comes up, but my guess is this can probably be closed since it shows up with such low frequency.

[2019-05-29 18:54] jessegreenberg commented on #146
Bummer, thanks for finding @KatieWoe. I don't have access to Safari now, so would you mind testing to see if this happens if sound is disabled?

https://phet-dev.colorado.edu/html/ohms-law/1.4.0-rc.3/phet/ohms-law_en_phet.html?sound=disabled

This also looks similar to https://github.com/phetsims/joist/issues/140, but may not be related.

[2019-05-29 18:58] jessegreenberg commented on #145
I did a quick search but didn't see anything like what we are seeing here. Removing my assignment but given https://github.com/phetsims/ohms-law/issues/145#issuecomment-497012648, I am inclined to close this issue with `wontfix`.

[2019-05-29 19:05] jessegreenberg commented on #146
When this happens do you see any errors show up in the dev console?

[2019-05-29 19:44] jessegreenberg commented on #146
@KatieWoe and I took a look at this over screen share. We were able to consistently see this with and without sound enabled from the button in the navigation bar on the RC. But we were NOT able to see this in any other sim. We also did not see this on master ohms-law either! So we are thinking that something has since changed that fixed this since 1.4 SHAs.

I am going to look through some commit

[2019-05-29 20:15] KatieWoe commented on #146
It does happen on an older version of safari too.

[2019-05-29 20:17] jessegreenberg commented on #146
I searched through scenery, joist, and others but didn't see anything obvious. Lots of changes everywhere so it was a long shot.

@kathy-phet capacitor-lab-basics SHAs were taken roughly the same time as OL, can you please see if it happens in https://phet-dev.colorado.edu/html/capacitor-lab-basics/1.7.0-rc.2/phet/capacitor-lab-basics_all_phet.html after dragging and moving something?

[2019-05-29 20:26] KatieWoe commented on #146
@jessegreenberg didn't see anything there

[2019-05-29 23:18] jessegreenberg opened #147 "JAWS and VO highlight random area in sim when reading about sliders"
From https://github.com/phetsims/QA/issues/327.  JAWS highlights large and seemingly unrelated area in the sim when reading content. This large highlight is also seen in Mac VO.

https://drive.google.com/file/d/116L6UpV235rqAKw6ILUWwsoO_X7LCbL4/view?usp=sharing

[2019-05-29 23:19] jessegreenberg commented on #147
I am going to see if I can produce with JAWS on my end. It is likely due to the way the PDOM is styled for mobile accessibility.

[2019-05-29 23:21] jessegreenberg opened #148 "JAWS doesn't read slider values when reading with virtual cursor"
From https://github.com/phetsims/QA/issues/327

@KatieWoe reported that JAWS exhibited https://github.com/phetsims/resistance-in-a-wire/issues/177 (which is a known JAWS bug, and we submitted a report). But this time it happened, JAWS failed to read the slider value. Here is a recording of it happening.

https://drive.google.com/file/d/116L6UpV235rqAKw6ILUWwsoO_X7LCbL4/view?usp=sharing

[2019-05-29 23:21] jessegreenberg commented on #148
Assigning to myself to try to reproduce.

[2019-05-29 23:48] jessegreenberg commented on #147
Ah, I am seeing this now after updating to JAWS 2019.

[2019-05-30 17:04] jessegreenberg commented on #148
JSFiddle to test:  https://jsfiddle.net/z945gaf7/

[2019-05-30 17:37] jessegreenberg commented on #147
JAWS 2019 now highlights text and other things on the screen as they are read. In this case, it is trying to highlight the unordered list that contains the sliders. This is what this bug looks like in the context of ohms-law while it reads "Slider Controls, list of Two Items":
![image](https://user-images.githubusercontent.com/6396244/58651265-d0dce980-82de-11e9-8129-cd42dd536424.png)

I tried to

[2019-05-30 17:43] jessegreenberg commented on #146
@KatieWoe can you please do a triple check that this built version from master doesn't exhibit the issue? I realized we had only tested RequireJS.
https://phet-dev.colorado.edu/html/ohms-law/1.5.0-dev.1/phet/ohms-law_en_phet.html

[2019-05-30 22:00] terracoda commented on #145
@jessegreenberg, I have no memory of ever hearing "1 Ohm's Law" while using voice over. I just had a quick listen and I didn't hear it.

I'm using an older version of Mac OS, though, 10.13.6

I agree Jesse, I think we can mark it as "won't fix".

[2019-05-30 22:04] KatieWoe commented on #146
@jessegreenberg just checked.  It does happen on built version from master

[2019-05-30 22:04] jessegreenberg commented on #145
Thanks @terracoda, sounds good.

[2019-05-30 22:04] #145 closed

[2019-05-30 22:35] terracoda commented on #148
@jessegreenberg, thanks for finding this difference.
 Let's remove the list structure. I was thinking we should do that in GFLB's Mass controls, too.

Question is if we should group the two controls in a different way, like in a `div` with `aria-labelledby`.

We could remove the list, then test an alternate grouping for a maintenance release. What do you think?

[2019-05-30 22:45] terracoda commented on #147
VoiceOver also has it's own highlighting which we cannot control.
I agree @jessegreenberg, I don't think we should spend time on this. JAWS may change this feature.

[2019-05-30 22:47] jessegreenberg commented on #147
OK, thanks for the input @terracoda, sounds good. Removing the `ul` in #148 may also remove the highlight in this case.

[2019-05-30 22:47] #147 closed

[2019-05-30 22:57] jessegreenberg commented on #148
OK, that sounds great @terracoda I will do that. I will remove the list for this release, then we can talk about another way to group for maintenance or the next release.

[2019-05-30 23:42] jbphet commented on #146
I think I must have been working on this at the same time as @KatieWoe, and I came to the same conclusion about the problem existing on the current master version (i.e. it does exist there).  I tried quite a number of experiments, below are my notes.  The last one is probably the most significant.

I was testing with the MacBook Pro named "Dirac", OSX version 10.10.5, Safari version 10.1.2.

+ For

[2019-05-31 17:06] jessegreenberg commented on #148
Done in the above commit, I tested that JAWS and NVDA read the value when reading with the virtual cursor. Changes cherry picked to 1.4 release branch

[2019-05-31 17:06] #148 closed

[2019-05-31 17:06] jessegreenberg commented on #147
Indeed, #148 made the rectangle go away in this case.

[2019-05-31 17:35] jessegreenberg commented on #146
I just tried to reproduce this using the macincloud service we subscribe to but I wasn't able to see the bug there after waiting for 2 minutes. System is macOS 10.14.4 Safari 12.1.

[2019-05-31 18:24] jessegreenberg commented on #146
Since I cannot reproduce this I am not sure how I can debug any further. @ariel-phet could I have some assistance with this? From @jbphet notes above, this might be due to rendering in Safari so @jonathanolson could know the most about this.

[2019-06-03 14:30] jbphet commented on #146
@jessegreenberg - I'd forgotten that you don't have access to a Mac.  I think having @jonathanolson take a look is a good idea, but if you decide you'd like to try to test some things remotely on a device where the problem is reproducible, let me know, and perhaps we can set up Dirac for remote access.  I poked around a bit on line, and it seems like this is definitely a supported feature.

[2019-06-03 23:24] jessegreenberg commented on #146
That is a great suggestion, thank you @jbphet. It would be great to be able to do that for this issue and probably others in the future. I set up an issue in special-ops to set that up.

[2019-06-04 15:30] ariel-phet commented on #146
@jbphet @jessegreenberg I know @arnabp is pretty tech savy. Could we have him try to set this up?

[2019-06-04 15:40] jessegreenberg commented on #146
@arnabp we started this issue to try a few options: https://github.com/phetsims/special-ops/issues/137 - It would be great to have any thoughts you may have.

[2019-06-04 17:29] jessegreenberg commented on #146
@KatieWoe set up "Dirac" for remote access through https://github.com/phetsims/special-ops/issues/137 and it is working very well, I am able to use the sim in Safari. However, I am not able to see the original issue at https://phet-dev.colorado.edu/html/ohms-law/1.4.0-rc.3/phet/ohms-law_en_phet.html, sliders are responsive after moving them and letting the sim sit for 3 minutes. I tried 4 differen

[2019-06-04 17:52] jessegreenberg commented on #146
@KatieWoe also tried to produce the bug with screen share enabled and was unable to see the issue.

@KatieWoe then tried without the remote access enabled  and saw the issue right away. So I think this is looking more like https://github.com/phetsims/joist/issues/140 where safari "goes to sleep" and the screen share is preventing it from happening.

Unfortunately, we will still need someone with a

[2019-06-04 22:45] jessegreenberg commented on #146
In phetsims/qa#333 @KatieWoe verified that this is happening in other sims in master right now. At least resistance-in-a-wire and gravity-force-lab-basics.

[2019-06-04 23:02] jessegreenberg commented on #146
This isn't sim specific, so we will likely continue in https://github.com/phetsims/joist/issues/140 or perhaps another one if that one is not appropriate.

[2019-06-05 16:33] jbphet commented on #146
@KatieWoe worked with @jessegreenberg to set up the remote access for a Mac, which is why this was assigned back to me.  Unassigning.

[2019-06-05 18:09] ariel-phet commented on #146
Remote access isn't working for this particular bug. @KatieWoe thanks for setting remote access up however, that might be useful in future for some other issues, and we should make the devs aware. I will note for dev meeting on Thursday.

However, it is going to be best for this bug and future ones on this platform related to a11y for @jessegreenberg to have his own test device. I will work with O

[2019-06-06 13:00] terracoda opened #149 "Wrap-up: Complete Interview Spreadsheet"
@terracoda moved all Ohm's Law design files to their new location in the Multimodal Features folder, and started an interview spreadsheet here:
https://docs.google.com/spreadsheets/d/1Xye2uVrOa_4FR1HFfdH3NLXkj_cjg5ngqDsG7wOH0Z4/edit#gid=0

Reaching out to @briannatomlinson and @emily-phet to see if there are anymore interviews that need to be added as this sim nears publication with all its a11y f

[2019-06-06 14:05] briannatomlinson commented on #149
I'm waiting on permission to edit that file -- then I'll add them

[2019-06-06 17:17] briannatomlinson commented on #149
Ok Done!

[2019-06-07 09:39] terracoda commented on #149
Thanks @briannatomlinson!

[2019-06-07 09:42] terracoda commented on #149
@emily-phet, I don't think there is anything else. Please comment or close.

[2019-06-07 13:28] #149 closed

[2019-06-14 20:51] jessegreenberg commented on #146
This has been fixed in https://github.com/phetsims/joist/issues/140. scenery ohms-law 1.4 release branch needs the change then this will be ready for verification in the release.

[2019-06-18 10:03] terracoda commented on #54
@jessegreenberg, re-opening this issue as we need to add **Brianna Tomlinson** to the end team list as well. Apologies we missed this before you addressed this issue.

**Current Screen Shot from today:**
<img width="620" alt="Screen Shot 2019-06-18 at 11 56 41 AM" src="https://user-images.githubusercontent.com/1902116/59672959-c5cff780-91c0-11e9-81ff-5ead706adeb6.png">

[2019-06-18 10:05] terracoda commented on #54
@jessegreenberg, I just added a top priority so the issue is not missed ;-)

[2019-06-18 16:35] jessegreenberg commented on #54
Not a problem at all, Brianna has been added to credits in master and release branches.

[2019-06-18 16:35] #54 closed

[2019-06-18 22:57] KatieWoe commented on #146
Looks good 1.4.0-rc.4

[2019-06-18 22:57] #146 closed

[2019-07-08 18:12] arouinfar commented on #144
This sim has been delivered to LoL, closing.

[2019-07-08 18:12] #144 closed

[2019-09-16 19:02] jbphet opened #150 "branch: soundDesignCourse"
This branch is being set up as a place to work on variations of the sound design behavior needed for a sound design course that is being developed by @briannatomlinson.  The versions requested so far are listed below.  All changes are described with respect to the currently published version, which is 1.4.4.

- [x] no clicks when sliders are moved
- [x] reversed mapping of current sound, i.e. play

[2019-09-16 22:21] jbphet commented on #150
I've created a one-off version from this branch that supports query parameters that should allow @briannatomlinson to get the behavior she needs.  Below are links with the query parameters set as needed, at least to the best of my understanding:

+ no clicks when sliders moved: https://phet-dev.colorado.edu/html/ohms-law/1.5.0-soundDesignCourse.1/phet/ohms-law_en_phet.html?sliderClicksEnabled=fals

[2019-09-16 22:21] jbphet commented on #150
@briannatomlinson - please try the links above and let me know if these provide what you need.

[2019-10-16 22:35] briannatomlinson commented on #150
These all look great! Just what I need for this set.

[2019-10-17 15:50] jbphet commented on #150
Re-opening and assigning to myself so that I remember to delete the branch eventually.

[2019-10-17 18:26] pixelzoom opened #151 "sliderDraggingByKeyboard violates naming conventions"
SliderUnit.js, added by @jbphet,`sliderDraggingByKeyboard` should be `sliderDraggingByKeyboardProperty`:

[code]

[2019-10-17 18:28] pixelzoom opened #152 "revise logic for checking whether dragging is via the keyboard"
SliderUnit.js, added by @jbphet:

[code]

In 10/17/19 dev meeting, @jbphet said that the logic for checking whether dragging is via the keyboard is now handled in scenery, and needs to be revised here.

[2019-10-17 18:47] pixelzoom commented on #152
10/17/19 dev meeting:

The above logic and BooleanProperty probably belongs in Slider.  It may belong in DragListener.

[2019-10-17 18:52] pixelzoom commented on #151
I renamed this Property in the above commit. @jbphet please review.

[2019-10-23 18:38] jbphet commented on #150
Marking as deferred, and I have a reminder on my calendar for three months from now to check the status.  The sound design course should be completed by then, and if it is, this branch can be deleted.

[2019-10-23 21:15] #151 closed, assigned to jbphet

[2019-12-30 18:44] jbphet commented on #152
I like the idea of having the information about how the slider is being dragged in `Slider` or `DragListener`.  I just spent some time looking at how best to do this, and I have some observations and questions.  Let's start with a general proposal.  How about instead of having a `BooleanProperty` like the one shown in the code above we have a general property - something like `dragStateProperty` -

[2020-01-02 18:44] jbphet commented on #152
Related issue: https://github.com/phetsims/ohms-law/issues/152

[2020-01-03 19:57] pixelzoom commented on #152
3 problems with that plan:
(1) `dragStateProperty` may not be the best solution of listeners (DragListener, SimpleDragHander). Has @jonathanolson been consulted?
(2)`dragStateProperty` is unlikely to be moved to the listeners for a long time.
(3) Other things that are draggable won't be able to take advantage of `dragStateProperty` if it's specific to Slider.

This feature belongs in `DragListener

[2020-01-06 17:32] jbphet commented on #152
@jonathanolson - please log your input on how you think this should be handled, then mark this for dev meeting so we can decide who will make the changes and when.

[2020-01-22 19:41] oliver-phet opened #153 "User request: amps instead of milliamps"

[2020-01-23 03:49] ariel-phet commented on #153
@arouinfar @zepumph I think this might be a nice option to add, and it might be a good simple case of modifying a sim that has description (I believe). As we have more and more sims outfitted with various a11y features we will want to consider the process of updating sims with feature requests. I think this one falls on the fairly simple side.

I could think of 3 ways to accomplish such an option

[2020-01-23 22:36] zepumph commented on #153
Do you mean (3)?

[2020-01-23 23:37] zepumph opened #154 "tandem should be passed through options when options is supported"
This is new from after working on this sim, but there are many places in this sim where tandem is passed as a param only to be used as the default to options. This is worse that just passing as an option, with `Tandem.REQUIRED` as the default for the option.

[2020-01-24 00:08] zepumph commented on #153
I investigated this, and after looks into it more I thought I would experiment with option (3). Before I knew it I had just done it (about an hour of poking around). I committed it just to see what people think. It would be easy to tweak or revert, just let me know what is best.

Updating the descriptions were very simple, but depending on if we go with the radio buttons or not, we will need to ad

[2020-01-24 00:09] zepumph commented on #153
![image](https://user-images.githubusercontent.com/6856943/73034772-612de880-3df2-11ea-972c-d27a964c40ae.png)

[2020-01-24 17:35] arouinfar commented on #153
I like the idea of supporting amps, and I think it may even be preferable for a lesson more focused on proportional reasoning since it would eliminate the need for unit conversion.

Of the ideas proposed by @ariel-phet, I most prefer options (1) or (3). I think the combobox would add more complexity than necessary to achieve the goal.

@zepumph thanks for getting option (3) up and running! I think

[2020-01-28 06:17] ariel-phet commented on #153
@arouinfar I am not sure if I would bury the units in an options menu for this one. I could very easily see this being desirable for iO clients, and considering we have a teacher request, if we can accomplish the request in a way that we are happy with for flow and such, I think it is reasonable to include.

I think a good example is Under Pressure, which has a "Units" panel with radio buttons all

[2020-01-28 17:33] arouinfar commented on #153
Alright, I've been convinced. 😄

I tinkered a bit more with the alignment of the radio group, and I think either of these options could work well.

(1) Center-aligned with current panel & left-aligned with V/R panel.
![image](https://user-images.githubusercontent.com/8419308/73288839-f1847880-41b8-11ea-8842-69ecfc48b1d8.png)

(2) Top-aligned with current panel & left-aligned with V/R panel.
![imag

[2020-01-28 20:48] ariel-phet commented on #153
@zepumph lets go with (2) in @arouinfar mockup above

[2020-01-29 04:47] zepumph commented on #153
Implemented above. Please review for visual pixel polishing. Note that all display logic like font size is in `UnitsRadioButtonContainer`, and layout is controlled at the bottom of `OhmsLawScreenView` with the object called `unitsRadioButtonContainer`.

I think we should also loop @terracoda now that we have a direction, as there may need to be PDOM and alert changes. @terracoda can you please tak

[2020-01-29 16:07] terracoda commented on #153
@arouinfar and @ariel-phet, in the non-visual experience we have headings for Play Area and Control Area, so gien @arouinfar concern, I assume the radio buttons should go in the Control Area. For non-visual users that keeps them out of the Play Area.

I prefer layout (2) as well.

**One question:** Are the units just for the circuit or current or does it matter?
The heading could be "Units for Cir

[2020-01-29 16:22] terracoda commented on #153
I checked the design doc, and of course values for current are only in dynamic descriptions and in context responses.

https://docs.google.com/spreadsheets/d/15LuKXlzkh6xHpNbWC4ujtOfz1F7FJ7tj4oUF8Jvmj-k/edit#gid=0

[2020-01-29 16:39] terracoda commented on #153
In addition, we need to update the screen summary:

**Add the new radio buttons in under the Control Area:**

@zepumph, go ahead and change to 3 paras instead of two, if that's easy.

[2020-01-29 16:43] terracoda commented on #153
@ariel-phet and @arouinfar, these text changes sound good to you? Please see previous comment and the help text choice in https://github.com/phetsims/ohms-law/issues/153#issuecomment-579830533

[2020-01-30 00:25] arouinfar commented on #153
@zepumph the vertical alignment of the radio group is looking a bit off. If it's tricky to precisely align, perhaps you can manually shift the radio group down another few px?
![image](https://user-images.githubusercontent.com/8419308/73409245-f716b700-42bb-11ea-990f-b02cebd966b0.png)

@terracoda the H3 label, radio button labels, and screen summary all look great. As for help text, let's go with:

[2020-01-30 01:00] ariel-phet commented on #153
@terracoda

- Yes these should be in the Control Area

- The units are for the current

- For help text I think "Choose units for current" or perhaps "Choose units for current display"

- I am not sure I love the phrase "swap units" but I think something more pedantic might just get long

[2020-01-30 13:58] terracoda commented on #153
@ariel-phet, how about this? It's a bit longer, but nice and complete:

[2020-01-30 18:26] ariel-phet commented on #153
@terracoda I think that is a nice improvement! I would go with that.

[2020-01-30 18:28] terracoda commented on #153
Thanks @ariel-phet! @zepumph, I'll post a summary in case you need it after my meetings today.

[2020-02-03 13:03] terracoda commented on #153
@zepumph, so to summarize the decisions from https://github.com/phetsims/ohms-law/issues/153#issuecomment-579830533 and https://github.com/phetsims/ohms-law/issues/153#issuecomment-580265556

The agreed upon State descriptions are:

In the screen/scene summary (bolded text):

New stuff for the Control Area:
**H3: Units**
- Paragraph of help text for radio buttons:
  - Choose unit for current.
- La

[2020-02-03 23:44] zepumph commented on #153
I originally had just aligned their centers, it is hard to know the value of the top of the readout, so I ended up just shifting it manually a few pixels, how is that?

@terracoda I implemented your description design. Please review.

[2020-02-04 00:01] arouinfar commented on #153
@zepumph looks perfectly aligned, thanks!

[2020-02-06 19:57] samreid commented on #153
@zepumph asks if we would like to republish this soon.
@ariel-phet replies that it would be nice to do on the soon side, since it is not too complicated and came from a user.
@zepumph asks if it needs PhET-iO redesign?
@ariel-phet requests @zepumph to check in with @kathy-phet about whether we need to update the PhET-iO API.

[2020-02-07 17:23] terracoda commented on #153
@zepumph, the descriptions sound fine, except there the first item in the Units list is counted twice. This might be a quirk to VoiceOver.
![Screen Shot 2020-02-07 at 1 36 46 PM](https://user-images.githubusercontent.com/1902116/74050382-8739b800-49b0-11ea-8b82-a667d5d1fb3b.png)

I also noticed a coding error. There is no parent `ul` Slider Controls, though there are `li`'s on each of the sliders.

[2020-02-07 17:27] terracoda commented on #153
And here is a screen shot of the code:
![Screen Shot 2020-02-07 at 1 46 45 PM](https://user-images.githubusercontent.com/1902116/74051009-bac91200-49b1-11ea-9635-122c5a1204e7.png)

[2020-02-07 17:57] terracoda commented on #153
Also, @zepumph, could you associate the Units `ul` with the Units `h3` with an `aria-labelledby`? I realize that our group-naming conventions are not so consistent, I don't think we used `aria-labelledby` on the "Force Values" heading in GFL regular, but maybe we should. I'll make an issue for that.

**ALSO**, just realized (and am able to reproduce regularly) that the double counting that I hear

[2020-02-07 17:57] terracoda commented on #153
@zepumph, I am going to create new issues.

[2020-02-07 18:04] terracoda opened #155 "Remove list structure and group semantics around Slider Controls"
In https://github.com/phetsims/ohms-law/issues/153#issuecomment-583515016, I noted there was a coding error and in https://github.com/phetsims/ohms-law/issues/153#issuecomment-583528576 I also noticed there were some focus issues when using Home and End keys on the sliders when VO is enabled.

@zepumph assigning to you to remove the list and group semantics for the slider controls. Please re-assig

[2020-02-07 18:11] terracoda opened #156 "Associate the Units ul with the Units h3 with aria-labelledby"
@zepumph from https://github.com/phetsims/ohms-law/issues/153#issuecomment-583528576, I asked you to label the Units `ul` ... so making a separate issue for this item.

Let me know if you have any questions or concerns.

[2020-02-07 18:25] terracoda commented on #155
@zepumph, I can't find the issue in GFLB or GFL where we made the decision to remove the list structure and group semantics on the sliders. Could you post it here if you thin it is important.

[2020-02-07 18:31] terracoda commented on #155
Found https://github.com/phetsims/gravity-force-lab/issues/187 while looking for something else.

[2020-02-07 23:37] zepumph commented on #153
I wonder if we shouldn't make a totally separate issue to investigate that?

[2020-02-08 20:28] terracoda commented on #153
We could. I connected this issue to the GFL one.

[2020-02-11 18:13] zepumph commented on #156
Today @terracoda and I discussed how to proceed with conventions around when to add aria-labelledby or not. Right now we feel like if there is a visual heading, then adding aria-labelledby to the UL makes a lot of sense.

I updated the sun demo to include an example like this.

[2020-02-11 18:18] zepumph commented on #156
I'm not really sure how to add this as an option to `VerticalAquaRadioButtonGroup` though. It isn't really its job to manage things outside of the radio button group. Perhaps we just not this pattern and expect each usage with a heading to add their own labelledby association. @jessegreenberg can you think of a way to add this pattern more strictly. By "this pattern" I mean conditionally creating

[2020-02-11 19:51] zepumph commented on #156
@jessegreenberg and I discussed, and we can't think of a way to automatically add or assert for this case. I think it is just up to the designers of these radio buttons to make sure that aria-labelledby is added when there is a visual heading. Assigning to @terracoda to make sure this ends up in the style guide for RadioButtons.

[2020-02-17 20:11] jessegreenberg commented on #156
I am working on https://github.com/phetsims/molecules-and-light/issues/267 and the request there is to have aria-labelledby for the radio buttons which do not have a visual heading. Would there be an issue adding aria-labelledby to all AquaRadioButtonGroups?

[2020-02-17 20:20] terracoda commented on #156
@jessegreenberg, in phetsims/molecules-and-light#267, I broke the "rule of thumb" because I thought the extra help was needed. That's why I think an option is nice, if it is possible.

[2020-02-17 23:47] jessegreenberg commented on #156
OK - just looking for a place to save effort or standardize but if it makes most sense to add association on a case by case basis we can definitely do that.

[2020-02-18 00:50] zepumph commented on #156
That is ideal, but I can't think of a reasonable way to make it part of the API. I guess we could have it be an option for an associationObject, but I don't know how we would assert that the client was handling it correctly. Thus I feel like probably just ad hoc additions next to each radio button group is as good as can be.

[2020-02-18 01:46] jessegreenberg commented on #156
To clarify, I was wondering about using aria-labelledby on every AquaRadioButtonGroup, like we do for RadioButtonGroup so the markup and attributes for all PhET radio buttons is the same. But it sounds like there are important semantic differences between the two and so they should be different.

[2020-02-18 18:20] zepumph commented on #156
If we decide to do this, let's think about how it will be implemented.

Here I have the following structure (similarly found in ohms-law and GFL)

[code]

With the following scenery code:

[code]

How would you recommend automatically embedding a general aria-labelledby relationship between an "outside" Node like this heading and the `ul` of the radiobutton group.

Right now we would add a third l

[2020-02-18 18:45] zepumph commented on #155
I removed the aria-labelledby association and the `li` container tags (replacing for divs). How does that look?

[2020-02-18 19:00] zepumph commented on #156
Anyways, for this specific issue the task was just one aria-labelledby association, done in this commit. Anything else here @terracoda?

[2020-02-18 19:01] zepumph commented on #156
@jessegreenberg do you think we should create a new issue to discuss a general way to add an aria-labelledby association to `AquaRadioButton`? The alternative being "remember to do it at each usage.

[2020-02-18 19:35] zepumph commented on #153
@terracoda I have done the breakout issues you have created. Besides those, is there anything else here?

[2020-02-19 16:11] jessegreenberg commented on #156
Yes, Ill move to another issue just in case.

[2020-03-22 23:11] zepumph opened #157 "move a11y strings into main strings json"
From phetsims/chipper#795

[2020-03-24 00:26] zepumph commented on #157
@jessegreenberg could you take this one on?

[2020-03-26 17:55] zepumph commented on #155
Pinging here for a review before moving further for this sim.

[2020-03-26 17:55] zepumph commented on #153
Pinging here for a review before moving further for this sim.

[2020-03-26 20:13] terracoda commented on #153
The sliders and the radio groups sound great. The pdom structure looks good!
Thanks @zepumph!

I think this issue is done.

[2020-03-26 20:28] terracoda commented on #156
The radio group with aria-labelledby is working great in Ohm's Law.

[2020-03-26 20:32] terracoda commented on #155
The sliders sound good and the pdom looks great. Thanks @zepumph. I think this issue is done.

[2020-03-26 20:33] terracoda commented on #155
Back to you for @zepumph for closing.

[2020-03-26 20:34] terracoda commented on #153
@zepumph back to you for closing.

[2020-03-27 13:55] terracoda opened #158 "Update Keyboard Shortcuts dialog - need group navigation"
@zepumph, now that there is a radiobutton group in this sim (see issue #153 ), we need to update the Keyboard Shortcuts dialog to include group navigation - both visually and in the PDOM.

[2020-03-27 22:39] #153 closed

[2020-03-27 23:02] zepumph commented on #154
tandem is now passed as a parameter only the the screen, model, and view. Closing

[2020-03-27 23:02] #154 closed

[2020-03-27 23:09] #155 closed

[2020-03-27 23:17] zepumph commented on #156
Sounds great. Closing

[2020-03-27 23:17] #156 closed

[2020-03-27 23:20] zepumph commented on #158
Please review.

[2020-03-27 23:22] zepumph opened #159 "Revise phet-io implementation"
This original instrumentation was done with the "instrument everything" approach. I will work with @ariel-phet as the lead designer to narrow this down and then apply phetioFeatured.

[2020-03-27 23:22] zepumph opened #160 "implement phetioFeatured"
on hold until https://github.com/phetsims/ohms-law/issues/159 is complete

[2020-03-27 23:29] zepumph opened #161 "prefer abbreviated units in model Properties?"
From #159, I know that in `units.js` it says to prefer abbreviated units. This would mean making the following changes in OhmsLawModel.js

* volts -> V
* milliamperes -> mA
* ohms -> Ω

@samreid does this feel like something I should do?

[2020-03-27 23:34] zepumph commented on #159
Questions for designers:
- [ ] the tandem name in "controlPanel" makes sense to me, but then it feels a bit weird that `currentUnitRadioButtonGroup` isn't part of that. Not as much visually as organizationally. What do you think?

[2020-03-28 00:28] zepumph commented on #159
I made it through studio, and made the above commits and comments. @ariel-phet please review the above comments. Let me know if you want to set up an in person meeting to go through them, or stay async. Thanks!

[2020-03-28 01:32] samreid commented on #161
The rule of thumb we discussed with @pixelzoom is that the `Property` `units` should match what is shown in the user interface.  So, using V, mA, A and Ω sounds good to me.

[2020-03-28 10:00] terracoda commented on #158
Thanks @zepumph! Looks good. Closing Time.

[2020-03-28 10:00] #158 closed

[2020-03-28 15:53] pixelzoom commented on #161
Yep, agreed.

Should spend the time to do this project-wide?   That would mean addressing these notes in units.js:

[code]

[2020-03-28 15:57] pixelzoom commented on #161
And I seem to recall that `'\u2126'` is preferred to `'Ω'`.

[2020-03-28 17:38] samreid commented on #161
I recall that consensus as well, though not the reasoning behind it.

[2020-03-30 19:22] zepumph opened #162 "Publish this sim with zoom/magnification"
From today's a11y planning meeting, we decided, that since this sim is being republished anyways, it could be nice to add zoom/mag as a feature to this as well. Tagging @jessegreenberg and @emily-phet so they are made aware of this issue.

@jessegreenberg what needs to be done to make this happen?

[2020-04-07 19:57] zepumph commented on #152
This was discussed as part of https://github.com/phetsims/scenery/issues/1016 just now with @jbphet, @jessegreenberg, and me. In general, ,since this issue was tagged, the general sound implementation pattern has changed from listening to the model to instead listening to user input. We decided that the Properties were only created to facilitate the sound generators listening to the model, and tha

[2020-04-13 18:55] jbphet commented on #150
My reminder went off and I just checked in with @briannatomlinson and she said that all of the videos have been recorded, so it is safe to delete the branch.

[2020-04-13 18:56] jbphet commented on #150
Branch deleted, closing.

[2020-06-03 18:33] zepumph commented on #159
@ariel-phet and I just spoke, and hope to have this review complete by 6/12.

[2020-06-03 18:33] zepumph commented on #162
There is a bit of momentum in this repo, so it would be good to ping @jessegreenberg again on the steps needed for this issue.

[2020-06-22 17:20] zepumph commented on #162
After talking with @jessegreenberg during the a11y planning meeting today, I think we should just turn this on, and see how it goes!

[2020-06-22 22:21] zepumph commented on #162
On hold until https://github.com/phetsims/chipper/issues/956

[2020-06-29 18:20] zepumph commented on #162
@jessegreenberg, adding this seemed mostly normal and fine, but you have more experience with this so I thought I would pass it over to you for a spot check. One spot that seemed weird to me is trying to use the sliders when you zoom in a bit. The pan takes priority with much more strength than I would have thought. Is that intended behavior? You basically have to zoom back out again to use the sl

[2020-09-22 01:55] ariel-phet commented on #159
I have had no time for this project. Although it would be good for me to do at some point, I am marking deferred.

[2020-10-09 15:47] terracoda opened #163 "Missing Sound Design Credits"
There are no sound designers credited for Ohm's Law.
Names fell through all the comments in #54 and https://github.com/phetsims/QA/issues/313#issuecomment-488394000

![Screen Shot 2020-10-09 at 1 08 55 PM](https://user-images.githubusercontent.com/1902116/95603928-866e8f80-0a31-11eb-9c21-0c9327a8d797.png)

Ashton Morris and possibly Mike Winters need to be added as Sound Design.

@emily-phet or @A

[2020-10-09 15:49] terracoda commented on #163
Please re-assign to me @terracoda when you verify Michael Winters.

[2020-10-09 15:59] terracoda commented on #163
Same as in Resistance in a Wire, we are missing some people including me.
I'll see if there is an issue open.

[2020-10-10 03:25] emily-phet commented on #163
@terracoda

I think only Jesse Greenberg, and Mike Winters are missing. You're on there, @terracoda .

[2020-10-12 16:26] terracoda commented on #163
Oh, so I am :-)

[2020-10-29 22:38] zepumph commented on #163
Updated and published:

https://phet.colorado.edu/sims/html/ohms-law/latest/ohms-law_en.html

[2020-10-29 22:38] #163 closed

[2021-01-14 18:47] zepumph commented on #159
We are ready for design review on this, assigning to @kathy-phet and @arouinfar.

[2021-03-03 23:53] jessegreenberg commented on #162
The result of the comments above was https://github.com/phetsims/scenery/issues/1057 which improved MultiListener and addressed these issues. That issue was reviewed and closed so this one can be as well.

[2021-03-03 23:53] #162 closed

[2021-03-04 00:34] zepumph commented on #162
Yes, but note that the sim has not yet been published with zoom mag to my knowledge. Perhaps this is an outdated issue, because all sims from master will now get zoom/mag. The only reason to reopen would be if OL was a priority to republish, which it seems not to be.

[2021-03-04 01:06] jessegreenberg commented on #162
Ah, yes you are right. I think OK to close this, the feature is working well but republishing this sim is no longer in the list of team goals.

[2021-05-19 21:45] emily-phet opened #164 "Default step size for sliders too small?"
Was working with Ohm's Law to make recordings for the description course. Noticed that it takes like 30 keypresses to traverse the whole slider. I don't think that's what we originally designed. When this sim gets worked on again, would be good to check that.

[2021-07-02 22:54] jbphet commented on #150
Reopening.  This branch was restored during an effort to recover some branches that were accidentally deleted.  This one had been _intentionally_ deleted, and now needs to be re-deleted.  See https://github.com/phetsims/special-ops/issues/198.

[2021-07-02 22:54] jbphet commented on #150
Re-deletion complete.  Closing.

[2021-07-02 22:54] #150 closed

[2021-07-02 22:55] jbphet commented on #106
Reopening.  This branch was restored during an effort to recover some branches that were accidentally deleted.  This one had been _intentionally_ deleted, and now needs to be re-deleted.  See https://github.com/phetsims/special-ops/issues/198.

[2021-07-02 22:55] jbphet commented on #106
Re-deletion complete.  Closing.

[2021-07-02 22:55] #106 closed

[2021-07-02 22:56] jbphet commented on #107
Reopening.  This branch was restored during an effort to recover some branches that were accidentally deleted.  This one had been _intentionally_ deleted, and now needs to be re-deleted.  See https://github.com/phetsims/special-ops/issues/198.

[2021-07-02 22:56] jbphet commented on #107
Re-deletion complete.  Closing.

[2021-07-02 22:56] #107 closed

[2021-11-26 19:14] terracoda commented on #164
The default number of step sizes should be around 18.
The first step goes from 0.1 Volts to 0.5 Volts, and then up by 0.5 Volts with each step up to 9.0 Volts.

Seems to be working on master and in the published version.

[2021-11-26 19:25] terracoda commented on #164
Oh but for Resistance the range is much wider 1000 ohms.
The first step goes from 10 to 10 Ohms and then up by 20 Ohms with each step up to 1000 Ohms.

That indeed results in 50 key presses at the default step size.
The Shift modifier goes to 1 Ohm which would be 999 key presses.
With page up and page down shortcuts the step size is 99 Ohms - I don't think we we can adjust larger steps. I think it

[2022-02-22 17:49] Nancy-Salpepi opened #165 "Pressing 'Reset All' produces sound of last sim element with Studio"
**Test device**
MacBook Air (m1 chip)

**Operating System**
12.2.1

**Browser**
Chrome

**Problem description**
Seen when testing https://github.com/phetsims/phet-io/issues/1626 in master:

In the Studio wrapper, the launched sim will produce sound when the Reset All button is pressed. It will not produce the Reset All button sound.

Also similar to what I reported for GFL https://github.com/phets

[2022-02-22 17:57] Nancy-Salpepi commented on #165
The behavior is not the same in the State wrapper: With Set State Rate = 0, if I generate sound in the downstream sim by moving the sliders and then press Reset All--no sound is generated.

However, sound is generated if I:
1. Set state rate = 0
2. Generate sound in downstream sim by moving sliders
3. Press the "Set State Now" button

Also similar to what I see in GFL and Faraday's law.

[2022-02-22 22:58] zepumph commented on #165
Yeah, this is one of those classic "hard state/sound" clashes to deal with. The model moved, but it isn't based on user input. Likely the solution is to have sound based on user-controlled elements instead of the model, so that when model Properties change because of state setting, we won't hear that sound. Thanks for the good labels, this should be tackled upon next work in the repo.

[2022-03-11 23:27] jbphet opened #166 "Integrate sound generation that is now supported by Slider"
In https://github.com/phetsims/sun/issues/697, generalized support for sound generation by sliders was added.  The time was not taken to integrate this into all sims that were doing customized sound generation related to sliders, such as this one.  Instead, the default sound was simply turned off via the options.  Before this sin is released again off of master, we should consider integrating the

[2022-10-18 04:09] arouinfar commented on #159
A cursory look over the tree in master and skimming @zepumph's questions in https://github.com/phetsims/ohms-law/issues/159#issuecomment-605356862, the design work looks fairly minimal. That said, this sim isn't a current PhET-iO priority, so unassigning.