[2013-03-13 21:34] phetsims opened #1 "Translators need to be notified when this is published"
In the process of converting this simulation to HTML5, one of the strings was changed from "current =" to simply "current".  Most translation files were edited in a way that probably fixed this, but some (Arabic and Hebrew for certain, and probably others) couldn't be easily changed.  Translators should be notified when this is published so that they can check and, if needed, fix any resultant err

[2013-04-01 21:30] jbphet opened #2 "The 'I' indicator disappears at max R and default V value"
When the V is at its default value and R is turned all the way up, the I character is occluded by the R.  See the attached screen shots of the new version and the old version.  The new should be made to look more like the old.

![Ohm s Law with max R and invisible I](https://f.cloud.github.com/assets/3082831/325713/84b8da6e-9b13-11e2-80d1-19658d7a58cc.png)

![Ohm s Law old version with max R and I

[2013-04-01 21:36] jbphet opened #3 "Min R is too small"
At the default screen size of 1024 x 768, the R becomes so small that it is unreadable when the minimum value is set.  See the attached screen shots that show the problem and how it appears in the old Flash version.  The new version should be changed to behave more like the Flash version.

![ohm s law at min V and min R - R too small](https://f.cloud.github.com/assets/3082831/325733/2cb5cfba-9b14-

[2013-04-01 21:39] jbphet opened #4 "Default size of the I is too small"
When the simulation first loads, when testing at the default resolution of 1024 x 768, the I character is too small.  It should look closer to the proportionate size used in the old Flash simulation.  Please see the attached screen shots for an illustration.

![ohm s law I too small at default values for V and R](https://f.cloud.github.com/assets/3082831/325748/a668a99a-9b14-11e2-88b3-20319d3510ee

[2013-04-01 21:47] jbphet opened #5 "Resistor doesn't look quite right"
The resistor is close, but needs a few improvements.  On the left side, the gradient shouldn't extend into the ellipse that represent the left side (where the wire connects).  Also, at the top left, the upper line doesn't connect all the way to the ellipse. At the lower left, the bottom line doesn't connect straight to the ellipse.  On the right edge, the side doesn't look quite even.

See the att

[2013-04-01 21:51] jbphet opened #6 "Arrows appear to stop scaling down in some cases"
To duplicate, start with a freshly reset version of the sim.  Set both V and R to their minimum values.  Now slowly raise R to it's max value.  The arrows that represent the current will scale down a little at first, then stop scaling and stay the same size as the resistance goes up.

Try this same set of steps on the old Flash version in order to see the desired behavior, which is that the arrows

[2013-04-01 21:53] jbphet opened #7 "The current arrows can get cut off on the left side"
At high current values, the arrows can get cut off.  A larger canvas would probably fix this.  See the screen shot for details.

![ohm s law with too little space between equals and first digit](https://f.cloud.github.com/assets/3082831/325826/8ca3035a-9b16-11e2-8237-cd0eba99d450.png)

[2013-04-01 21:58] jbphet opened #8 "More space needed between equals sign and current value"
At high current values, the equals sign and the numerical value representing the current can run together.  See the attached portion of a screen shot for details.

![equals sign running together with current value](https://f.cloud.github.com/assets/3082831/325837/3a2c7696-9b17-11e2-940e-222a182e0e31.png)

[2013-04-04 22:58] jbphet opened #9 "Layout is off in FireFox"
The text goes off the top in FireFix, see the attached screen shot.  This doesn't happen in Chrome, not sure why.  I've also attached a screen shot of the current version on Chrome for reference.

![ol-on-firefox](https://f.cloud.github.com/assets/3082831/341748/200960f6-9d7b-11e2-826b-93a1da1c21d9.png)

![ol-on-chrome](https://f.cloud.github.com/assets/3082831/341749/27eef3b2-9d7b-11e2-96d1-8fb12

[2013-04-08 10:34] #8 closed, assigned to nobody

[2013-04-08 11:39] #3 closed, assigned to nobody

[2013-04-08 12:26] #5 closed, assigned to nobody

[2013-04-08 12:33] #2 closed, assigned to nobody

[2013-04-08 12:48] #7 closed, assigned to nobody

[2013-04-08 12:53] #4 closed, assigned to nobody

[2013-04-08 13:01] #6 closed, assigned to nobody

[2013-04-08 13:21] #9 closed, assigned to nobody

[2013-04-08 22:40] ghost opened #10 "Text box for current does not expand to accommodate translated text"
The attached screen shot is probably the best illustration.

![ohms-law-with-translated-text-outside-box](https://f.cloud.github.com/assets/3045815/354396/3dfaac62-a09d-11e2-82be-a54a4b0f26c8.png)

[2013-04-12 08:06] #10 closed, assigned to nobody

[2013-04-18 23:10] ghost opened #11 "Change font of equals sign in formula"
Mike Dubson, who designed the original Flash simulation, would like the font for the equals sign changed to the same font used in Resistance in a Wire.  The rounded edges of the current version look odd.

[2013-04-18 23:14] #11 closed, assigned to nobody

[2013-04-18 23:54] ghost opened #12 "Current arrows are tiny at startup, hard to see"
Current arrows should be roughly the same size as in the original Flash simulation at startup (default values).  Please see attached screen shots for more information.

![ol-current-arrows-at-startup-html-sim](https://f.cloud.github.com/assets/3045815/399892/599fe5a2-a883-11e2-8a64-860672236c5f.png)

![ol-current-arrows-at-startup-flash-sim](https://f.cloud.github.com/assets/3045815/399894/5eb154b

[2013-04-19 08:21] #12 closed, assigned to nobody

[2013-04-19 23:24] ghost opened #13 "Sounds don't keep up on iPad or Nexus 7"
The sounds for adding and removing the batteries work great on my desktop machine and on some of the tablets, but on the iPad and the Nexus 7 they are delayed.  Perhaps there is a way to load them and then play them.  Also, I looked at the code and noticed that there is a test for what type of file can be played.  This may be contributing to the delay.

[2013-04-19 23:27] ghost opened #14 "The 'I' in the formula gets occluded by the 'R' in some browsers."
I suspect that this is due to font differences.  See the attached screen shot for an example.  This was fixed for Chrome, and woks well in that browser, but behaves slightly differently in other browsers.  I noticed this on IE9, Safari, iPad, and FireFox.

![ol-occluded-I-with-large-R](https://f.cloud.github.com/assets/3045815/404451/bd21cd6e-a948-11e2-961c-6eddb37333c9.png)

[2013-04-19 23:31] phetsims opened #15 "Resistor dots messed up on Samsung Galaxy Tab 2"
The dots on the resistor that are meant to depict resistivity are not rendered on Samsung Galaxy Tab 2.

Note: Please don't work on this one just yet (unless it is an easy fix) - PhET is going to have some internal discussions about whether support for this device is really required.

[2013-04-22 13:32] #13 closed, assigned to nobody

[2013-05-01 20:21] samreid opened #16 "Translations do not load properly when launching the minified version"
After minification with grunt, the translation files can no longer be loaded.  The error is:

Uncaught Error: undefined missing ../nls/fr/ohms-law-strings ohms-law-debug.js:296
main ohms-law-debug.js:296
req ohms-law-debug.js:358
(anonymous function) ohms-law-debug.js:145
(anonymous function) ohms-law-debug.js:534
main ohms-law-debug.js:300
...

I've assigned this to myself and will work on it sho

[2013-05-13 17:12] jbphet opened #17 "Cursor changes to "insertion" style when dragging sliders"
When dragging the slider, the cursor changes from being a finger point to being the 'text insertion' slider.  The Resistance in a Wire simulation has the same problem.

[2013-05-14 08:20] #17 closed, assigned to nobody

[2013-05-22 14:56] #14 closed, assigned to jbphet

[2013-07-30 04:38] jonathanolson opened #18 "Won't run, bad reference to scenery-phet's ResetAllButton"
Presumably needs changes similar to https://github.com/phetsims/build-an-atom/commit/0cc01f46a511068268c2569ed690e46c3a40116b

Failed to load resource: the server responded with a status of 404 (Not Found) http://192.168.0.2:8080/scenery-phet/js/ResetAllButton.js?1375158977629
Uncaught Error: Script error for: SCENERY_PHET/ResetAllButton
http://requirejs.org/docs/errors.html#scripterror require-2.

[2013-07-30 04:46] #18 closed, assigned to nobody

[2013-07-30 04:51] jonathanolson opened #19 "Slider control panel cut off with a more-square aspect ratio"
See the screenshot below:

![ohms-aspect-ratio](https://f.cloud.github.com/assets/480878/876628/83abdb6c-f8d3-11e2-90dc-7a82ec4d34ac.png)

I think this typically means some items are outside of the allowed bounds. I recall CM stating that if you add "?dev" to the URL (or just "dev" to the query string) that it will draw a red rectangle around the stage bounds. Everything should be in those bounds.

[2013-07-30 06:58] jonathanolson opened #20 "Scenery Performance"
I've created a performance branch (https://github.com/phetsims/ohms-law/tree/performance) with 5 commits to reduce Scenery's overhead in the simulation, and 1 to allow the simulation to be built with the recent chipper changes (now ../chipper/bin/build.sh works).

There weren't too many changes I could make in the sim to increase performance. I set the pickable:false flag on non-interactive nodes

[2013-07-30 22:14] jbphet opened #21 "OhmsLawStage and RootNode add unnecessary complexity"
The types 'OhmsLawStage' and 'RootNode' are basically containers for the dynamic portions of the simulation.  These probably made sense when the buttons where done in Bootstrap, but now they aren't necessary and add complexity that isn't needed.  It would be better if the FormulaView, WireBox, and SlidersBox were all added directly in the view type, and OhmsLawStage and RootNode were just removed.

[2013-07-30 22:18] jbphet opened #22 "Remove redundant copyright notices"
Most, if not all, of the JS files have a copyright notice at the top of the file and in the header description.  The one in the header is redundant, since the one at the top is added and updated automatically.  Please remove the notices in the headers.

[2013-07-30 22:31] jbphet opened #23 "Should use the new 'standard' sound toggle button"
OhmsLawView is creating a button for turning sound on and off.  A standard button has been created for consistency across simulations, and should be used instead.  The button can be found in 'SCENERY_PHET/SoundToggleButton'.

[2013-07-30 22:35] jbphet opened #24 "Add credits"
Please add credits.  Initially, they should match the original simulation.  PhET will make some adjustments and will add MLL later.

[2013-07-30 22:55] jbphet opened #25 "Constants in OhmsLawModel can be local, some can be removed entirely"
There are a set of constants declared just inside the OhmsLawModel constructor function.  These are currently being attached to the prototype, but don't seem to be used outside of this file.  They could be declared locally, which leads to a cleaner type.  Please see ChargeComparisonDisplay.js in the Build an Atom sim for an example.

Some of the constants, such as defaultW, don't seem to be used a

[2013-07-31 13:56] #19 closed, assigned to nobody

[2013-07-31 13:56] #21 closed, assigned to nobody

[2013-07-31 13:56] #22 closed, assigned to nobody

[2013-07-31 13:56] #23 closed, assigned to nobody

[2013-07-31 13:56] #24 closed, assigned to nobody

[2013-07-31 14:06] #25 closed, assigned to nobody

[2013-08-03 01:54] #20 closed, assigned to nobody

[2013-08-09 18:54] jbphet opened #26 "Artifacts occur sometimes around the "R""
See the screen shot.  JO will probably need to look at this.

![ol-with-artifacts-from-r-character](https://f.cloud.github.com/assets/3082831/940147/22238e76-0125-11e3-9b26-d63b0238ad9c.png)

[2013-08-28 16:34] jbphet opened #27 "User request for ability to translate the 'V' in the equation"
The following message was received from an international user:

Hi Kathy!

We are very happy to see that the new HTML5 simulators are now showing up on phet.colorado.edu, and we are eager to start our work on translations. Can you please advise us on how to get started with the translation?

A side note: The "Ohms Law" simulator use the symbol "V" for voltage (V=IR). In Norway (and the rest of Eur

[2013-08-28 19:03] jbphet opened #28 "Refactor to use PhetFont"
PhetFont should be used in all locations where fonts are specified.

[2013-08-28 21:16] #28 closed, assigned to nobody

[2013-08-29 18:30] pixelzoom opened #29 "use default PhetFont family instead of 'Verdana'"

[2013-08-29 18:32] #29 closed, assigned to nobody

[2013-09-05 17:26] pixelzoom opened #30 "replace slider.png with image created by Sharon"
slider.png is currently from the Flash IDE image library, and we don't know if that meets PhET license requirements. So...
- get a new slider.png from Sharon, put it in images/
- update images/license.txt file
- include the original file, and put it under assets/

[2013-09-11 17:40] #30 closed, assigned to nobody

[2013-10-09 14:32] #16 closed, assigned to samreid

[2014-02-24 17:23] samreid opened #31 "Exception when embedding in iframe"
When embedding Ohm's Law 1.0.0 in an iframe, it works properly in Win8.1/Chrome but fails in Win8.1/IE11 with "access is denied" on the following code: `if(parent&&parent.frameElement)`.  I think the best solution to this problem would be testing a new build and seeing if the problem goes away.

[2014-06-19 18:09] #31 closed, assigned to nobody

[2014-06-19 19:28] bryo5363 opened #32 "Sound does not fully render when increasing voltage in IE9"
When increasing the voltage very quickly in IE9, the sound only registers for the addition of one battery rather than all 6

[2014-06-19 20:19] orejolaphet opened #33 "Sliders difficult to use on iPad"
Testing: http://www.colorado.edu/physics/phet/dev/html/ohms-law/1.2.0-rc.1/ohms-law_en.html
Sliders can be difficult to move at times and can be unresponsive on iPad. It may take multiple touches to get the slider to move. For example, sliders do not react to touch as well as sliders for Morality.

[2014-06-19 20:37] bryo5363 opened #34 "Batteries are not renderign fully when altering voltage in Firefox"
When using the voltage sliders on Firefox 30.0 on OS 10.8, the batteries are not rendering fully. There are gaps in between each image of the battery. Once the cursor is not held over the slider, the batteries will fully render.

[2014-06-26 15:41] #33 closed, assigned to nobody

[2014-07-29 20:54] pixelzoom opened #35 "website thumbnail is not checked in"
assets/ohms-law-128.png

[2015-01-16 22:05] pixelzoom opened #36 "directory structure violates PhET convention"
Source-code directory structure should look like this:

[code]

[2015-01-16 22:53] pixelzoom commented on #36
Done.

I also fixed copyrights and fixed imports that weren't using OHMS_LAW path.

[2015-01-16 22:53] #36 closed

[2015-03-06 20:02] pixelzoom opened #37 "sim doesn't follow convention of using single quotes for strings"
Discovered while trying to find 'red'.  This sim has 'red' and "red", and lots of other strings that use double quotes.

[2015-03-06 20:04] pixelzoom opened #38 "use PhetColorScheme.RED_COLORBLIND ?"
This sim uses 'red' and "red" for several things. For common types of colorblindness, red will look like black. Since this sim appears to be maintaining a color correlation between red UI elements (arrows, 'I', equation,...) it's recommended to use PhetColorScheme.RED_COLORBLIND.

[2015-03-31 20:25] pixelzoom opened #39 "branch: performance"
Please describe or delete if no longer necessary.

[2015-04-01 17:02] jbphet commented on #39
Performance experiments that were merged into master.  Branch deleted, closing.

[2015-04-01 17:02] #39 closed

[2015-05-27 15:51] orejolaphet opened #40 "Issue "?stringTest=double" text overlap"
Testing for task https://github.com/phetsims/tasks/issues/245
Text overlaps for voltage and resistance
![screen shot 2015-05-27 at 9 49 22 am](https://cloud.githubusercontent.com/assets/5631059/7840711/eb187186-0455-11e5-8a80-ce9d51ec7936.png)

[2015-06-25 15:02] pixelzoom opened #41 "replace toFixed with dot.Util.toFixed"
This sim uses JavaScript's built-in toFixed. This function should not be used directly; it is notoriously buggy, and behavior differs depending on browser, because the spec doesn't specify whether to round or floor. Use dot.Util.toFixed, see its doc for details.

[2015-08-04 16:37] #41 closed

[2015-08-06 15:41] jbphet commented on #35
Screenshot is now present, closing.

[2015-08-06 15:41] #35 closed

[2015-08-10 15:57] jbphet commented on #1
Our plan is to notify translators for all sims once the translation facility comes on line, so no need to track a separate issue for Ohm's Law.  Closing.

[2015-08-10 15:57] #1 closed

[2015-09-30 20:37] jbphet commented on #15
Samsung Galaxy Tab 2 is no longer a supported platform, and hasn't been for a while.  Closing.

[2015-09-30 20:37] #15 closed

[2015-10-09 23:31] jonathanolson opened #42 "Automated testing error"
[code]

[2015-11-10 18:33] pixelzoom opened #43 "reduce coupling to OhmsLawModel"
There are many cases where a constructor has parameter:

`@param {OhmsLawModel} model`

... but only needs access to one or two things in the model.

For example:

`function Arrow( model, x, y, rotation )`

... only needs access to `model.currentProperty`, so a better constructor would be:

`function CurrentResistanceView( currentProperty, x, y, w )`

[2015-11-16 06:29] pixelzoom commented on #42
Still a problem as of 641be1e5f98b335dfc8e82cf6bdd540f97a47630.

[2015-11-19 19:19] pixelzoom commented on #42
Was this fixed by https://github.com/phetsims/vibe/issues/20? Error looks the same.

[2015-11-19 19:44] jbphet commented on #42
This was due to an issue with vibe, see https://github.com/phetsims/vibe/issues/20, should be fixed.  Closing.

[2015-11-19 19:44] #42 closed

[2016-01-11 19:18] pixelzoom opened #44 "unused strings"
[code]

[2016-01-14 17:29] orejolaphet opened #45 "Artifacts tracing out bottom part of the R when changing value"
Test device: Personal Mac, and Dirac
Operating System: OSX 10.11
Browser: Safari 9.0.2
Problem description: When Voltage is at maximum value 9.0 V, slowly decreasing the value of Resistance produces a tracing artifact of the bottom part of the R as the character "R" decreases in size

Steps to reproduce:
Place Voltage at Maximum value
Bring Resistance to Maximum value
Slowly decrease value of the

[2016-01-14 17:31] orejolaphet commented on #45
Artifacts disappear once the Resistance reaches minimum value, also disappears once Voltage manipulated.

[2016-01-14 18:03] bryo5363 opened #46 "Simulation is unresponsive on Microsoft Edge"
Test device: Acer Aspire R13 (Bryan's Personal Computer)

Operating System: Windows 10 64-bit

Browser: Microsoft Edge 25.10586.0.0

Problem description: The simulation does not work for Microsoft Edge. Once the user interacts with the sliders, the simulation immediately becomes unresponsive. Moreover, the Voltage and Resistance characters experience some unusual manipulation; the characters becom

[2016-01-15 20:19] elisemorgan opened #47 "Issues with Double, Long, rtl String Tests"
Related to https://github.com/phetsims/tasks/issues/479

Test device: Personal Mac

Operating System: OS X 10.10.5

Browser: Chrome 47.0.2526.106

Problem description: Funky with double, long, rtl strings

Steps to reproduce: Perform string tests

Severity:

Screenshots:
Double:
![screen shot 2016-01-15 at 1 12 42 pm](https://cloud.githubusercontent.com/assets/12610678/12364169/67b7e44c-bb8a-11e5-

[2016-01-19 16:37] orejolaphet commented on #45
Related to the task https://github.com/phetsims/tasks/issues/474

[2016-02-12 00:55] #44 closed

[2016-02-12 00:56] pixelzoom commented on #40
Duplicate of https://github.com/phetsims/ohms-law/issues/47 ?

[2016-02-16 19:35] jbphet commented on #27
Support for this now exists in the HTML5 simulation, and I tested it by editing the string file.  Looks good, here is a screenshot (X used instead of V):

![ol-trans-v](https://cloud.githubusercontent.com/assets/3082831/13088502/bc52a8c4-d4a9-11e5-823f-b6b1c39ad175.PNG)

This will be available to users as soon as this sim is republished.  Closing, since the functionality exists.

[2016-02-16 19:35] #27 closed

[2016-02-16 19:42] jbphet opened #48 "clean up directory structure"
Under the ```view``` directory there are a couple of subdirectories that don't really add value to the organization of the code.  Since some work is being done on this sim anyway in order to make it translatable, this directory structure should be cleaned up.

[2016-02-16 20:01] #48 closed

[2016-02-16 23:02] ariel-phet commented on #32
We no longer support IE9, closing

[2016-02-16 23:02] #32 closed

[2016-02-16 23:03] ariel-phet commented on #46
Will be curious if when publishing off redeploy shas this issue is resolved.

[2016-02-16 23:05] ariel-phet commented on #34
Resolved, closing

[2016-02-16 23:05] #34 closed

[2016-02-16 23:14] jbphet commented on #46
This sim was published before the Edge browser existed, and there were a number of things done in Scenery and other libraries to make PhET sims work, so it's not too surprising that the simulation have problems.  I just tested using the latest versions of all libs, and the sim works fine on Edge.  This will, of course, need to be tested on the next release.

[2016-02-16 23:15] jbphet commented on #40
Should now be fixed, will make sure that it is verified on the next release candidate.

[2016-02-16 23:24] jbphet commented on #38
Done, closing.

[2016-02-16 23:24] #38 closed

[2016-02-16 23:25] jbphet commented on #47
This should now be fixed, and I'll make sure it gets tested on either the next dev or RC release.

[2016-02-16 23:32] ariel-phet commented on #37
marking as deferred unless easy for @jbphet to fix

[2016-02-16 23:32] jbphet commented on #37
I just removed a few double quotes from comments, but other than that didn't see any.  My guess is that they were removed a while back when the ESLint rule that checked for this was put into play.  Looks like our work here is done.  Closing.

[2016-02-16 23:32] #37 closed

[2016-02-16 23:33] ariel-phet commented on #43
mark as deferred unless easy for @jbphet to currently fix

[2016-02-16 23:34] jbphet commented on #45
This is a duplicate of #26, closing.

[2016-02-16 23:34] #45 closed

[2016-02-17 20:19] BryceAG commented on #26
Still occurs on Win 7 IE, but not firefox or chrome

[2016-02-19 18:13] elisemorgan commented on #26
This issue is reproducible on OS 10.10.5 Safari 9.0.3 (10601.4.4)

[2016-02-19 18:24] elisemorgan commented on #47
This issue is resolved

[2016-02-19 18:24] #47 closed

[2016-02-19 20:37] BryceAG commented on #26
Reproduced on Win 8 IE but not FF or chrome. Also will happen to all characters if tested with parameter ?stringTest=R

[2016-02-22 17:43] jbphet commented on #26
A similar issue was seen in Gravity and Orbits, see https://github.com/phetsims/gravity-and-orbits/issues/57.  The recommended solution in that case was to add an invisible rectangle to the node with bounds that are a bit larger than the node that is leaving the artifacts in order to trick the browser into re-rendering a larger area.  I'm going to give that a shot.

[2016-02-24 16:46] jbphet commented on #46
The 1.3.0 release candidates have been tested on Edge and the sim is responsive.  Closing.

[2016-02-24 16:46] #46 closed

[2016-02-24 17:01] jbphet commented on #40
Fixed, looks like this on v1.3.0-rc.2:

![ol-double-strings](https://cloud.githubusercontent.com/assets/3082831/13293603/8835d1e4-dadd-11e5-890d-e33c1f0ae4b6.PNG)

Closing.

[2016-02-24 17:01] #40 closed

[2016-02-24 17:22] jbphet commented on #26
In https://github.com/phetsims/tasks/issues/521, @phet-steele said:

Closing.

[2016-02-24 17:22] #26 closed

[2017-05-25 20:45] jessegreenberg opened #49 "Add keyboard navigation"
We are going to start adding keyboard navigation to this sim.  It is a relatively simple sim, but the first to use sun/HSlider type.  As we go through, we should see if the implementation for the sliders can be generalized somehow or possibly moved directly to HSlider.

[2017-05-25 20:57] jessegreenberg commented on #49
@emily-phet here is an initial version with keyboard nav for the sliders:
http://www.colorado.edu/physics/phet/dev/html/ohms-law/1.3.8-dev.1/ohms-law_en.html?accessibility

A few questions:
- What should the focus highlight look like for these? Ok as is?  Should it be around the thumb?
- For each slider, is the change in value per key press OK?

@mbarlow12 it doesn't work yet in IE11 and Firefox b

[2017-05-25 21:03] jessegreenberg commented on #43
Looking through the code for #49, it looks like @veillette took care of this last month.  All view types (except OhmsLawScreenView) only have access to the Properties they use.  Closing, thanks @veillette!

[2017-05-25 21:03] #43 closed

[2017-05-25 22:01] jessegreenberg commented on #49
I also just noticed in the google doc that the navigation order should be

voltage, resistance, sound on/off, reset

[2017-05-31 17:33] jessegreenberg commented on #49
@mbarlow12 fixed the issues on IE11 and Firefox.

[2017-06-01 18:02] emily-phet commented on #49
@jessegreenberg @mbarlow12 This looks great! Yes, the focus highlights need to go around the thumbs rather than around the full slider.

I was originally thinking a larger step size for the sliders, but the current 0.1 V increment doesn't feel too slow. And with the modifier key that increases stepsize, for me on my Mac it makes it 10 steps to jump the full slider range...which is great.

I'll tal

[2017-06-08 17:12] jessegreenberg commented on #49
Sounds good, @mbarlow12 and I will work on changing the focus highlights in HSlider.

The step size is very easy to change, could make them bigger.  We could sit down and do a real time tweaking session to get it just right. Or we can leave as is, up to you.

This will require latest changes to sun, scenery-phet, joist, scenery, and probably others so we can't roll this out in a maintenance releas

[2017-06-14 16:27] jessegreenberg commented on #49
@emily-phet, @mbarlow12 and I worked on changing the focus highlight today. Here is the update:

http://www.colorado.edu/physics/phet/dev/html/ohms-law/1.3.8-dev.2/ohms-law_en.html?accessibility

Should the slider step sizes increase?

[2017-06-14 18:15] emily-phet commented on #49
Looks great! I think the focus highlight and the step size is perfect. We'll just add to the list of basic keyboard shortcuts for this sim the modifier key that allows for a larger step size.

[2017-06-16 20:41] zepumph opened #50 "Instrument for PhET-iO"
@emily-phet and I discussed and we think that this would be a good step to take to advance the sonification side of accessibility on this sim.

https://github.com/phetsims/phet-io/blob/ee0a5b85ea06039c2871a8d3d95207c1dfc73e33/doc/how-to-instrument-a-phet-simulation-for-phet-io.md

## Overview of instrumentation steps:
 - [x] Copy this checklist to the issue description (top issue comment) for trac

[2017-06-20 20:43] zepumph commented on #49
Unassigning myself, I will continue with PhET-iO implementation in #50.

[2017-06-21 16:59] jessegreenberg commented on #49
On 6/20/17, we also decided to add a custom modifier key that reduces the step size to the minimum resolution for a slider.

[2017-06-23 22:25] zepumph opened #51 "Code Review"
*NOTE! Prior to doing a code review, copy this checklist to a GitHub issue for the repository being reviewed.*

PhET code-review checklist
=============

**Build and Run Checks**

- [x] Does the sim build without warnings or errors?
- [x] Does the sim start up? (requirejs and built versions)
- [x] Does the sim experience any assertion failures? (run with query parameter 'ea')
- [x] Does the sim pa

[2017-06-23 23:11] zepumph opened #52 "Move audio to the view"

[2017-06-23 23:13] zepumph opened #53 "Convert HSlider to use the default thumb"
Make it grey a little bit too, from https://github.com/phetsims/sun/issues/293

[2017-06-24 19:26] zepumph opened #54 "Update Credits before a new release"
Here are the current credits on the website. I'm not seeing anything about QA. I bet that needs updating.

![image](https://user-images.githubusercontent.com/6856943/27511427-365940c8-58d0-11e7-9656-e75a3366b9b8.png)

[2017-06-24 20:23] zepumph opened #55 "Is too much of OhmsLawScreenView.js empirically determined?"
There are 5 "empirically determined" values in the screen view effecting 3/5 view components in the sim. Is this too much? Should sims have a more robust layout scheme, even when the layout is static? Should effort be taken to minimize this? I'm not sure how to, but if someone recognizes it as a problem, I would be happy to pair for some advice on tackling the problem.

Assigning to @ariel-phet. C

[2017-06-24 20:42] ariel-phet commented on #55
@jessegreenberg would be a good person. It should be noted that this sim was pretty early in HTML5 land, and was originally done by MLL, so it could likely benefit from multiple improvements.

[2017-06-24 20:45] zepumph commented on #55
I'm not the best guy to determine exactly where these should be, but I will make issues with my best guesses. Should I ask @jessegreenberg to clarify all of the potential shortcomings?

[2017-06-24 20:48] ariel-phet commented on #55
I would say the code review checklist should be a pretty good start....if the sim conforms well to the checklist and our style guidelines that is pretty solid.

[2017-06-24 20:55] zepumph commented on #55
Alright, that sounds good. @jbphet did a substantial amount of work on it about 18 months ago. That combined with @veillette's work in May has made it pretty good already.

[2017-06-24 21:55] zepumph opened #56 "Is this the best way to add spacing to text content?"
In the ReadoutPanel used by the WireBox, we have this constant:
`  var SPACING = new Text( '-', { font: FONT } ).width;`

It seems like there is a better way to do this. Here is an example usage:
[code]

[2017-06-25 00:33] zepumph opened #57 "use scale instead of overwriting the matrix each time the current changes"
It seems wrong to do have this line in a link function in RightAngleArrow.js:

    `  self.matrix = Matrix3.scale( scale );`

When I converted RightAngleArrow.js to inherit from Path, this line ruined the transform unless I added a mutate call under it:

[code]
I don't yet know how I should fix it.

[2017-06-25 00:34] #52 closed

[2017-06-25 01:42] zepumph opened #58 "Only redrawn texts in FormulaNode on change"
A TODO in the code:

`        // TODO: Performance: consider not updating the matrix if it hasn't changed (if textData.x, textData.scaleA, and textData.scaleB haven't changed)`

I'm not sure if we need to work on performance here. The profiler is showing 58 to 60 FPS consistently with fuzzMouse.

[2017-06-25 01:57] zepumph commented on #51
In terms of memory usage. The Chrome dev tools show that the usage is between 29 and 41MB

![image](https://user-images.githubusercontent.com/6856943/27513102-872de838-5906-11e7-9a6e-af56903f39d5.png)

I think that is decent, but I'm not totally sure.

[2017-06-25 01:59] zepumph commented on #51
Does changing the values of these constants break the sim? For example, see phetsims/plinko-probability#84.

I see constants that are basically hard coded in terms of the layout. It seems like changing them would definitely screw up this statically laid out sim.

[2017-06-25 02:08] zepumph commented on #51
There are no dispose calls in this sim, nor is unlink ever called, but it is documented well in all places. I think this is fine.

[2017-06-25 04:42] #53 closed

[2017-06-25 06:34] zepumph opened #59 "Update Screenshot?"
It seems like we need a new screenshot here. I updated the slider thumbs, and the right angle arrows match the 'I' in the formula instead of the resistor now. Here is what master looks like. @phet-steele how should I go about getting this updated?

![image](https://user-images.githubusercontent.com/6856943/27514123-5108abd6-592d-11e7-9db4-eba6497b5724.png)

[2017-06-26 15:09] jessegreenberg commented on #55
@zepumph, happy to look into this with you, but "empirically determined" layout values are actually common in most ScreenView types.  We don't usually model the view layout for UI components.  For instance ```MoleculesAndLightScreenView``` and ```NeuronScreenView``` have similarly documented values.

A common layout strategy for PhET is to place things in the view relative to other things, like th

[2017-06-26 15:40] veillette opened #60 "lineWidth default value of 1"
By default the lineWidth of a path is 1. It is superfluous to set it to one.  There are several instances in this simulation where the lineWidth is set to 1 explicitly.

[2017-06-26 16:50] zepumph commented on #55
Sounds great thanks!

[2017-06-26 16:50] #55 closed

[2017-06-26 18:29] #60 closed

[2017-06-26 19:20] zepumph commented on #52
from code review: https://github.com/phetsims/ohms-law/issues/51

[2017-06-26 19:20] zepumph commented on #53
from code review: https://github.com/phetsims/ohms-law/issues/51

[2017-06-26 19:21] zepumph commented on #54
from code review: https://github.com/phetsims/ohms-law/issues/51

[2017-06-26 19:21] zepumph commented on #55
from code review: https://github.com/phetsims/ohms-law/issues/51

[2017-06-26 19:21] zepumph commented on #56
from code review: https://github.com/phetsims/ohms-law/issues/51, closing

[2017-06-26 19:21] #56 closed

[2017-06-26 19:22] zepumph commented on #57
this issue is from code review: https://github.com/phetsims/ohms-law/issues/51

@jessegreenberg and I were able to simplify this operation nicely, closing

[2017-06-26 19:22] #57 closed

[2017-06-26 19:22] zepumph commented on #58
from code review: https://github.com/phetsims/ohms-law/issues/51

[2017-06-26 19:22] zepumph commented on #59
from code review: https://github.com/phetsims/ohms-law/issues/51

[2017-06-26 19:23] zepumph commented on #60
completed as part of code review: https://github.com/phetsims/ohms-law/issues/51

[2017-06-26 19:54] zepumph commented on #51
I think that this code review is done. I got help from @jessegreenberg on some questions I had, and from here I will move on to #50 and then releases of phet-io and phet branded versions. Closing

[2017-06-26 19:54] #51 closed

[2017-06-26 20:13] phet-steele commented on #59
@zepumph screenshots need to be taken on a retina iPad (I do this on one we have in the office). From there, they are resized to be exactly 1248x1344. Then, they are checked in to master and any relevant production branch. The easiest way to update the screenshot is to do a maintenance (or brand new) release after it has been checked in.

So, I'd be willing to take a screenshot for this sim. What

[2017-06-26 20:21] zepumph commented on #59
Just master is good, after thinking a bit more. This would probably be good to do after RC testing, just in case things change a bit. I would hate for you to have to do it twice.

[2017-06-26 20:26] phet-steele commented on #59
They are usually done right before release anyway so I can wait!

[2017-06-26 20:27] zepumph commented on #59
On hold until we are going to publish new versions

[2017-06-26 20:59] zepumph commented on #54
@ariel-phet do these credits seem good to you?

[2017-06-27 18:00] jessegreenberg commented on #49
We added the shift key modifier to make the slider move at a different step.

@emily-phet @arouinfar @amanda-phet @amyh-phet in 6/27/17 meeting, we discussed that the keyboard steps could be larger for some sliders since the shift modifier will give user fine control. If they should change, what should they be?

@emily-phet what is the next step for the keyboard help dialog in this sim?

[2017-07-03 23:04] zepumph commented on #50
We just want to release this for sonification work, not necessarily testing it completely and fully. On hold until we figure out https://github.com/phetsims/phet-io/issues/1170

[2017-07-05 15:57] emily-phet commented on #49
@jessegreenberg I've decided for keyboard nav that it is important to have a moderate step value by default, and friendly numerical values - even if this means the step isn't equal across the span of the slider.

Please have the voltage slider default to a 0.5V increment (from the bottom that would look like 0.1, 0.5, 1.0, 1.5,...9.0). Also add the ability for the shift modifier key to allow incre

[2017-07-05 16:11] jessegreenberg commented on #49
Sounds great @emily-phet.  I wouldn't expect this to be too difficult to implement, but we should be sure to test with all of our supported screen reader platforms to make sure that the AT doesn't override our custom approach.

[2017-07-05 21:38] jessegreenberg commented on #49
For a slider that goes from 10 - 1000 with a step size of 20, the browser is trying to place the value at (10, 30, 50 ... ) and so on, instead of ( 20, 40, 60, ... ).

If we try to correct by rounding to the nearest step value, that works for normal arrow presses, but we cannot detect when we are *supposed* to be off of normal step size increments when jumping with the function key pressed down.

[2017-07-05 21:42] jessegreenberg commented on #49
In chrome, I can see the "key" and "code" for function key:

![image](https://user-images.githubusercontent.com/6396244/27886198-3e107f5e-6198-11e7-820c-cf060fcafe2a.png)

Not sure how widely supported this is beyond chrome. Otherwise, there is no keydown event for the function key.

[2017-07-05 21:44] jessegreenberg commented on #49
It also looks like page up/down and home and end have their own keycodes.  We should use those.

[2017-07-05 22:30] jessegreenberg commented on #49
Implemented a custom strategy and it is working great in Mac OS Chrome.  I am going to try it in a number of platforms with screen readers.

- [ ] VO + Safari
- [ ] JAWS + IE
- [ ] NVDA + Firefox
- [ ] Edge
- [ ] Chrome

[2017-07-06 02:12] jessegreenberg commented on #49
All seems good with behavior, thought the values weren't always read out correctly.  When ready, we can likely fix this with ```aria-valuetext``` or by setting the ```step``` attribute again just for speech output.

[2017-07-06 02:27] jessegreenberg commented on #49
@emily-phet here is a new version with this change, can you please review?

http://www.colorado.edu/physics/phet/dev/html/ohms-law/1.3.8-dev.4/ohms-law_en.html?accessibility

[2017-07-06 02:40] jessegreenberg commented on #49
@mbarlow12, since we needed to support more dynamic steps, I changed the implementation in HSlider quite a bit.  Using the ```input``` event resulted in a lot of fighting with the browser's default behavior, so now we are doing it all ourselves on the ```keydown``` event.  Can you please review this commit?

https://github.com/phetsims/sun/commit/483afe132bb18eb70284a67a5c3bbf0e11140d7f

[2017-07-06 04:54] ariel-phet commented on #54
@zepumph the general credits seem right. Kathy should be added to the "Team" and as you mentioned QA should be added in the new release. Did Martin do some refactoring that should be credited?

[2017-07-06 18:43] zepumph commented on #50
We decided to go ahead and ready a phet-io dev version that can be used with the sonification process. I will talk with @phet-steele about what a phet-io dev test would look like. In the mean time I'll make a dev test.

[2017-07-06 19:04] zepumph commented on #50
http://www.colorado.edu/physics/phet/dev/html/ohms-law/1.4.0-phetiodev.1/wrappers/index/

tested in phetsims/qa#18

[2017-07-06 19:45] emily-phet commented on #49
@jessegreenberg I took a look and played around with the sliders for a bit. Everything looks great! Very smooth behavior, I like that after using the fn key (and going to quirky values) using just the arrow keys snaps right to nice values.

[2017-07-06 19:56] jessegreenberg commented on #49
Excellent, thanks @emily-phet!

[2017-07-06 20:15] mbarlow12 commented on #49
@jessegreenberg Looks solid to me as well.

[2017-07-11 22:05] emily-phet opened #61 "Mockup for Keyboard Nav Dialog"
(same as needed for Resistance in a Wire)
Need customized keyboard nav help dialog. Should include two sections (note: wording not refined) with content for:

Sliders
Arrow keys move slider
Shift + arrow keys, Smaller step size modifier (Resistance)
FN + arrow keys, Larger step size modifier
PG Up/Pg Dn Jumps to slider min/max

General [this is same as in other sims]
Tab key forward
Shift-Tab back

[2017-07-12 17:43] phet-steele opened #62 "Screen layout is scaled way too high"
Somewhere down the road (between the release of 1.2.0 and 1.3.0), the layout of many things on the screen changed.

1.2.0 (the good one)
<img width="1920" alt="screen shot 2017-07-12 at 11 37 06 am" src="https://user-images.githubusercontent.com/5863899/28131234-831035b4-66f6-11e7-927d-c1d670da0b96.png">

Every version 1.3.0+
<img width="1920" alt="screen shot 2017-07-12 at 11 37 19 am" src="https

[2017-07-12 18:32] arouinfar commented on #61
@emily-phet here are two possible layouts. The text will still some adjusting, I'm sure. :)
![image](https://user-images.githubusercontent.com/8419308/28133645-e9cddf5c-66fd-11e7-8728-16549884709d.png)
![image](https://user-images.githubusercontent.com/8419308/28133712-16378a70-66fe-11e7-8a10-028cbaf874de.png)

[2017-07-12 21:12] phet-steele opened #63 "batterText typo"
Every battery text node is instrumented as `ohmsLaw.ohmsLawScreen.view.wireBox.batteriesView.battery_0.batterText`. Unless this sim is about making pancakes, it should be `batteryText` at the end, not `batterText`.

Seen on macOS 10.12.5 Chrome. For phetsims/QA/issues/18.

[2017-07-13 17:50] phet-steele opened #64 "Fails to "Launch" from Instance Proxies"
http://www.colorado.edu/physics/phet/dev/html/ohms-law/1.4.0-phetiodev.1/wrappers/instance-proxies/instance-proxies.html?sim=ohms-law&relativeSimPath fails with this error:
[code]

Seen on macOS 10.12.5 Chrome. For phetsims/QA/issues/18.

[2017-07-14 22:45] zepumph opened #65 "branch: layout"
to be used with #62.

[2017-07-14 22:51] zepumph commented on #62
I took a first pass at working on the layout. Most of the sim's layout is hardcoded, and after talking with @jonathanolson and @jessegreenberg, I ended up getting some great help converting it to a more dynamic layout. It is in a branch, just in case we decide to go a different way.

It's not perfectly the same at all, but I want to get feedback on it before continuing. I also found it helpful to

[2017-07-14 22:57] zepumph commented on #64
This was fixed as part of https://github.com/phetsims/phet-io-wrappers/issues/10 Closing

[2017-07-14 22:57] #64 closed

[2017-07-17 16:35] phet-steele commented on #62
@zepumph, most of this is looking great! There are little things that are different, like the initial scaling of some of the letters. I'll defer to @ariel-phet on how important the differences are.

My question, why are the `?dev` bounds different between the two versions?

[2017-07-17 18:26] zepumph commented on #62
I deliberated on this with @jessegreenberg and he seemed to think that it was because 1.2 was published before we had a default screen layout bounds for all sims. I bet that at one point the OL layout bounds were changed to use this new default. I would even say that I think that this is where this issue's root problem came from. No matter it has been good to go back and improve OL's layout. It se

[2017-07-17 19:32] zepumph commented on #62
I'm working on it a bit more this afternoon. I will make another dev version in a few hours. I already changed a few things to make the versions even closer.

[2017-07-17 19:34] zepumph commented on #62
@ariel-phet at some point I would love to chat about this, because there may be a line that we don't wish to cross in terms of getting it to be exactly like 1.2 vs cost to do it. Currently I'm just improving layout approach, so I don't think we are there yet.

[2017-07-17 20:42] ariel-phet commented on #62
@zepumph no need for it to be exactly the same. Close enough will be good enough for this sim.

[2017-07-17 21:39] zepumph commented on #62
http://www.colorado.edu/physics/phet/dev/html/ohms-law/1.4.0-dev.2/ohms-law_en.html

Could you confirm that this is "close enough" and you can close. I will merge into master now.

[2017-07-17 21:41] zepumph commented on #65
Changes merged to master and branch deleted, closing

[2017-07-17 21:41] #65 closed

[2017-07-17 22:07] zepumph commented on #63
Fixed, closing

[2017-07-17 22:07] #63 closed

[2017-07-18 04:26] ariel-phet commented on #62
Looking good 🥇

[2017-07-18 04:26] #62 closed

[2017-07-18 20:00] zepumph opened #66 "Only a few of the dots are showing when "Launch" is pressed in Instance Proxies"
When you minimize the resistivity, there are about 15 dots or so, but after launching into a new tab, there are between 0 and 3 most of the time.

[2017-07-18 20:02] zepumph commented on #66
Thanks @phet-steele for pointing it out.

[2017-07-18 20:31] zepumph commented on #66
I see this behavior in RIAW as well, with the same implementation of dots on a wire:
![image](https://user-images.githubusercontent.com/6856943/28338300-fc225e38-6bb4-11e7-97de-02794ae3de97.png)

[2017-07-19 17:48] zepumph opened #67 "Review recent layout changes"
I just did a fair amount of layout change, and would love some feedback. I want to make sure that it uses practices that good for PhET i18n and have good coding sense. @ariel-phet could you please assign to someone to look over the general layout (it's not too big of a sim), focusing around commits made in #62.

I want to be sure that I'm not using too many fixed values (empirically determined).

[2017-07-19 18:46] ariel-phet commented on #67
@jessegreenberg do you have time for this review?

[2017-07-19 22:52] jessegreenberg commented on #67
Sure, Ill take a look!

[2017-07-19 22:54] jessegreenberg commented on #67
I can look at this on 7/19/17 or 7/20/17.

[2017-07-19 23:29] zepumph commented on #66
@samreid could you weigh in on what you think may be going wrong here. I looked through the way that the group tandem is being used and nothing seemed wrong. I'm not sure where to investigate.

[2017-07-20 02:09] samreid commented on #66
Do those dots work in the state wrapper?  Is the "save & load for dynamic particles" set up for this sim?  Or is it relying on a repeatable random number sequence?

[2017-07-20 17:54] phet-steele commented on #66
This is for phetsims/QA/issues/24.

[2017-07-20 17:56] phet-steele commented on #66
I'll defer to @zepumph, but I believe it's the latter (random number sequence)

[2017-07-20 17:58] phet-steele commented on #67
This is for phetsims/QA/issues/24, sorta.

[2017-07-20 18:04] zepumph commented on #66
Kind of, they seem not to be seeded, so they are different dots. Otherwise they work as expected. Notice this zoomed in picture:
![image](https://user-images.githubusercontent.com/6856943/28431780-f7c88f82-6d31-11e7-8bd1-ff7f1f5cb702.png)

It is relying on a repeatable random number sequence. When mirror inputs seeds the random, it is exact.
![image](https://user-images.githubusercontent.com/68569

[2017-07-20 18:52] jessegreenberg commented on #67
Talked with @zepumph, it sounds like I should take a look at commits against #62, but there may be other commits so I should look at others in master

[2017-07-20 18:53] jessegreenberg commented on #67
Gonna start here 91d3f2ef28a9f4a3f20c19b261211691b1e65d24 and move up!

[2017-07-20 19:18] zepumph commented on #66
I talked with @samreid, and we found the problem head on. Context: there are two key pieces in the state that is being sent to the next sim, the resistanceProperty, and the dots (all 300 or so of the them). It seems like the resistance property is being set into the downstream sim first, so the link function that sets the number of dots visible  is called, and then afterwards the dots of the previ

[2017-07-20 20:20] zepumph commented on #66
After talking with @samreid we found a better solution committed above.

[2017-07-20 21:33] zepumph opened #68 "Layout jostling when moving the sliders"
@jessegreenberg  helped me find a strange bug where the whole sim, especially the control panel and it's contents will resize as you move the sliders. It's hard to pin down exactly what conditions are making this happen. @jessegreenberg has found that with chrome this is happening for http://www.colorado.edu/physics/phet/dev/html/ohms-law/1.4.0-phetiodev.2/ohms-law_en-phetio.html?phetioStandalone

[2017-07-20 21:34] zepumph commented on #68
This is for phetsims/QA#24, kinda sorta.

[2017-07-20 21:35] zepumph commented on #68
@phet-steele can you comment on the cross product of tests of master/ the above dev link vs firefox chrome for you.

[2017-07-20 21:37] zepumph commented on #68
I went back through the last 10 or so commits in ohms-law, checking them out and restarting the sim from master, and every time it sill persisted. I'm having a hard time linking this to a specific patch of code.

[2017-07-20 22:11] zepumph commented on #66
If we decide to go ahead with this strategy, we should change RIAW as well, because it has this problem too.

[2017-07-20 22:39] jessegreenberg commented on #67
Changes look great @zepumph, these are some big improvements.  Changes for the layout are excellent.  I have just a few picky comments about some code style and structure.

 - In https://github.com/phetsims/ohms-law/commit/4275a831f9661101acaa8338c7eb67563c448987, ```getMaxCurrent``` was added as a public function to ```OhmsLawModel```.  With no reference to ```this```, ```getMaxCurrent```can be a

[2017-07-20 22:46] zepumph commented on #68
@phet-steele and I talked and tested. We say that all the local bounds. we think that it may have to do with kerning, like https://github.com/phetsims/scenery/issues/193. @jonathanolson can you comment?

[2017-07-20 23:18] zepumph commented on #67
I updated the comment to
`      // Size the unit to be as big as possible next to the value with spacing.`

Does this make sense?

All other changes fixed. Thanks for the review!

[2017-07-21 00:33] ariel-phet commented on #66
@zepumph this looks good to me. Pedagogically the dots represent "dislocations" or imperfections/impurities in the crystal lattice of the wire. So being truly random is not only fine, but probably more accurate. The main idea is that high resistance means lots of imperfections/impurities. The current approach seems to get that across just fine.

[2017-07-21 01:14] zepumph commented on #66
Then I'm inclined to go back to https://github.com/phetsims/ohms-law/commit/3495c57d6dbf0d3e5216bcf7c7305332d743f2cb because it is much simpler, and to me it is preferred.

The change is so subtle I feel like we have spent enough time on it. I will go ahead and update both RIAW and OL to use this new randomization pattern.

[2017-07-21 01:39] zepumph commented on #68
I'm seeing this in RIAW as well.

[2017-07-21 01:51] zepumph commented on #66
I updated both sims to simplify this code as much as possible. I tested by looking at the new densities versus older versions, and things looked good, as well as testing the launch button in instance proxies. Closing

[2017-07-21 01:53] zepumph commented on #66
On second thought @samreid could you review before closing. Any other thoughts to add?

[2017-07-24 18:36] samreid commented on #66
I reviewed the commits on ResistorNode.js and tested it for a minute or so and it all seems OK to me.  A different strategy for the distribution of the points is used, but it behaves qualitatively like the prior algorithm.

[2017-07-24 19:19] zepumph commented on #66
Alright thanks, Closing.

[2017-07-24 19:19] #66 closed

[2017-07-24 19:34] zepumph opened #69 "deliver dev version for PhET-iO sonification wrapper"
We are going to release a dev version so that sonification work can begin on this sim.

https://github.com/phetsims/QA/issues/24 is complete. There are still some layout problems to work out, but the phet-io side of the sim is looking solid, and ready to deliver. I will make that dev version now.

[2017-07-24 20:06] zepumph commented on #50
http://www.colorado.edu/physics/phet/dev/html/ohms-law/1.4.0-phetiodev.3/wrappers/index/

has been released. This is not a published version, but a dev version. I will mark it in the spreadsheet as fully instrumented, even though there is not yet a deliverable link on the phet-io website. Closing.

[2017-07-24 20:06] #50 closed

[2017-07-24 20:16] zepumph commented on #69
This has been completed
http://www.colorado.edu/physics/phet/dev/html/ohms-law/1.4.0-phetiodev.3/wrappers/index/

and will continue on with making a sonification skeleton in https://github.com/phetsims/phet-io-wrapper-sonification/issues/20

closing

[2017-07-24 20:16] #69 closed

[2017-07-26 20:12] jessegreenberg commented on #61
@arouinfar I personally like the top layout best!

@mbarlow12 and I were looking at this, and were wondering how to best include home/end/page up/page down and function keys.

Moving in larger steps is actually not tied to the function key, it is tied to page up/page down. The function key might not be used at all for desktop or large laptop keyboards. But @mbarlow12 brought up a good point that w

[2017-07-26 20:14] jessegreenberg commented on #61
Also, in the above mockups, page up/page down will need to be replaced with end/home.

[2017-07-28 15:46] jessegreenberg commented on #61
There was a recommendation to add an icon that indicates that shift and function are modifier keys.

One idea was to add a small icon of the arrow keys next to the modifier keys.  The small arrow key icon could be inserted into the main arrow key description do define the icon for later use.

[2017-07-28 15:58] jessegreenberg commented on #61
We agreed to remove the function key and replace with home/end.  Also to clarify that page up/page down/ home/ end are not modifier keys, they stand alone.  Shift is the only modifier key in this group.

[2017-07-28 16:02] jessegreenberg commented on #61
There is a group preference for the vertical layout.  There was a suggestion to add some more white space to separate and group the content.

[2017-07-28 16:13] arouinfar commented on #61
Thanks for the feedback @jessegreenberg! I'll reassign myself to adjust the mockups. For clarification, which layout in https://github.com/phetsims/ohms-law/issues/61#issuecomment-314857680 are you referring to as the "vertical" one?

[2017-07-28 16:51] jessegreenberg commented on #61
Thanks @arouinfar.  Sorry, I meant the second layout in https://github.com/phetsims/ohms-law/issues/61#issuecomment-314857680, thanks for clarifying.

[2017-07-28 16:52] arouinfar commented on #61
Thanks @jessegreenberg. I have this issue on my to-do list for this afternoon.

[2017-07-28 17:31] zepumph commented on #61
As we are designing these, it may be nice to see some other examples, here is one I just stumbled across for slack:
![image](https://user-images.githubusercontent.com/6856943/28729033-745b1b32-7377-11e7-8fae-cc7adf9e9645.png)

[2017-07-28 21:01] arouinfar commented on #61
Thanks for sharing the example @zepumph. The current mockups are in the style used for John Tavoltage (see https://github.com/phetsims/john-travoltage/issues/127) and BASE (see https://github.com/phetsims/balloons-and-static-electricity/issues/263), but if the team would like to have a more global discussion about style I would happy to work on more mockups. However, I think whatever decision we m

[2017-07-28 21:05] jessegreenberg commented on #61
Almost, should be the other way around:

Home/End: move to min/max
PG Up/Pg Dn: move in large steps

[2017-07-28 21:28] mbarlow12 commented on #61
One consideration that the example above brings up is how we may deal with layouts for more complex sims.  The compact design might allow us to describe trickier/more nuanced sim interactions.

[2017-07-28 21:32] zepumph commented on #61
I agree. It seems like decreasing the size of the icons will be key in getting more into the dialog. I'm not sure how much effort should go into this now, as I like the designs that @arouinfar is coming up with, and I think they work well for simpler sims like RIAW/OL.

[2017-07-31 18:34] arouinfar commented on #61
I've made the changes described by @jessegreenberg using our current layout.
![image](https://user-images.githubusercontent.com/8419308/28792171-efae9dce-75eb-11e7-88c5-2a515e6f2eb9.png)

I also mocked something up more in the style of the Slack keyboard shortcut dialog. A few notable differences here would be that the description strings are generally shorter and the keys are slightly less key-li

[2017-07-31 19:05] zepumph commented on #61
@arouinfar that looks awesome! Even if we don't go with it, it's cool to see another strategy in the phet style.

[2017-08-01 01:44] zepumph commented on #68
I may have figured out why this is happening, although I haven't yet found a solution.

When I link to the resistance property and print out the centerX/Y of components. I notice that the centerX of FomulaNode and WireNode are changing. Even as they scale I wouldn't want that to change (I think).

The WireNode ranges from centerX from `317.42693939886584` to `317.4396337358218`. Not a ton, but per

[2017-08-01 02:06] zepumph commented on #68
It seems like the behavior that I see changes by the day, so I will start keeping track of it. I will report the presence of this behavior based on build/local and browser

 | Built | Requirejs
_________________
Chrome | no | yes
Chrome Ingonito | no | yes
Firefox | yes | yes
Opera | no | yes

[2017-08-01 02:15] zepumph commented on #68
1.3.0-dev.3 was the first dev release I had done since redoing the layout. I'm sure I'm doing some practice that isn't good. Here is a list of the commits that I made before  that version's release, Mon Jul 17 2017 19:33:07 GMT-0800 (Alaskan Daylight Time).

[code]

These are the only commits after 1.3.0-dev.2 as well. Unless this problem is in common code (doubtful) I think one of these commits a

[2017-08-01 15:22] jessegreenberg commented on #61
@arouinfar those look great.  I prefer the second style, it does give us much more room for when we have complex sims.  I also find it easier to find the information I am looking for since there is less text to skim through ("Move in smaller steps" vs. "Hold down shift key and press arrow key to move in smaller steps").

However, the second style will probably need some supplemental a11y descripti

[2017-08-01 15:58] terracoda commented on #61
@arouinfar and @jessegreenberg, I agree that the compact version is very nice and easy to scan. However, nicely readable content for what the key icons represent would need to be provided for non-visual users.

In the non-compact version, all text content is available, and all text content is showing.

If the descriptions are in front of the visuals, non-visual access might sound like this:

**Sli

[2017-08-01 16:02] terracoda commented on #61
I also was wondering about "smaller steps" and "larger steps". Since this varies between sims, does it make sense to use "smallest steps" and "largest steps"?

[2017-08-01 16:09] terracoda commented on #61
@jessegreenberg, how are the icon images for the dialogs implemented? Are the icons actual images, svg images, or styled-up text? Alt text on images, usually includes a reference that the text is representing and "image" along with the provided alternative text.

If all the instructive text is provided (i.e. verbose version) the images do not require alternative text, and should be completely skip

[2017-08-01 16:16] terracoda commented on #61
@arouinfar, I prefer the side by side layouts, and agree with @jessegreenberg and @mbarlow12 that modifier keys should be clearly represented in the design.

[2017-08-01 16:18] jessegreenberg commented on #61
The icons are drawn with Scenery like the rest of the sim, they aren't images.  I wasn't thinking that alt text would apply here. The icons and text will be invisible to the screen reader until they have representation in the parallel DOM.

[2017-08-01 16:18] terracoda commented on #61
@arouinfar, I also think all of these mock-ups are excellent. Very nice work!

[2017-08-01 16:20] zepumph commented on #61
What about move to "extremes" or "max/min," since you they don't do the same action. A few other suggestions too:
* "Move to extremes with Home or End"
* "Move to min/max with Home or End"
* "Move to ends with Home or End"
* "Move to the ends with Home or End"
* "Move to either end with Home or End"

[2017-08-01 16:22] terracoda commented on #61
@jessegreenberg, thanks for clarifying. We basically have two versions then, and we can tweak the text in the PDOM so it sounds nice.

[2017-08-01 16:24] terracoda commented on #61
@zepumph, I also was wondering about Home/END
- "Move to beginning or end with Home or End keys."

[2017-08-01 16:24] jessegreenberg commented on #61
Regarding https://github.com/phetsims/ohms-law/issues/61#issuecomment-319421452

I agree, or we could just have two entries, one for home and end

[2017-08-01 16:25] terracoda commented on #61
@jessegreenberg, I prefer two entries.

[2017-08-01 16:33] terracoda commented on #61
Re my long comparison comment (https://github.com/phetsims/ohms-law/issues/61#issuecomment-319414833). I was mainly trying to point out that we want the content to read well for both visual users and non-visual users.

It is handy, but not necessary that the text on the visual page be what we hear in the non-visual version.

[2017-08-01 16:48] arouinfar commented on #61
Thanks for the feedback @terracoda @jessegreenberg @zepumph!

Good question @terracoda. I chose "smaller" and "larger" because I was describing the step size relative to the default. To me, "smallest" and "largest" implies the smallest or largest possible step size. I suppose this would be accurate for Shit+arrows, but the largest possible step would technically be home/end.

Are the mockups still

[2017-08-01 17:03] mbarlow12 commented on #61
@arouinfar I think the last modifier key is **fn** and indicating that it modifies the arrows to produce pg up/dn & home/end interactions.

I was also wondering if we might want to move the broader discussion of dialog design/copy/etc to the a11y research repo?

[2017-08-01 17:09] jessegreenberg commented on #61
That is a great idea.  I am also wondering if there is enough to consider here to start a design doc to avoid a github megathread.  @arouinfar @emily-phet @terracoda what do you think?

[2017-08-01 17:14] zepumph commented on #68
Next I checked out the commit before these above (19139eb91993ed3b03ebaa3d88852549e4272937 update version to 1.3.0-dev.2, and it looks like the problem is still present!

<br>

|RIAW sha same as 1.3.0-dev.2 on spot|local build | requirejs mode|
|------|-----------|------------|
|chrome| no | no|
|firefox| no | no|

This makes me wonder if it doesn't have to do with some common code changes, so I c

[2017-08-01 17:17] terracoda commented on #61
I also, like the idea of a design document where we can clearly communicate the challenges and strategies for the visual design, and the challenges and strategies for the text-based non-visual design.

@emily-phet, @arouinfar and I iterated several times for the BASE dialog, trying to get it just right for both audiences.

[2017-08-01 17:38] arouinfar commented on #61
Thanks for the clarification @mbarlow12!

I'll create a design doc for the Keyboard Dialog, and send out a link.

@terracoda can you remind me of where the BASE dialog doc lives? I didn't see it in PhET Accessibility > Keyboard Navigation.

[2017-08-01 17:43] terracoda commented on #61
@arouinfar, it's in the Description Work/BASE folder
[BASE: Keyboard Shortcuts](https://docs.google.com/document/d/1vk8_N3GuyC0o_Nl8HpBUu0tvVuWyWQ8FiksexPs_qBk/edit)

[2017-08-04 17:25] zepumph opened #70 "Add QA credits"
similar to https://github.com/phetsims/resistance-in-a-wire/issues/89, there are no qa credits for the current sim in master. We should add them.

[2017-08-04 17:29] zepumph commented on #70
@phet-steele let me know if the above commit looks good.

[2017-08-04 20:56] phet-steele commented on #70
@zepumph it's good, but we need more now. `Alex Dornan, Ethan Johnson`as well, please. You'll probably have to put a line break in there somewhere. Isn't this technically #54?

[2017-08-04 21:03] zepumph commented on #70
Oh you're right thanks!

BTW here is what credits look like, they use MultilineText so you don't have to add new lines:
[code]

[2017-08-04 21:03] #70 closed

[2017-08-04 21:03] zepumph commented on #54
I should add `Alex Dornan, Ethan Johnson`  to the qa credits. I will wait to see if more needs to change.

[2017-08-07 21:05] jessegreenberg commented on #49
Thanks @mbarlow12.  I think that we can close this.  Keyboard help dialog will be tracked in #61, and we are going to work on description work in a new issue the near future.  Closing.

[2017-08-07 21:05] #49 closed

[2017-08-07 21:06] jessegreenberg opened #71 "Add accessibility descriptions"
In #49 we added keyboard navigation.  Next we will be adding descriptions and this issue can be used to commit against and track progress.

[2017-08-07 21:07] jessegreenberg commented on #71
One thing that @jbphet and I noticed today is that we need to include units and possibly precision in the HSlider value readout.  I will add that next.

[2017-08-07 21:50] jessegreenberg commented on #71
Done, we now hear "4.5 Volts" and so on.  Removing assignment until we get finalized accessibility descriptions.

[2017-08-10 19:16] zepumph opened #72 "Slider value only spoken when keyboard focused"
I noticed this in the sonification wrapper and on master. When using the keyboard or mouse to move a slider that is highlighted with keyboard focus, the Screen Reader will state the change, but if you use the mouse on the other slider when the first slider still has focus on it, then it will not alert. It will also not alert at all when just using the mouse with no highlight anywhere.

[2017-08-10 20:32] zepumph commented on #72
Witnessed on FF and Chrome with NVDA.

[2017-08-10 21:41] jessegreenberg commented on #72
Thanks @zepumph, this is actually a known problem with our current parallel DOM implementation.  The screen reader requires CSS bounds to handle mouse and touch interaction. Since the accessible DOM is hidden, it doesn't know that we are touching the slider.  This is the exact same reason that our sims are not accessible on mobile VoiceOver.

There is hope that someday we can support this kind of

[2017-08-10 21:47] jessegreenberg commented on #72
For instance in john-travoltage, the appendage position updates will not come through while using
 a mouse.  @terracoda @emily-phet can you comment on priority of this issue and if it warrants a temporary workaround?

[2017-08-10 21:51] zepumph commented on #72
Is there a way that we could fix this internally? Perhaps in accessibleInputListener, we are able to transfer over (to the PDOM) mouse events correctly similar to how we do that for keyboard events? Maybe I don't understand accessibility enough, and that is unrealistic or not thought through.

[2017-08-10 21:58] jessegreenberg commented on #72
That is a really interesting idea, I hadn't thought of that.  Scenery's input listener would need to create a mock mouse/touch event whose target would the the PDOM element. Is that possible? Not sure if scenery can do that, and I don't know if DOM allows fake mouse events.

[2017-08-10 22:09] jessegreenberg commented on #72
Maybe something like this? https://developer.mozilla.org/samples/domref/dispatchEvent.html

[2017-08-10 22:39] jessegreenberg commented on #72
@zepumph, this isn't working yet, but I am wondering about something like this? https://jsfiddle.net/mk63j417/5/

In HSlider drag handler, we would create an event and dispatch it to the accessible DOM element.  "click" event might be why it isn't working, maybe we can use another event.  But when I test with NVDA, i still don't hear the aria-valuetext.

[2017-08-10 22:41] jessegreenberg commented on #72
https://developer.mozilla.org/en-US/docs/Web/API/MouseEvent/initMouseEvent I see a big 👎 :( maybe there is a better approach.  But I think we should hear from @emily-phet before spending more time as this will be an investigation.

[2017-08-12 13:05] terracoda commented on #72
@jessegreenberg and @zepumph this is a very interesting issue. When I first imagined how the PDOM would be implemented, I thought it would be directly on top of the visual sim, but in reality it is off screen, off to the side.

I agree, there is no easy answer at the moment.

[2017-08-13 20:35] zepumph commented on #67
Unassigning, @jessegreenberg let me know if you need anything else.

[2017-08-13 21:02] zepumph commented on #72
I looked into this a bit more. @jessegreenberg it seems like var  `document.createEvent( "MouseEvents" ).initMouseEvent` is deprecated. I'll keep poking around.

[2017-08-13 21:12] samreid commented on #72
When scenery starts processing inputs on the 2nd slider, can we just set the focus to the second slider programmatically?

[2017-08-13 21:14] zepumph commented on #72
I would think so, we can always manually set focusHighlight to a node. see `Accessibility.setFocusHighlight()`.

[2017-08-13 21:15] samreid commented on #72
Even better to set focus to the DOM element with `domElement.focus()` then the highlight should move automatically and then the new slider is set up to receive events.

[2017-08-13 21:17] zepumph commented on #72
That sounds reasonable. I would want @jessegreenberg's opinion about bypassing the accessibility mixin there. Potentially they could do the same thing?

[2017-08-14 00:53] zepumph commented on #68
I just looked at master for OL and RIAW today, and I noticed that this problem isn't nearly as present as it used to be. From master on both sims. Firefox is the only browser that shows this error at all, and it is very very minimal only when making the resistance largest value that you can. @phet-steele could you tell me if you are experiencing the same thing. I'm trying to narrow down the varian

[2017-08-14 15:50] jessegreenberg commented on #67
Thanks for the ping @zepumph, sorry I let this lag for a while.  Changes look great. Thanks!

[2017-08-14 15:50] #67 closed

[2017-08-14 17:08] jessegreenberg commented on #72
Ill give it a shot! We would make the focus highlight invisible while interacting with the slider with mouse/keyboard so it doesn't interfere for all interaction. The question is whether or not focus is enough to read the aria-valuetext or if the screen reader requires a keydown or input event to read the new value.

[2017-08-14 17:18] zepumph commented on #72
I guess we probably want two types of keyboard focus. The normal way and a 'silent' way.

Too true. It also seems like we want to make sure that this doesn't mess up the current sound of descriptions.

[2017-08-15 17:22] jessegreenberg commented on #72
Focusing the slider works great on VoiceOver! I am hearing the aria-valuetext when I change the value.

[2017-08-15 17:31] jessegreenberg commented on #72
In order for it to work with NVDA, we need to focus the slider on ```drag``` to hear the updated value (makes sense because ```aria-valuetext``` is always read on focus). This seems like a reasonable workaround.

[2017-08-16 16:46] jessegreenberg opened #73 "Add labels to sliders"
This needs to be done for sonification testing.

[2017-08-16 16:49] jessegreenberg commented on #73
By default, when focus lands on the slider, VoiceOver reads the slider like this on focus:

"4.5 Volts, V, voltage, slider list the fifth, voltage 4.5 Volts 2 items level 2"

It thinks "V" should be read as "the fifth" the second time.

[2017-08-16 16:51] jessegreenberg commented on #73
Just going with Voltage and Resistance as the labels for sonification testing.  We will figure out the label when we work more on descriptions.

[2017-08-16 16:51] #73 closed

[2017-08-16 17:50] jessegreenberg opened #74 "Add accessible labels and descriptions"
From https://github.com/phetsims/a11y-research/issues/48, design documents and PDOM mockups are complete, so we are ready to start implementing.  This issue will track progress and commits.

Tagging @emily-phet @terracoda and @zepumph so they are aware.

[2017-08-16 18:00] jessegreenberg commented on #74
Here are direct links to the design doc and PDOM:

- [Full PDOM](http://htmlpreview.github.io/?https://github.com/phetsims/a11y-research/blob/master/html-sketches/ohms-law/ohms-law-pdom.html)
- [Succinct PDOM](http://htmlpreview.github.io/?https://github.com/phetsims/a11y-research/blob/master/html-sketches/ohms-law/ohms-law-pdom-succinct.html)

**Latest version of design document is here:**
[Ohm's

[2017-08-16 18:03] jessegreenberg opened #75 "Verbose vs Succinct a11y content"
@terracoda @emily-phet in #74, there are two columns in the design document, a "Possible succinct version" and what looks like a "normal" column.  Should the succinct version be implemented in addition to the normal descriptions?  I thought that "succinct" option for descriptions might only apply to alerts?

We will proceed with just implementing the normal descriptions for now.

[2017-08-16 21:30] terracoda commented on #75
@jessegreenberg, please implement the green column. The succinct version was still up for discussion. You are correct that a generalized "succinct version" for sims would apply to alerts only. I just played with a couple of versions of content, and was quite happy with both versions in the design document.

[2017-08-16 21:36] jessegreenberg commented on #75
Sounds good @terracoda, thanks for clarifying!  We will proceed with the green column.

[2017-08-16 21:36] #75 closed

[2017-08-17 02:49] zepumph commented on #74
I made a lot of changes above. I reworked FormulaNode so that it isn't using a loop to create the Texts. This is nicer because then we can access the texts as we need to.

I implemented an approach where we are comparing the letters based on their normalized values. This works pretty well, for V and R because they share the same scale, but I think for comparisons with I we will need to adjust for

[2017-08-17 07:01] jessegreenberg commented on #74
Thanks @zepumph, this looks great and it should be much easier to access the letters.

That approach looks good, though I agree we would need to adjust the normalized value for I to avoid that case where R is smaller than I, but R is described as "Huge" and I is described as "medium size".

[2017-08-17 07:06] jessegreenberg commented on #74
I wanted to see what it would look like to compare the sizes by comparing the height of the letter Nodes, but didn't want to alter your changes until we discussed so I committed in a branch compare-height.  To get a consistent description of the size of each letter, it will calculate the min/max height for all letters in the equation and compare each letter to that range.  It would be great to dis

[2017-08-17 07:07] #71 closed

[2017-08-17 23:02] jessegreenberg commented on #74
@zepumph and I discussed today, and we agreed to proceed with trying to generate the relative descriptions by comparing ratios of letter heights in the view. We weren't thrilled with a collection of comparative ranges defined in constants, but the fact that they are relative ratios (not arbitrary scalings) made us feel better.  One good thing about this is that we can have @terracoda let us know w

[2017-08-17 23:09] jessegreenberg opened #76 "Map from relative size to relative description"
@terracoda in #74 we decided to proceed with implementing the relative size descriptions by comparing the relative letter heights in the view. This means that we can define height ratios that map to the comparative descriptions.  Here is how that map works now:

If letter height is less than or equal to 0.25 * height of letter V, it is much much smaller.
If letter height is between 0.25 and 0.5 *

[2017-08-18 16:11] terracoda commented on #76
@jessegreenberg and @zepumph, this looks great to me. Seven comparative size values should be enough to meet the pedagogical goals of the sim.

Thanks for mapping it out mathematically for me!

[2017-08-18 16:24] jessegreenberg commented on #76
Sounds good @terracoda, thanks! Closing.

[2017-08-18 16:24] #76 closed

[2017-08-18 18:55] jessegreenberg opened #77 "battery descriptions"
@terracoda in the design document for #74, sometimes the battery descriptions should be

"More than B Batteries".

and sometimes

"Between X and Y Batteries."

There is a note in the document that says "Through play students learn that "more than" means a partial battery."

Do we still need "Between..." description?  If so, when should it be the description over "More than..."?

[2017-08-18 19:25] terracoda commented on #77
Ooops, let me review that content.

[2017-08-18 22:19] jessegreenberg commented on #74
PDOM is complete.  Alerts are next.

[2017-08-18 22:55] terracoda commented on #77
@jessegreenberg, sorry for the late response. I think people preferred the "between x and y batteries" phrasing. Let's go with that.

[2017-08-18 22:55] terracoda commented on #77
@jessegreenberg, I updated the design spreadsheet to reflect this decision.

[2017-08-18 23:44] jessegreenberg commented on #77
Thanks @terracoda, changed in the above commit.  Closing.

[2017-08-18 23:44] #77 closed

[2017-08-19 00:27] jessegreenberg commented on #74
I believe descriptions are finished in Ohm's Law. Here is the latest version:

http://www.colorado.edu/physics/phet/dev/html/ohms-law/1.4.0-dev.8/ohms-law_en.html

http://www.colorado.edu/physics/phet/dev/html/ohms-law/1.4.0-dev.8/ohms-law-a11y-view.html

@terracoda would you please review this version?

[2017-08-21 00:28] terracoda commented on #74
Descriptions are looking good overall in the a11y-view. Here are few issues I noticed while playing/poking around

**Using the a11y-view version with Safari 10.0.03 on Mac OS 10.12.3 (no screen reader)**
[] sliders keyboard accessible at first, but was not able to get focus on them tabbing back and forth through sim after initial interactions.
[] under State of the Sim, the items in the first list

[2017-08-21 16:04] jessegreenberg commented on #74
Thanks for reviewing @terracoda!  lll investigate these issues, breaking them up into separate ones to avoid a mega thread.

[2017-08-21 16:07] jessegreenberg opened #78 "Sliders not usable with keyboard after initial interaction"
In #74, @terracoda said

Using the a11y-view version with Safari 10.0.03 on Mac OS 10.12.3 (no screen reader)

http://www.colorado.edu/physics/phet/dev/html/ohms-law/1.4.0-dev.8/ohms-law-a11y-view.html

[2017-08-21 16:08] jessegreenberg commented on #78
Indeed, reproduced myself in Safari, though not happening in chrome.

[2017-08-21 16:10] jessegreenberg commented on #78
It is not happening in http://www.colorado.edu/physics/phet/dev/html/ohms-law/1.4.0-dev.8/ohms-law-a11y-view.html?accessibility, so likely something to do with the a11y view.

[2017-08-21 16:13] jessegreenberg commented on #78
I added this line in the a11y-view html so that the sliders looked nicer in the copied DOM:
[code]

But it is removing the styling from the actual sliders in the PDOM, so Safari thinks they are invisible.  Ill remove that line for now and accept not so good looking sliders until we have time to more thoroughly improve the a11y view representation.

[2017-08-21 16:15] jessegreenberg commented on #78
Fixed in the above commits.

[2017-08-21 16:15] #78 closed

[2017-08-21 16:30] jessegreenberg opened #79 "Circuit content out of order"
In #74 @terracoda said:

...
Oh, it's not missing, the list is not in the right place. It should be under The circuit's description.

At the moment, it is under the equation.

[2017-08-21 16:34] jessegreenberg commented on #79
Thanks @terracoda, fixed in the above commit, here is the accessible content for the circuit now:

[code]

[2017-08-21 16:34] #79 closed

[2017-08-21 16:36] jessegreenberg commented on #74
Sorry @terracoda, regarding issues with the first link, a11y requires the ?accessibility query parameter and I forgot to add it here in the link.
http://www.colorado.edu/physics/phet/dev/html/ohms-law/1.4.0-dev.8/ohms-law_en.html?accessibility

Hopefully keyboard navigation will work with the query param.

[2017-08-21 16:39] jessegreenberg commented on #74
These three issues were also caused by #78, verified fixed in Firefox.

[2017-08-21 16:42] jessegreenberg commented on #74
Regarding

Thanks, that is also true.  I haven't worked on the keyboard help dialog, and probably won't until #61 is complete. Same with the navigation bar, that probably won't be changed until designs are finished.

[2017-08-21 17:23] jessegreenberg commented on #74
Thanks for reviewing @terracoda, sorry these issues were in there.  Here is a new version where these things should be fixed (except for content in the Dialog).

http://www.colorado.edu/physics/phet/dev/html/ohms-law/1.4.0-dev.9/ohms-law_en.html?accessibility

http://www.colorado.edu/physics/phet/dev/html/ohms-law/1.4.0-dev.9/ohms-law-a11y-view.html

[2017-08-22 16:17] jessegreenberg commented on #61
@emily-phet suggested that we ask the IDRC to host a design crit on these designs. This will be on hold until we discuss that with them.

[2017-08-22 16:59] emily-phet opened #80 "EM Feedback on descriptions for version 1.4.0-dev.9"
Just a few bits of feedback for @terracoda when she returns. I was reviewing this [link](http://www.colorado.edu/physics/phet/dev/html/ohms-law/1.4.0-dev.9/ohms-law-a11y-view.html?accessibility).

Scene Summary
- Consider: "In this sim, the Play Area contains the Ohm's Law equation, V equals I times R, and a circuit. There are also sliders to play with voltage and resistance." Reason: I think it's

[2017-08-24 19:59] jessegreenberg commented on #80
My fault, sorry about that.

[2017-08-28 11:59] terracoda commented on #74
@jessegreenberg, thanks for addressing these issues. I will review asap, likely tomorrow (August 29).

[2017-08-30 13:03] terracoda commented on #80
Regarding EM's comments in https://github.com/phetsims/ohms-law/issues/80#issue-252024628, I think all the feedback is good. I will update design doc to reflect wording changes in Scene Summary, State of Sim, and The Circuit.

Regarding, the last item about the sliders, "Move" or "Adjust" are both a little more directive than "Change", but I agree that they sound a little more accurate when direct

[2017-08-30 14:12] terracoda commented on #80
@jessegreenberg, regarding the "Amount of dots", I think I am going to tweak the entire phrase. Just working on this in the design document.

[2017-08-30 14:48] terracoda commented on #80
@jessegreenberg, I updated the [design document](https://docs.google.com/spreadsheets/d/15LuKXlzkh6xHpNbWC4ujtOfz1F7FJ7tj4oUF8Jvmj-k/edit#gid=0)

I marked changes in red.

**Summary of changes:**
- changed Scene Summary wording as EM suggested
- removed periods at end of the short list items in State of the Sim
- changed "represents" to "indicates" everywhere
- simplified "Ohm's Law Equation" head

[2017-08-30 15:03] terracoda commented on #80
@jessegreenberg, I've emailed @ariel-phet to get his opinion of the slider help text.

[2017-08-30 15:36] terracoda commented on #74
@jessegreenberg, the sim is working nicely.
I am creating issues for the following items:
- The reset alert is gets over-ridden by the slider alerts. This happens after sliders have changed, and then the reset button is pressed.
- I noticed that, "dot" for period is read out if the period occurs on a line by itself. "Dot" is not read out when it occurs as part of a string of text on a line. Is it

[2017-08-30 15:40] terracoda opened #81 "Reset Alert over-ridden by slider alerts"
In #74, @terracoda said:

**Alert for Reset:**
- Is not over-writing or replacing the slider alerts on reset after interaction changes a value of the slider. Reset works just fine if no interaction has taken place.
- In A11y View the reset alert is quickly replaced with the slider alert if there has been a change to the slider positions.
- The reset alert should replace/over-ride the slider alert

[2017-08-30 15:49] terracoda opened #82 "Prevent the reading of "dot" by keep periods together with text on a line"
In #74, @terracoda noticed (using Voice Over) that:

**Possible general solution:**
- make the invisible PDOM wider and further off screen?

**Quick fix for this sim:**
 For this sim, I simply removed the periods on the short list items in the State of the Sim section.
So they now look like this:

"Right now,
   - Voltage, V, is 4.5 volts
   - Resistance, R, is 500 ohms
   - Current, I, is 9.0 mil

[2017-08-30 15:52] terracoda opened #83 "Add periods to mute sound alerts"
In #74, @terracoda noticed that

Please add  a period to the end of each alert, "Sim sound on." and "Sim sound off."

[2017-08-30 15:55] terracoda opened #84 "Add apostrophe to Sim's H1"
In #74, @terracoda noticed that:

Please change "Ohms Law" to "Ohm's Law".

[2017-08-30 16:25] ariel-phet commented on #80
@terracoda I am curious why does the slider help need to be "directive" at all? Could it be more something like "Voltage and resistance sliders allow changes to the equation and circuit"?

The PhET "ethos" has generally been to present options that are available, and more implicitly suggest an action. Have interviews suggested more directive/encouraging wording?

[2017-08-30 16:30] jessegreenberg commented on #84
Good eye @terracoda, thanks, added in the above  commit.

[2017-08-30 16:30] #84 closed

[2017-08-30 16:32] jessegreenberg commented on #83
Thanks @terracoda, added punctuation to the alert strings.

[2017-08-30 16:32] #83 closed

[2017-08-30 16:33] jessegreenberg commented on #81
Thanks @terracoda.  ResetAllButton needs to use scenery-phet/UtteranceQueue now that it is replacing scenery-phet/AriaHerald. That should solve the problem of overriding alerts.

[2017-08-30 16:36] jessegreenberg commented on #81
@zepumph would you have time to work on this?

[2017-08-30 16:37] jessegreenberg commented on #82
Thanks @terracoda.  I also noticed that it reads each word individually.  Reading through an item it sounds like
"Bullet, bullet".
"Voltage".
"V"
"is"
"4.5 volts"
"Period".

I am not sure if it is related to the width.  When I read through the items in the copied DOM in http://www.colorado.edu/physics/phet/dev/html/ohms-law/1.4.0-dev.9/ohms-law-a11y-view.html it also sounds like this.

But when I

[2017-08-30 16:39] zepumph commented on #81
Yeah!

[2017-08-30 17:02] zepumph commented on #81
@jessegreenberg please review. I was not sure what the UtteranceQueue equilelent of `AriaHerald.enabled` was, so to enable it again I am clearing the queue, and then unmuting it to "start over" after a reset. What do you think?

[2017-08-30 17:04] terracoda commented on #80
@ariel-phet, I agree with the PhET design philosophy of "implicit scaffolding", and this is what I am trying to support in the examples in comment https://github.com/phetsims/ohms-law/issues/80#issuecomment-325983243

Interviews for _Balloons and Static Electricity (BASE)_ did find that the wording of help text can  hinder or support interaction in different ways. The grab interaction in BASE was

[2017-08-30 17:09] terracoda commented on #80
@jessegreenberg, one small tweak to @ariel-phet's suggestion. I'm removing "the"

I've updated the design document.

[2017-08-30 17:13] terracoda opened #85 "Change on-demand help text for Slider Controls"
In #74, Ariel suggested an even less directive wording for slider help text.

Please update slider help text to:

Design document has already been updated.

[2017-08-30 17:16] ariel-phet commented on #80
@terracoda I know you agree :). I was more trying to explain my change in wording suggestion.

[2017-08-30 17:23] terracoda commented on #80
@ariel-phet, I really like your change, and thanks for the explanation.

[2017-08-30 17:49] jessegreenberg commented on #82
Does seem related too styling.  If I remove ```position: absolute``` from the PDOM, the problem goes away. But then the sim is moved off screen.

I also noticed that removing the formatting tags also makes the problem go away.

[2017-08-30 17:53] terracoda commented on #82
@jessegreenberg, by formatting tags, you mean `strong` tags, right. What I like about the `strong` tags is that some screen readers read that text in a different pitch, making the letters in the equation stand out a little bit from the surrounding text.

Can you try putting the period inside the `strong` tag?

[2017-08-30 18:08] terracoda commented on #74
@jessegreenberg, there is one other important issue I forgot to put in the list. The pink focus highlights go away after I use native Voice Over Commands. Are you aware of this issue already. I thought I saw an issue about focus highlight disappearing?

[2017-08-30 18:12] jessegreenberg commented on #74
@terracoda can you please give an example of a native VoiceOver command?

[2017-08-30 18:25] jessegreenberg commented on #81
I agree that seems like the best way to do it with the current API.

Would it be useful to have a way to disable the UtteranceQueue like we could with AriaHerald?

If disabled, we no-op in ```addToFront```, ```addToBack``` and ```next```?

[2017-08-30 18:28] jessegreenberg commented on #82
@terracoda for your VoiceOver does it read like each line individually like this:
"Bullet, bullet".
"Voltage".
"V"
"is"
"4.5 volts"
"Period".

Ill try but my guess is that it will still read it like
"Bullet, bullet".
"Voltage".
"V"
"is"
"4.5 volts."

Where each line has to be read individually.

[2017-08-30 18:42] zepumph commented on #81
That would save us a step and be a bit more explicit. Current api:
* "disable" === mute the queue
* "enable" === clear the queue and unmute
* Limitation:
    1. Let's say you have Utterance queue currently populated with utterances 1, 2, and 3.
    2. Then you want to disable the queue while utterances 4 and 5 were going to be added.
    3. Now you want to play utterances 1, 2, 3. Currently there

[2017-08-30 18:48] jessegreenberg commented on #81
Then it seems like it might also be useful to pause the queue? Apart from disable and enable, to support that case we might want to

- pause queue
- prevent new Utterances from being added
- Resume queue

[2017-08-30 18:50] zepumph commented on #81
Maybe when the UtteranceQueue is paused, things can still be added, but when disabled it's a no-op

[2017-08-30 18:51] jessegreenberg commented on #81
Yes, that sounds like a good way to categorize it.

[2017-08-30 18:56] terracoda commented on #74
Sorry, yes. VO+Command+B is a useful command that makes the sim start reading from the beginning. VO+Command+H reads next Heading.

VO keys are Control+Option.

[2017-08-30 19:40] terracoda commented on #74
@jessegreenberg, I will start an issue for the disappearing focus highlights.

[2017-08-30 19:48] terracoda opened #86 "Focus highlights lost after using native Voice Over Command"
Mentioned in #74,

By native Voice Over Commands, I mean VO shortcuts, like Control+Option+B to start reading from beginning of sim.

I'm going to test with a a couple of more commands.

[2017-08-30 20:03] jessegreenberg commented on #86
I was able to reproduce this bug.  I had focus on a slider, then pressed ctrl +option + b to read from the top.  Focus disappeared after reading through the first several lines, then didn't come back.

document.activeElement is the input element that should have focus.

[2017-08-30 22:07] zepumph commented on #81
I added enabled disabled, and I think it works really well for the  reset alert in this issue. @jessegreenberg please review. Should we implement pause as well?

[2017-08-31 18:55] terracoda opened #87 "Discuss Labeling Sliders Controls group with H3 and removing the fieldset"
Sorry for rethinking this structure, but the `legend`  element does **NOT (missed in initial post)** offer the same kind of navigation and outlining functionality as a heading. It is super useful to have the content, "Slider Controls", in the page outline for the simulation.

Furthermore, although the `fieldset` element does create a group for sliders, some AT counts every item within the `fieldse

[2017-08-31 19:06] terracoda commented on #87
@jessegreenberg and @zepumph, I have updated the html sketches for Ohms Law in the a11y-research repo.

[2017-08-31 19:08] terracoda commented on #82
I'll listen again, but that sounds accurate.

[2017-08-31 19:20] terracoda commented on #82
Before, I did repeat mentions of "bullet", but I think I changed my VO verbosity settings.

Right now in version 9, when I read with the cursor keys I get:
Right now,
list, 3 items
bullet 1 of 3
Voltage,
V
is
4.5 volts
period
bullet 2 of 3
... etc.

[2017-08-31 19:24] terracoda commented on #82
In the pdom do you have the `em` elements around the parameters, and the `strong` elements around the letters,  as I did in the PDOM sample?

I have no idea why the screen reader stops reading when it encounters an inline element, but I think that is what it is doing.

[2017-08-31 19:30] terracoda commented on #82
I suggest removing the `em` elements, they were actually for show to highlight the potentially dynamic pieces of the phrases.

I actually like having the `strong` element around the letters because it makes them stand out to me (screen reader changes pitch, pauses, and even provides a tiny bleep depending on verbosity settings). However, we could be really choosy about where we need to highlight t

[2017-08-31 19:37] terracoda commented on #82
Screen reader behaviour is so erratic. When I use Ctrl+ Option + B in Voice Over to read from beginning, sometimes it reads from beginning and goes to end without stopping, and sometimes it stops after the the first list item. There must be a command to make VO "just continue reading", but I don't know what that is, yet.

[2017-08-31 19:55] terracoda opened #88 "Circuit's list missing ul element?"
When reviewing the visual a11y view, I noticed the list of details that describe "The Circuit" are not indented as would be usual in Safari and do not display with bullets in Firefox.

I think the parent `ul` for the list is missing.
http://www.colorado.edu/physics/phet/dev/html/ohms-law/1.4.0-dev.9/ohms-law-a11y-view.html

[2017-08-31 19:57] terracoda commented on #88
@jessegreenberg or @zepumph, could one of you have a look? I'm not sure where the code is for this. Using the inspector tool, I did verify that I can not see the parent `ul` in the rendered page.

[2017-08-31 20:11] terracoda commented on #82
@jessegreenberg, just happenned to use the inspector to look at the list for a different reason and there seems to be hidden line breaks in the content. Could  this be the problem?

![inspector-view-of-content](https://user-images.githubusercontent.com/1902116/29943287-9254e3fe-8e73-11e7-95c8-6b59f3cda14b.png)

[2017-08-31 20:50] jessegreenberg commented on #82
I don't think so @terracoda, that is just how dev tools show innerHTML.  If you take a look at your PDOM mockup, it looks the same.

![capture](https://user-images.githubusercontent.com/6396244/29944702-b9fd9abc-8e5b-11e7-8b1d-7d2e69b4aaee.PNG)

[2017-08-31 20:53] jessegreenberg commented on #82
If we take out the em, and  put the period in the strong tag, I think it will sound like this:

[code]

Definitely an improvement, but it would be  nice to have a general  fix so we  can use formatting tags however we wish.

[2017-08-31 20:57] jessegreenberg commented on #82
Hey, this looks promising:
https://stackoverflow.com/questions/5232310/htmlcss-how-to-force-div-contents-to-stay-in-one-line

[2017-08-31 21:33] jessegreenberg commented on #82
Just verified  that  NVDA also has  this problem.

[2017-08-31 22:06] jessegreenberg commented on #82
OK, so if I copy the body and sim and paste into a JSFiddle it reads just fine??
https://jsfiddle.net/1ocgtLrs/7/

[2017-08-31 22:09] jessegreenberg commented on #82
And If I right click -> save the sim and run the downloaded version the problem isn't there at all. Do AT not like formatting tags added dynamically?

[2017-08-31 22:19] jessegreenberg commented on #82
If I create these dynamically it reads just fine in a JSFiddle.
https://jsfiddle.net/ej5nkm93/2/

[2017-08-31 22:24] jessegreenberg commented on #82
Still reading fine here:

[2017-08-31 22:29] jessegreenberg commented on #82
Back to the CSS:
[code]

If I remove ```position: absolute;``` it reads just fine.

[2017-08-31 22:30] terracoda commented on #82
Brilliant.
So you don't need to use `scroll: nowrap`?

[2017-08-31 22:32] jessegreenberg commented on #82
It doesn't  seem like it, but I am concerned that removing ```position: absolute``` will do weird things to the rendering of the sim. But I am not seeing anything in Firefox.

[2017-08-31 22:47] jessegreenberg commented on #82
In the a11y-view, removing the positioning causes  tab navigation to move shove the sim up (probably because the PDOM is now below the sim?). I believe it will do the same in Safari in the normal sim view.

[2017-08-31 22:49] jessegreenberg commented on #82
I would like to discuss this problem at the next a11y meeting to see if anyone has ideas for how to fix this, and to discuss priority for continued investigation.

[2017-08-31 22:53] jessegreenberg commented on #88
Good catch @terracoda, looks like the parent is a div instead of a ul.

[code]

Also missing formatting tags.

[2017-08-31 22:56] terracoda commented on #82
That's a good idea, @jessegreenberg. There are different kinds of positioning techniques, so it would be good to know exactly what position absolute is doing. Absolutely-positioned content is taken out of the normal content flow, so removing that property, would put the PDOM content back in to the flow, and it would take up space.

[2017-08-31 23:08] jessegreenberg commented on #88
Fixed in the above commits, here is the HTML now:
[code]

[2017-08-31 23:09] jessegreenberg commented on #88
Closing, thanks @terracoda.

[2017-08-31 23:09] #88 closed

[2017-08-31 23:51] jessegreenberg commented on #87
@terracoda is there a semantic difference by wrapping labels in that way? What is the difference  for AT between

[code]

and

[code]

[2017-08-31 23:54] jessegreenberg commented on #87
If it is important to wrap sliders with labels, would it be acceptable to wrap the text content with a ```<span>```?  At the moment, scenery doesn't support this kind of wrapping with innerHTML.

[2017-09-01 13:44] terracoda commented on #87
No.
Just to be clear, the most important thing is that all controls (sliders in this case) have an accessible name.

[2017-09-01 16:55] jessegreenberg commented on #87
Perfect, thanks @terracoda, that makes sense.  Scenery used to have trouble with including ```<label>``` elements in general, but at least  we support that now.

After today's meeting discussion how would you like to proceed with this issue @terracoda?

[2017-09-01 17:02] jessegreenberg commented on #80
@terracoda are we ready to implement these changes? Please reassign the issue to me when you feel it is ready.

[2017-09-01 17:12] jessegreenberg commented on #85
Updated! Closing.

[2017-09-01 17:12] #85 closed

[2017-09-01 17:16] jessegreenberg commented on #81
Looks great @zepumph, but I am wondering why you chose to no-op ```clear``` when the queue is disabled?  If the queue is disabled we might still want to quickly remove all utterances?

[2017-09-01 17:23] jessegreenberg commented on #81
But I verified  that ResetAllButton alerts are working correctly!

[2017-09-01 17:26] terracoda commented on #87
@jessegreenberg, for this sim, I think a heading works best for helping students find what is most important in the sim. The difference in the sim's outline misses an essential piece.

**With a fieldset & legend:**
h1: Ohm's Law
h2: Scene Summary
h3: State of Sim
h2: Play Area
h3: The Equation
h3: The Circuit
h2: Control Panel

**With an h3:**
h1: Ohm's Law
h2: Scene Summary
h3: State of Sim
h2: P

[2017-09-01 17:29] jessegreenberg commented on #87
Sounds great @terracoda, thanks.  We will proceed with the markup listed in the original  issue comment (without wrapping input with label).

[2017-09-01 17:30] terracoda commented on #87
And for a list of radios, I think using the `radiogroup role` might be the most semantically correct thing to, but I also think we should test how the group's label works across our supported platforms. This is something we can work in https://github.com/phetsims/a11y-research/issues/57.

[2017-09-01 17:30] terracoda commented on #87
Thanks @jessegreenberg!

[2017-09-01 17:40] terracoda commented on #80
@jessegreenberg, yes, I think it is safe to do so since I got Ariel's feedback. Reassigning to you.

[2017-09-01 18:17] jessegreenberg commented on #87
The Accessibility mixin in Scenery doesn't allow setting aria-labelledby and aria-describedby associations for parent container elements. We should add this functionality in the mixin.

[2017-09-01 18:21] terracoda commented on #87
@jessegreenberg, I agree that is a good thing to have in the mixin.

[2017-09-01 18:23] terracoda commented on #87
And, I think that it is not a show-stopper for Ohm's Law. We can see how it works without `aria-lablledby` and add it later.

[2017-09-05 17:11] jessegreenberg commented on #87
Thanks for the updated HTML @terracoda!  Changes applied above, here is the HTML in the sim:

[code]

Assigning back to @terracoda to close if all looks well.

[2017-09-05 19:39] terracoda commented on #87
@jessegreenberg, just curious why `tabindex="-1"` is on everything?

[2017-09-05 19:48] terracoda commented on #87
I would think you would only need to

See article [Using tabindex attribute](https://www.paciellogroup.com/blog/2014/08/using-the-tabindex-attribute/)

I might not fully understand when programmatic focus control is needed.

[2017-09-05 19:53] terracoda commented on #87
@jessegreenberg, maybe you need to explicitly use `tabindex="0" ` and `tabindex="-1"` because you are building a "Parallel DOM" and not a real DOM? Is that the reason?

[2017-09-05 19:56] terracoda commented on #87
@jessegreenberg, everything else looks good to me.

[2017-09-05 20:24] jessegreenberg commented on #87
Yes, good question @terracoda, in https://github.com/phetsims/john-travoltage/issues/206 we discovered that IE11 gives *everything* ```tabindex="0"``` by default. [Recommendation suggests](https://www.w3.org/TR/html5/editing.html#sequential-focus-navigation-and-the-tabindex-attribute) that default value should be -1 for things that are not focusable, but so it goes.

This was problematic because w

[2017-09-05 21:52] jessegreenberg commented on #80
@terracoda to keep track of changes in the design doc, I am going to revert text color to black once they are updated, let me know if that is problematic.

[2017-09-05 22:44] jessegreenberg commented on #80
Changed the descriptions in the above commits, but  interested in looking into

[2017-09-05 23:01] jessegreenberg commented on #80
I think that the problem is just that the current arrows grow like 1 / R.  The max height of the arrows is 1243 view coordinates.  For the vast majority of voltage and resistance values, the arrows are less than 200 view coordinates. The arrows grow 80% in the last 40 ohms.

@emily-phet @terracoda how would you like to handle this? If we describe the size of the arrows relative to their max/min he

[2017-09-05 23:07] jessegreenberg commented on #80
Since the description changes were addressed I will close this issue and create a new one for the above question.

[2017-09-05 23:07] #80 closed

[2017-09-05 23:11] jessegreenberg opened #89 "Describing size of the current arrows"
From https://github.com/phetsims/ohms-law/issues/80, @emily-phet said

@jessegreenberg said:

@emily-phet @terracoda how would you like to handle this? If we describe the size of the arrows relative to their max/min heights, the current behavior is correct.

If we want to indicate ```I = V / R``` and describe the arrow sizes relative to their min/max allowable heights, this is the correct behavior

[2017-09-05 23:22] terracoda commented on #87
@jessegreenberg thanks for answering. I was wondering if it was some kind of work around. So, it is not needed explicitly for the PDOM, but actually is a work around for IE11.

[2017-09-05 23:28] jessegreenberg commented on #87
@terracoda, exactly, just a workaround for IE11.  Closing issue, a new version with this structure is deployed here:
http://www.colorado.edu/physics/phet/dev/html/ohms-law/1.4.0-dev.11/ohms-law-a11y-view.html

[2017-09-05 23:28] #87 closed

[2017-09-05 23:37] jessegreenberg commented on #82
Here are some more  recommendations for how to make content 'invisible' but available to a screen reader:
http://webaim.org/techniques/css/invisiblecontent/

[2017-09-05 23:45] terracoda commented on #89
I would think that the size of the arrow would align with the size of the letter I. My understanding was that they represent the same thing.

The growing of 80% in the a last 40 ohms is the behaviour that I was describing as "being on a non-linear scale." It kind of jumps in size suddenly in size there. I assume the size of the letter I also jumps at that point.

Perhaps we need a little more qual

[2017-09-05 23:59] terracoda commented on #87
@jessegreenberg thanks!

[2017-09-06 00:04] terracoda commented on #89
@jessegreenberg, is it possible to determine the size of the letters and the arrows based on their actual values rather than their visual size? Would that be more true to the model. But if the visual size is based on the model than it should be the same thing either way.

[2017-09-06 00:09] jessegreenberg commented on #89
That  is correct, they grow in the same way and they do represent the same thing.

Exactly, the visuals are correctly representing behavior of the model.  Physically, current behaves like this when voltage is constant and R changes:
![capture](https://user-images.githubusercontent.com/6396244/30088681-1fbcb59c-9265-11e7-967b-52212e5ee3ca.PNG)

So this 'jumping' is physically accurate, I is going t

[2017-09-06 00:39] terracoda commented on #89
@jessegreenberg, thanks for the line graph.
I think adding "a lot" is likely needed, and we may need "a little" in there, too.
This will help get across some different nuanced effects on Current when the Resistance slider. When moving the Voltage slider, changes in Current are more regular.

[2017-09-06 00:42] terracoda commented on #89
@jessegreenberg, I think we will need to determine a threshold for adding in the extra words, and discuss with content experts.

[2017-09-11 22:07] zepumph commented on #81
I agree. `clear` is no longer a noop (spoken like 'nuup'). Closing

[2017-09-11 22:07] #81 closed

[2017-09-28 16:53] terracoda commented on #82
@jessegreenberg, I had a session today with a VO user. For this VO user, reading through the lists was a painful experience. I think this issue is somewhat high priority.

If we have trouble fixing the layout issue, then I we may need to keep the use of lists for structure to a minimum.

[2017-09-28 16:59] jessegreenberg commented on #82
Understood.  The problem isn't really with lists, right? The problem is how AT read styling markup in the PDOM like ```<strong>``` and ```<em>```.

[2017-09-28 17:01] terracoda commented on #82
Well, the bullets of the lists are also being spoken on their own line, so it is a problem for both inline elements like `<em>` and `<strong>` and the reading of list items.

[2017-09-28 17:02] terracoda commented on #82
And when they are all together, it really sound like a big mess.

[2017-09-28 17:05] terracoda commented on #82
@jessegreenberg, it looks like I need to tweak some of the descriptions for this sim, especially the Scene Summary and the circuit, so I might need to reconsider the use of some of the lists. Is that a problem?

[2017-09-28 17:07] jessegreenberg commented on #68
@zepumph I am still seeing this happening in master in chrome. Have we tried ```preventFit``` option of Node?

[2017-09-28 18:07] arouinfar commented on #61
While I know we're still having a broader discussion about the dialog design, I believe the mockups in https://github.com/phetsims/ohms-law/issues/61#issuecomment-319157102 should be all that's needed for now (mockup-wise), so unassigning myself.

[2017-09-28 20:16] zepumph commented on #68
@jessegreenberg I really appreciate you!!! That was it. I couldn't figure out exactly how this was happening. Thanks for stepping in. We are ready to move RIAW and OL forward to releases. We should make sure to link this issue in RC tests to make sure QA confirms that it is fixed. Closing!

[2017-09-28 20:18] #68 closed

[2017-09-29 14:10] terracoda commented on #89
@jessegreenberg, would something like this work?

Potential algorithm: If the size of **letter I** changes 2 or more size thresholds at once, add "a lot".

For example, the user is moving the R slider down or up:
Down from 40 to 20 ohms: [[20 ohms]]. As **letter R** [[shrinks]], **letter I** [[grows a lot]]. Current, now [[225.0]] millamps with resistance at [[20]] ohms.

Up from 10 to 20 ohms: [[

[2017-09-29 14:39] terracoda opened #90 "Draft changes to Ohm's Law descriptions ready for review"
Based on user feedback this week, I have made some changes to the [Ohm's Law descriptions](https://docs.google.com/spreadsheets/d/15LuKXlzkh6xHpNbWC4ujtOfz1F7FJ7tj4oUF8Jvmj-k/edit#gid=0).

Would anyone like to comment on the changes. The changed descriptions are in the first column (orange column).

@emily-phet, @arouinfar, @oliver-phet, @jessegreenberg, @zepumph

You can comment here, or in the d

[2017-09-29 15:04] jessegreenberg commented on #89
A threshold could work well for keyboard interaction. But it would be a little harder for mouse/finger movement. When moving from 40 to 20 with a keyboard, the value jumps from 40 to 20.  When moving from 40 to 20 with a mouse, the value changes by ~1 as the value is decreases, so the change in size will more likely be described without "a lot" since there is a smaller change in size. Is this OK?

[2017-09-29 15:07] jessegreenberg commented on #89
Actually, maybe it makes more sense to change when we announce the alerts anyway.  Right now, they are announced every time the formula changes, but maybe it would be better to only announce when done "sliding"? Ill create an issue.

[2017-09-29 15:14] jessegreenberg opened #91 "When should the letter size changes be announced?"
Right now, an alert is created and sent to the screen reader every time a letter size changes.  This works OK but is problematic because of https://github.com/phetsims/ohms-law/issues/89#issuecomment-333152647 and also because it is easy for the user to get flooded with alerts when pressing and holding a letter key or using the mouse.

I think it would be an improvement to send an alert when the d

[2017-09-29 15:15] jessegreenberg commented on #89
Depending on where we land with https://github.com/phetsims/ohms-law/issues/89#issuecomment-333152647,  comment in https://github.com/phetsims/ohms-law/issues/89#issuecomment-333151791 might not be an issue.

[2017-09-29 15:29] jessegreenberg commented on #90
@terracoda everything looks good to me!

I noticed you changed  summaries to sentences instead of lists. Is that because of https://github.com/phetsims/ohms-law/issues/82, or do you believe that is a better experience? If because of https://github.com/phetsims/ohms-law/issues/82, we can probably prioritize fixing that issue before this sim is deployed with a11y (and we will probably have to if we

[2017-09-29 17:37] ariel-phet commented on #89
@terracoda I think the "a lot" you describe could work well.

Agreed with @jessegreenberg that the alerts probably only make sense at the end of a slide or could get overwhelming

[2017-09-29 18:35] zepumph opened #92 "Republish ohms law phet-io with updated descriptions to be hooked in with sonification"
Once https://github.com/phetsims/ohms-law/issues/90 is sorted out. I want to publish an updated dev version so that @terracoda can have descriptions and sonification for her interviewing. Putting on hold until that issue is finished.

[2017-09-29 18:37] terracoda commented on #89
@jessegreenberg and @ariel-phet thanks for the feedback.
Sounds good. I like the idea of the alert sounding at the end of the interaction. I'll comment more in new issue #91 .

And regarding any other change, for example adding "a little". I don't think we need to describe how much R and V are growing and shrinking because their changes are more continuous and linked directly to the user's interac

[2017-09-29 18:39] terracoda commented on #91
@jessegreenberg, in this scenario, would the user get slider values as they move the slider and then get the last slider value plus the alert when the they stop moving?

[2017-09-29 19:25] jessegreenberg commented on #91
@terracoda yes that sounds correct. Right now we use ```aria-valuetext``` to describe the slider value and ```aria-live``` to announce the letter size alerts.  So we will have default timing for ```aria-valuetext``` and provide the rest when the user stops moving the slider.

[2017-09-29 19:28] terracoda commented on #91
@jessegreenberg, this approach sounds like a good one to me.

[2017-09-29 19:35] terracoda commented on #90
@jessegreenberg, I did remove the list, partly due to #82 , but also exploring a briefer representation. I will look now at the design doc to see how the new descriptions work while keeping the lists. I's actually like to know in general is users prefer getting little lists, or a more paragraph like description.

[2017-09-29 19:57] terracoda commented on #90
@jessegreenberg, I added both options, list structure and paragraph structure, so we can potentially more easily update the strings without changing the current structure.

**Note** I also changes to curly braces as that's what you use in the a11y strings file - keeps things simple for copying.

[2017-09-29 21:35] arouinfar commented on #90
Looks good @terracoda!

B19 & B22:

I don't think it's necessary here, and I think it'd look a bit unbalanced unless you also say "voltage, V" and "resistance, R".

B22:

I like this suggestion! Since R and I have an inverse relationship, users can definitely encounter bigger changes, so I think using the "a lot" modifier when jumping 2+ sizes may help cue the differences between the V/I and R/I r

[2017-09-30 17:41] terracoda commented on #89
@jessegreenberg, in #90 @arouinfar also agrees that using "a lot" would be beneficial, so let's go with what I described in https://github.com/phetsims/ohms-law/issues/89#issuecomment-333137005

And regarding your comment https://github.com/phetsims/ohms-law/issues/89#issuecomment-333151791 about mouse and finger always changing by ~1, thus not ever meeting the "a lot" threshold, I think that's ok

[2017-10-02 13:01] terracoda commented on #91
@jessegreenberg, sorry, I forgot to re-assign back to you, so doing that now.

[2017-10-02 15:26] jessegreenberg commented on #89
Since we are going to proceed with  #91, it is no longer an issue - we can determine the size difference between when the user starts dragging the slider and when they stop dragging the slider.

[2017-10-02 15:29] terracoda commented on #89
@jessegreenberg, ok, sounds good.

[2017-10-03 22:27] jessegreenberg commented on #91
Thanks @terracoda, done in the commits above, closing.

[2017-10-03 22:27] #91 closed

[2017-10-03 22:33] jessegreenberg commented on #89
@terracoda can this issue be closed?  I think that #90 will handle further review and implementation for new descriptions/alerts, is that correct?

[2017-10-03 23:23] terracoda commented on #89
yes :)

[2017-10-03 23:23] #89 closed

[2017-10-04 17:08] terracoda commented on #90
@ariel-phet, @arouinfar thinks the updates are good. Could you have a read through of column B (the orange column) in the google sheet. I've marked content changes in red. You can see where content has been reduced by comparing with the orange column (column B) with the green column (column C).

[2017-10-04 21:07] arouinfar commented on #61
@terracoda should the Ohm's Law dialog match the design for Resistance in a Wire (https://github.com/phetsims/resistance-in-a-wire/issues/104)?

Let's pretend the underlying screenshot is Ohm's Law :)
![31189964-efa2af76-a8f6-11e7-9c13-803665ac932e](https://user-images.githubusercontent.com/8419308/31199730-9174ae9e-a915-11e7-8273-f190517aaa5c.png)

[2017-10-05 13:18] terracoda commented on #61
@arouinfar, I think it works.

[2017-10-05 13:21] terracoda commented on #61
@arouinfar, dialogs for both OL's and RIAW look like they are ready. Un-assigning myself and assigning back to you. Hope that's ok :-)

[2017-10-05 15:27] arouinfar commented on #61
Thanks @terracoda! I'll reassign to @jessegreenberg for implementation (or reassignment to the appropriate dev).

[2017-10-05 16:40] terracoda commented on #90
@emily-phet and @ariel-phet, do either of you want to read through the changes to Ohm's Law descriptions?

I'd like to ask @jessegreenberg or @zepumph update the current descriptions.

[2017-10-05 17:02] jessegreenberg commented on #61
Thanks! We are on it.

[2017-10-05 19:09] terracoda commented on #61
@arouinfar, and @jessegreenberg, so I didn't notice this before, but it might make sense to have the arrow key images in a different order?

**Two reasons to re-think this a little:**
1. Arrows are paired fro slider movement - Left and Down move to smaller values on a slider, and Right and Up move to bigger values on a slider.
2. In many sims we will have 4-way movement and we will also have the W

[2017-10-05 19:26] terracoda commented on #61
If we have 2 different representations of the Arrow keys, I would suggest that for 2-way sliders the order be: Left Down Up Right.

[2017-10-05 19:35] jessegreenberg commented on #61
No strong preference personally, no problems changing the order of the slider arrows. Hopefully this representation can be applicable to 4-way movement with the arrow keys as well, but that might not be possible.

[2017-10-05 19:38] terracoda commented on #61
Well, that's the muddy bit, because the popular WASD ("wasdee") order is actually Up, Left, Down, Right.

[2017-10-05 19:42] jessegreenberg commented on #61
To me, the arrow key icons look like they represent the arrow keys all together and I don't  know that users will really find the order to be helpful information.

[2017-10-05 19:49] terracoda commented on #61
Well, I only think the order matters if we have to put visual representations of Arrow keys and WASD keys side by side.

[2017-10-06 12:11] terracoda commented on #61
@arouinfar, how about we just keep things simple for now, and use the WASD order for arrow keys representations for now. That way, when the arrow keys icon is next to the WSAD key icon, they will represent the same direction in the same order.

WASD key order is Up Left Down Right.

[2017-10-06 17:24] arouinfar commented on #61
Sounds good @terracoda. I think it makes sense to use the WASD order.

Here's an updated mockup for Ohm's Law using the WASD ordering for the arrow keys.
![screen shot 2017-10-06 at 11 22 06 am](https://user-images.githubusercontent.com/8419308/31290148-a008474e-aa88-11e7-95ad-e0bff63771c2.png)

[2017-10-06 17:31] terracoda commented on #61
Ok, looks almost the same and just as good!
Thanks @arouinfar.

@jessegreenberg, we should be good to implement now.

[2017-10-06 23:11] zepumph commented on #90
Just so everyone is aware of the current plan. Once this issue has been reviewed by @ariel-phet & co and implemented by @jessegreenberg. I will go ahead with #92 so that the sonification wrapper can use a new dev version that has updated descriptions for @terracoda to use in interviews hopefully mid next week.

[2017-10-06 23:24] jessegreenberg commented on #61
Yes, that is a good point @terracoda.

[2017-10-06 23:37] jessegreenberg commented on #61
@terracoda @emily-phet @arouinfar can you please review? It is the same as resistance-in-a-wire.
![capture](https://user-images.githubusercontent.com/6396244/31302193-05ad155a-aabd-11e7-8c3b-a43ce1946cf8.PNG)

http://www.colorado.edu/physics/phet/dev/html/ohms-law/1.4.0-dev.13/ohms-law_en.html?accessibility

Any pixel polishing?

[2017-10-07 02:24] ariel-phet commented on #90
@terracoda a few comments

B4: Why did your remove the equation description? Isn't knowning that V=I*R is displayed important (since there are several other ways one could algebraically rearrange this equation...or if someone does not remember the equation?) Is it because the student explores to B12 and that clears it up?

B12: yes, that is the best order IMO

B14: "Batteries total" is kind of a s

[2017-10-09 10:07] terracoda commented on #90
@ariel-phet, awesome feedback! Thank-you.

B4: I removed the actual equation from the Scene Summary to simplify the set up, however, I think it can stay. One repetition of the actual equation is likely not a bad thing.

B14: Great suggestions for the batteries. I was thinking of them representing a total voltage, but you are correct, batteries **supply** voltage.

B19: We'll keep **I** out of the

[2017-10-09 11:25] emily-phet commented on #61
@jessegreenberg Beautiful! Looks ready to go to me.

[2017-10-09 14:42] terracoda commented on #90
@jessegreenberg and @zepumph I've updated the Ohm's Law description spreadsheet. The new descriptions are ready for implementation.

We can try again with the list structure to see how the simplified content sounds. I think there is at least one less list now.

If we cannot resolve #82 easily, I think I think it would be a good idea replace the lists with the paragraphs in this sim. There is very

[2017-10-09 15:07] arouinfar commented on #61
Looks great @jessegreenberg!

[2017-10-09 18:34] terracoda commented on #61
@jessegreenberg, I agree. It looks great.

[2017-10-09 22:29] zepumph commented on #90
I'll take a look at this. I am going to keep the lists for now, and we can always change them pretty easily if #82 doesn't pan out.

[2017-10-09 23:58] jessegreenberg commented on #61
Thanks all, closing this issue.

[2017-10-10 01:49] zepumph commented on #90
I implemented everything exactly as it is in the orange column with a few exceptions/questions:

* In scene summary, each `<li>` after "Right now" is capitalized. I'm happy to make it lower case, I just wanted to make sure we care first. Also know that the list under "The Circuit" in the play area does begin lower case.
* In the doc it looks like you expect the default to be "much larger than" und

[2017-10-10 15:24] terracoda commented on #90
Thanks @zepumph ,
- lower case on the bullets is fine. I thin I had then capitalized before as I had the lists punctuated as sentences. They re no longer punctuated that way. Yes, we care about capitalization and punctuation (I do not always get it right).
- I was guessing at the letter size, so we can go with the model and see how that sounds and looks.
- I think it is ok, that the the beginning

[2017-10-10 17:26] terracoda commented on #61
Note change to slider representation as described in https://github.com/phetsims/resistance-in-a-wire/issues/104 for Resistance in a Wire.

[2017-10-10 19:09] zepumph commented on #90
Not quite, there we have the first p as the accessibleDescription to the whole FormulaNode ("Voltage, V, is equal to Current, I, . . ."), and then another 'p' tag is a child of that node which holds the dynamic 'In equation, letter V. . . '

Update: changed above, not accessibleLabel but accessibleDescription

[2017-10-10 19:38] zepumph commented on #90
@terracoda I'm confused about another box B19. I see that some of the dynamic pieces are italicized.

 {{3.6 volts.}} As letter V _{{shrinks}}_, letter I _{{shrinks}}_. Current now _{{7.2 millamps}}_ with voltage at _{{3.6 volts}}_.

Is this deliberate? Part of my confusion is that the curly braces are italicized also, perhaps just meaning that you are emphasizing that this value is dynamic?

Curr

[2017-10-10 19:49] zepumph opened #93 "Keyboard order doesn't match visual order for control panel buttons"
@ariel-phet, as lead designer, I have a question.

Current button layout:
![image](https://user-images.githubusercontent.com/6856943/31407241-adefc2ee-adb0-11e7-9689-9db437407e90.png)

Current Keyboard nav order:
* control panel sliders
* sound toggle button
* reset all button

These don't align for visual keyboard users. Up until this point the protocol/convention is that the reset all button sho

[2017-10-10 19:52] jessegreenberg commented on #90
@zepumph I would guess 2-4 hours, we would need to make the changes to AriaHerald/UtteranceQueue/Utterance doing similar things as were done in the Accessibility mixin.

[2017-10-10 20:34] terracoda commented on #90
@zepumph, yes the emphasis was to highlight that they are dynamic. You are correct, however, these are alerts! It is **not so important to highlight** and I do not want to complicate any live region content!

I do not think we need formatted content in the alerts.

[2017-10-10 21:12] ariel-phet commented on #93
@zepumph yes it would be fine to switch those. In fact, probably desirable since the reset all button generally is located in the lower right of the sim.

[2017-10-11 02:21] terracoda commented on #93
@zepumph, glad you brought this up. I was wondering about it, too. In John Travoltage, the buttons are the reversed.

[2017-10-11 18:41] terracoda opened #94 "Slider control heading might be out of order in PDOM"
Sorry missed this issue in my notes from Sept 28 session with screen reader user.

Using Safari 11 Mac os x 10.12.6 (sierra) and Ohm's Law described version 1.4 Dev 12

User noted while looking for sliders that the slider control heading seems to be below controls?

@zepumph or @jessegreenberg, can you check that the Slider Controls heading comes before the controls?

This might already be fixed.

[2017-10-11 18:58] zepumph commented on #93
Sounds great! I love these quick issues to tackle questions about the sim. Thanks for fast turnaround on feedback.

[2017-10-11 18:58] #93 closed

[2017-10-11 19:03] zepumph commented on #94
Currently on master I see
![image](https://user-images.githubusercontent.com/6856943/31460635-90e2f522-ae73-11e7-8e86-11cf4d6e7e07.png)

in the a11y view, and here in the actual html
![image](https://user-images.githubusercontent.com/6856943/31460749-d6612178-ae73-11e7-8e63-5ee4bcb32655.png)

Does this seem right to you @terracoda?

[2017-10-11 19:35] terracoda commented on #94
Thanks for checking @zepumph. Yes that looks right to me. I'll check this again with the screen reader consultant. Hoping to meet tomorrow.

[2017-10-11 20:11] zepumph commented on #94
Alright thanks

[2017-10-11 23:11] zepumph commented on #90
All other changes have been pushed to master

[2017-10-11 23:17] jessegreenberg commented on #90
Thanks @terracoda, we won't add formatting to alerts until it is requested.

[2017-10-11 23:38] zepumph commented on #92
I republished ohms law as another phet-io dev version with updated descriptions. I also updated the sonification wrapper so that it successfully uses `isFiringProperty` rather than `callbacksForFiredEmitter`s. I thoroughly tested each ohms-law sonification strategy with the reset all button and all looks good. I am going to publish a new version of the sonification wrapper too so that @terracoda c

[2017-10-11 23:50] zepumph commented on #90
Awesome!!! @terracoda thanks for all the work on these. I have updated the descriptions on master, and you can get them here or phettest.
http://www.colorado.edu/physics/phet/dev/html/ohms-law/1.4.0-dev.14/ohms-law-a11y-view.html

I have also published a new phetio version and hooked it into the sonification wrapper, then I deployed that.

http://www.colorado.edu/physics/phet/dev/html/phet-io-wrap

[2017-10-11 23:52] #92 closed

[2017-10-12 20:04] zepumph opened #95 "stringTest=double has weird control panel layout"
In a similar way to https://github.com/phetsims/resistance-in-a-wire/issues/106, we should fix i18n layout for the control panel.
![image](https://user-images.githubusercontent.com/6856943/31516577-82a7cbc2-af45-11e7-986d-0fc18ef1bc5a.png)

[2017-10-12 22:12] arouinfar commented on #61
@jessegreenberg I think you can migrate the redesigned dialog for RIAW to Ohm's Law too.

[2017-10-13 14:51] terracoda commented on #94
@zepumph, I do not know why, but in my session yesterday with a VO, the Slider Controls heading seems to come after the group of sliders.

I will have to explore more myself, and get back to you on this.

[2017-10-13 15:51] jessegreenberg commented on #94
In 10/13/17 a11y meeting, we discovered that this could be related to the placement of `aria-labelledby`. @terracoda will investigate this further.

[2017-10-13 17:34] #95 closed

[2017-10-17 13:52] terracoda opened #96 "Up/Down Arrows do not work on sliders with Voice Over enabled"
Sim Version: [1.4.0-dev.14](https://www.colorado.edu/physics/phet/dev/html/ohms-law/1.4.0-dev.14/ohms-law_en.html?accessibility)

This might be a known issue.

Left/Right or Up/Down work fine when Voice Over (VO) is not enabled.

When VO is enabled, I have to first press VO's interact keys (Control-Option-Shift-Down Arrow) to interact with the slider, and then only the Left and Right Arrow keys wo

[2017-10-17 17:32] arouinfar commented on #61
The tweaks to the slider controls section decribed in https://github.com/phetsims/resistance-in-a-wire/issues/104#issuecomment-337305901 will also apply to Ohm's Law.

Sorry for all of the design requests @jessegreenberg! This should be the last round of changes. Moving forward, the slider controls section will contain the same content (though headings may differ).

[2017-10-18 16:34] jessegreenberg commented on #96
@terracoda we discovered that this is how VO interacts with all sliders when we deployed john-travoltage, the same behavior can be observed there.  My understanding is that this is not a bug, but the way VO works with ```<input type="range">```. You must 'enter' the slider with 'ctrl + option + shift + down arrow', and then only the left/right arrow keys will work.  Can you please verify?

[2017-10-18 17:10] terracoda commented on #96
@jessegreenberg, I was pretty sure this was a known issue, but I couldn't find it.

Yes, that is how it works. The Left and Right Arrows work fine after I enter the slider with 'ctrl + option + shift + down arrow'. The Up/Down Arrow keys do not work on their own for interacting with a slider.

Strangely, though there are few other things at play:
1. VO help text says to "Use the Control-Option Lef

[2017-10-18 17:11] terracoda commented on #96
AND I do not know why the native VO modifier keys would suppress the alerts!

[2017-10-18 17:25] jessegreenberg commented on #96
@terracoda that is very odd behavior! Not sure why certain modifier keys would supress alerts. According to https://dequeuniversity.com/screenreaders/voiceover-keyboard-shortcuts, `Control` is supposed to stop reading, that doesn't  explain  why `Command` is stopping things. @terracoda how would you like to proceed?

[2017-10-18 17:37] jessegreenberg commented on #61
Not a problem, thanks for the improvements @arouinfar and @terracoda!  The changes @zepumph made for this dialog were handled in scenery-phet so the dialog should already be updated. From master:

![image](https://user-images.githubusercontent.com/6396244/31733321-8b9fa7f6-b3f8-11e7-829b-598c6ae4c4ea.png)

@arouinfar can you please verify that this issue can be closed?

[2017-10-18 17:37] terracoda commented on #96
@jessegreenberg, I don't think we have to worry about numbers 2 and 3. 2 is a pleasant surprise, and 3 is just bizarre.

However, I am wondering if there is a way to find out why number 1 is suppressing the alert, since using Control-Option-Left/Right Arrow is the native VO way to change a slider. It would be good to know why our implementation does not work in this case.

I see the alert flash qu

[2017-10-18 17:39] arouinfar commented on #61
Looks great @jessegreenberg. Thanks!!

[2017-10-18 17:39] #61 closed

[2017-10-18 18:58] terracoda commented on #94
@zepumph, I experienced this today. I heard the heading and the on-demand help text after the un-ordered list containing the sliders.

[2017-10-18 20:45] zepumph commented on #94
In the above picture of the PDOM HTML,  you see that the sliders is the only div that uses `aria-labeledby`. I will try removing it.

[2017-10-18 21:01] zepumph commented on #94
@terracoda can you see if it is fixed on phettest.colorado.edu/ohms-law/ohms-law-a11y-view.html?brand=phet&accessibility

[2017-10-19 15:18] jessegreenberg commented on #96
Sounds good @terracoda, we can look into why this is happening.  My fear is that this is a general problem with VoiceOver alerts, not a PhET bug.  Since we can see the alert flash in the VO readout, it looks like we are successfully sending the alert to the AT, but the AT is failing to read it.

The first step will be to figure out if this really is a PhET problem or if it is general, so we should

[2017-10-20 12:11] emily-phet commented on #90
@terracoda @zepumph This may have been addressed in a newer version, but when playing with th e1.4.0-dev.14 linked above, the circuit arrow description stays at "tiny arrow" for the vast majority of cases. It's only when the arrow visually appears quite large that this "tiny arrow" description changes. Feels incorrect to me.

[2017-10-20 15:29] zepumph opened #97 "Address descriptions of the dynamic size of the arrows to handle large edge case"
From https://github.com/phetsims/ohms-law/issues/90#issuecomment-338188950. Since the largest size of the arrows goes off the screen, we should instead use a height of arrows that is smaller but still "huge." Then make anything bigger than that also huge.

Another suggestion is to have an exponential relationship rather than a linear one.

[2017-10-20 18:03] terracoda opened #98 "Added sentence to Scene Summary that indicates this is an interactive sim."
To help indicate to non-visual users that the sim's descriptions update as they interact with it, @emily-phet and I added a new sentence to the very beginning of the scene summary on Tuesday.

We hope this intro will help users understand that they have a wealth of information available to them beyond the alerts they get while interacting. Furthermore, it sets up the the initial interaction hint o

[2017-10-20 18:04] terracoda commented on #98
@jessegreenberg and @zepumph, I assigned you both because both the a11y sim and the phet-io sims will need this small update.

[2017-10-22 18:03] terracoda commented on #90
@zepumph, it looks the descriptions changes more, but the size description still doesn't match what I think it should be visually.

[2017-10-22 18:10] terracoda commented on #90
@zepumph re my last comment, would it be possible to map out the 7 sizes visually, and see how that fits with the model. It's possible that the ranges for each size are not even.

[2017-10-23 17:16] terracoda commented on #94
@zepumph, the latest build sounds good to me without the `aria-labelledby` attribute at all. I would like to try the attribute on the `ul` that wraps the two slider controls. That is the group that the _Slider Controls_ heading is actually labeling. I think aria-labelledby males them interactive as a group. The screen reader consultant said this was useful.

Do mind making this small update, so I

[2017-10-23 21:05] zepumph commented on #97
As part of https://github.com/phetsims/ohms-law/issues/90 @terracoda said:

I'll look into it and see what is actually happening in the model. It's possible that they currently aren't even, or it is possible that they are based on something that we don't expect (like a model property rather than the actual size of the arrows. I'll get back to you @terracoda.

[2017-10-23 21:42] zepumph commented on #94
@jessegreenberg how do I do this? Is It currently possible as part of the mixin? If not perhaps we should add it as part of https://github.com/phetsims/scenery/issues/686. I'm thinking something like:

[code]
html:
[code]

[2017-10-23 22:06] jessegreenberg commented on #94
@zepumph I think this is possible, outside of options there are functions `setAriaLabelledByNode` `setAriaLabelContent`. The first takes a node,  the second takes a string which is one of the static constants  in `AccessiblePeer`.

The reason for complexity is that the value for `aria-labelledby` can be an id for any HTMLElement in the DOM, not just the label for an adjacent element. And for the f

[2017-10-23 23:30] terracoda commented on #94
@zepumph, `aria-labelledby` has three L's not two :-) The spelling is confusing.

[2017-10-24 00:24] terracoda commented on #97
@zepumph, we will  have similar challenges with describing the properties of the wire in RIAW as well, so what we learn here will be used again immediately.

[2017-10-24 23:11] zepumph commented on #94
@terracoda try out master now, the `ul` now has aria-labelledby on it. Let me know what you like.

[2017-10-24 23:32] zepumph commented on #72
I wonder how important this problem is. I tried to tackle it today and found that you can't drag a thumb with the mouse when that slider is focused. @jessegreenberg you were right though, it sounded nice on NVDA to focus on `drag`.

The reason I don't think that we should spend too much time on this is because the focusHighlight pops up. I'm not sure how to handle that, and I'm not sure that this

[2017-10-24 23:39] zepumph opened #99 "Add a link to the keyboard help button in the shortcut paragraph"
Promoted from TODO in OhmsLawSceneSummaryNode.js

@jessegreenberg how do we add a shortcut in a description? Have we done this before?

[2017-10-25 16:34] terracoda commented on #74
@jessegreenberg and @zepumph, I think this issue is done. We are now on dev version 14. Marking as closed.

[2017-10-25 16:34] #74 closed

[2017-10-25 16:45] terracoda commented on #94
@zepumph, it might be extraneous information, but it is working fine. The un-ordered list containing the sliders is named as "list Slider Controls, two items". VO announces this on enter the list with the arrow keys and as exiting the list.

Sounds good to me. Closing this issue.

[2017-10-25 16:45] #94 closed

[2017-11-03 17:50] zepumph commented on #98
Updated in the above commit to master, closing

[2017-11-03 17:50] #98 closed

[2017-11-03 19:09] zepumph commented on #97
I suspect that this is a similar problem with the size of 'I' (current), but I'm going to focus on the arrows right now.

[2017-11-03 20:05] zepumph commented on #97
I first looked at a strategy that involed making a piece-wise linear function mapping the first half of the values linearly up to the default, and then the second half linearly up to the max. That didn't work because the default isn't really at our halfway point, so then I updated it so that the "default" was more at our 3/4s mark, and then you map linearly on both sides based on the number of ind

[2017-11-03 20:32] zepumph commented on #97
Next I went with a capping strategy, basically I said that the linear mapping goes from the smallest arrow height to a fixed point, and everything larger than that is just huge. The fixed point is based on the height of the wire box, so I think it is pretty robust. I also feel like there is good control throughout the middle ranges. @terracoda @emily-phet please review here: https://www.colorado.e

[2017-11-03 20:38] jessegreenberg commented on #97
@zepumph it feels really nice to me!

[2017-11-03 20:54] zepumph commented on #97
It seems like we won't have to do this for the I in the formula node, since it is based on a comparison of V, we may though find that minor tweakings should be done for the comparison ranges, that is a design decision though.

[2017-11-04 01:13] terracoda commented on #97
@zepumph, it is looking good. Regarding your comment

I did something similar, though I used the size of letter I as my guide rather than the bounds of the wire box. I think both are robust. In my design thinking, the arrows are "very large" when letter I is at or just inside the bounds of the top of the sim (the largest size for V and R), and the arrows are  "huge" when letter I goes beyond the b

[2017-11-10 19:03] zepumph commented on #97
Because of the way it is implemented, it would be difficult to implement this sizing based exatly on the intersection of the 'I' and the screen bounds, so I eyeballed it. I don't think it is too sloppy though, since they are both based on constants and I documented the correlation in the code. @terracoda please take a look on phettest.

[2017-11-10 19:30] terracoda commented on #97
@zepumph I think you did a good eyeball estimate. The descriptions look/sound better to me know.
We might have to do something similar in RIAW.
I think we can close this issue.

[2017-11-10 19:30] #97 closed

[2017-11-15 14:48] terracoda opened #100 "Text content for keyboard shortcuts dialog"
Just noticed that this content may not have been provided along side the visual design.

@terracoda to spell it out in this issue very soon.

[2017-11-15 14:58] terracoda commented on #100
**First draft**
Represented by a **single list** like it is in the visual design.
- Adjust slider with Left and Right arrow keys or Up and Down arrow keys.
- Adjust in smaller steps by holding Shift plus Left or Right arrow key, or by holding Shift plus Up and Down arrow key.
- Adjust in larger steps with Page Up and Page Down keys.
- Jump to minimum with Home key.
- Jump to maximum with End key.

[2017-11-16 00:11] jessegreenberg commented on #82
@mbarlow12 recommended to try overflow: hidden.

@zepumph recommended to set the height to be 100px, with overflow hidden so that there is some width for the content.

[2017-11-16 00:58] zepumph commented on #82
We experienced good success with @mbarlow12's suggestion to use relative position and move the content way over to the left. Like this:
[code]

We want to make sure that the left is so far left that it will never show up on the screen.

We also found duplicate css for accessibility. One is from the accessibility class, and the other is added directly to the root accessibleInstance, where that acce

[2017-11-17 16:27] arouinfar commented on #100
@terracoda wording looks good, but I could use some clarification about the functional difference between the drafts. It looks like screen reader users would be able navigate through draft 2 a bit faster if they decide to skip over the sublist items. Is that the case? If so, draft 2 may be a bit more efficient to navigate, particularly because screen reader users would likely be familiar with many

[2017-11-17 19:32] jessegreenberg commented on #96
We tried to reproduce the bug but couldn't reproduce it in Safari 10.0.1 and Safari 11.0. Here is what we tried:

- Tab to slider, VO describes slider then says "To start interacting with the slider, press Control-Option-Shift-Down Arrow.
- Press Control-Option-Shift-Down Arrow, VO says "In slider. To change the value, press Control-Option and then Left Arrow or Right Arrow."
- Press Control-Optio

[2017-11-19 12:35] terracoda commented on #82
@jessegreenberg, @zepumph , @mbarlow12 using relative positioning keeps things in the flow. Negative margins also keep things in the flow. Have you tried taking things way off screen with a larger values more live `left:-10000`. For a negative margin it would like like this `margin-left: 1000em`.

For testing I would simplify the css and see how far you get with just playing with left positioning

[2017-11-19 12:43] terracoda commented on #100
@arouinfar, yes with **Draft 2** screen reader users would get a clear indication that there are 2 ways to adjust, and two ways to adjust in smaller steps based on the sub-listed structure. I'm not exactly sure how screen reader users navigate nested lists, however. My intuition is that there would be a benefit, but with such a small amount of content, the benefit may be small. It would be nice to

[2017-11-20 02:34] arouinfar commented on #100
@terracoda thanks for the clarification! Draft 2 seems convenient, so I think it's definitely worth some user testing.

[2017-11-20 19:52] terracoda commented on #100
If all goes as planned in https://github.com/phetsims/a11y-research/issues/62 (i.e., we keep the action text on left and key icons on right) then the descriptive content for the non visual experience would be as in https://github.com/phetsims/ohms-law/issues/100#issuecomment-344618056

@terracoda to provide html snippets in the a11y-research repo

[2017-11-21 14:46] terracoda commented on #82
@zepumph, ok cool. I was just pointing out the possible use of negative margins.

[2017-11-21 15:21] terracoda commented on #96
@jessegreenberg, these were the correct steps to reproduce the issue. I just upgraded my system, and I am no longer experiencing suppressed alerts in scenario number 1 (Using arrow keys with the VO keys Control and Option pressed).

Pressing and holding the Command key while using the arrow keys does suppress alerts, but I do not think this is a problem as it is not a use pattern recommended by VO

[2017-11-21 15:21] #96 closed

[2017-11-21 15:31] terracoda commented on #99
@zepumph, I'd like to reconsider this idea. I originally thought that it would be helpful for users to have a normal anchor link that they could immediately follow if they wanted to. That would, however, add a "Keyboard Shortcuts" link to the Tab Order as the first item. I am not sure that is desirable.

I think the description on where to look for the Keyboard Shortcuts is actually enough. Users

[2017-11-21 15:43] terracoda commented on #90
@zepumph and @jessegreenberg, I think all the descriptions in this issue have been implemented. So I will close it.

Based on subsequent user comments, I think it is safe to shorten the alert by removing the repeated slider value. I will start a new issue for that.

[2017-11-21 15:43] #90 closed

[2017-11-21 15:56] terracoda opened #101 "Shorten alerts for V and R sliders"
Based on screen reader comments of alerts being verbose, after implementation of description changes in #90, I think it is safe to reduce the slider alerts by removing the repeated slider value information at the very end of the alert.

Users get the slider value on focus and on a value change just before the actual alert. That seems to be sufficient.

I have updated the [Ohm's Law design document

[2017-11-21 15:58] terracoda commented on #101
@jessegreenberg, once this is ready, it would be great if @zepumph can update the sonified version.

[2017-11-21 16:12] jessegreenberg commented on #101
@zepumph you have been taking the lead on a11y descriptions for this sim, do you have time to work on this?

[2017-11-21 16:15] jessegreenberg commented on #99
Good point, that would be confusing for sighted users. Lets close this issue for now. @terracoda if you decide that this link is beneficial let us know and we can work on adding general support for this.

[2017-11-21 16:15] #99 closed

[2017-11-21 16:23] terracoda commented on #99
@jessegreenberg, will do. Thanks for closing.

[2017-11-21 22:33] zepumph commented on #101
@terracoda could you let me know when the next interview will be that you would want the sonification wrapper updated for?

[2017-11-22 17:31] terracoda commented on #101
@zepumph, I've got nothing scheduled, so you can mark this accordingly in your work priorities.

FYI, I am not planning on doing any more work on descriptions for Ohm's Law. I think they are in good shape.

[2018-01-04 22:07] jessegreenberg commented on #100
@terracoda what is the status of this issue, are the accessible descriptions in this dialog ready for implementation?

[2018-01-04 22:14] jessegreenberg commented on #86
Closing this issue, it is going to be tracked in https://github.com/phetsims/a11y-research/issues/71. It does not need to block publication of ohms law, but should be investigated with high priority.

[2018-01-04 22:14] #86 closed

[2018-01-04 22:27] jessegreenberg opened #102 "Deploy this sim with keyboard navigation and description and new sound/sonification"
We would like to deploy this sim with keyboard navigation and auditory description. This issue is to track status and progress.

[2018-01-04 22:29] jessegreenberg commented on #102
#82 must be resolved before continuing with this issue, but we are likely going to continue with that issue in scenery.

[2018-01-04 23:53] terracoda commented on #86
Thanks fir starting the a11y-research issue, @jessegreenberg

[2018-01-05 01:24] terracoda commented on #100
@jessegreenberg, yes :-) I think so. It's been a long discussion.

Based on @arouinfar's comment (https://github.com/phetsims/ohms-law/issues/100#issuecomment-345576042)  and the resolution in phetsims/a11y-research#62, I think we decided to go with descriptive action text first and description for key icons second as in Draft 2 content and structure.

Here's the HTML:
[code]

For the _General Nav

[2018-01-07 20:46] emily-phet commented on #72
@jessegreenberg and I discussed, and think this discussion should be moved to a11y-research repo.

[2018-01-21 15:23] emily-phet opened #103 "Handoff to Ashton for finalizing sound design"
Would like Ashton to start working on a final sound design for this sim - based on Mike and JB's existing work.

Note: we need to do user testing with users of screen readers to get feedback on "current" sound, and how overlap of text/sound is working (or not) to support their experience - before completely finalizing sound (started another issue for this). Would probably be best if we can go ahea

[2018-01-21 15:28] emily-phet opened #104 "Interviews with users of screen reader software"
We need to do user testing with users of screen readers to get feedback on "current" sound, and how overlap of text/sound is working (or not) to support their experience - before completely finalizing sound (started another issue for this).

Would be best if we can do user testing with more finalized version, and make tweaks from there. If we get access to VI students before a version from Ashton

[2018-01-21 15:37] emily-phet commented on #101
I just checked if this had been implemented in https://www.colorado.edu/physics/phet/dev/html/ohms-law/1.4.0-dev.17/ohms-law-a11y-view.html. It appears this is good to go. Closing.

[2018-01-21 15:37] #101 closed

[2018-01-22 17:28] jbphet commented on #103
I see this is assigned to me, but the description sounds like it should be assigned to Ashton.  I can add him to the GitHub project and assign him if needed.  It sounds like once the sound design is complete, we would create a new issue where I'd integrate the sounds and assign them to sonification levels.  Does that sound about right @emily-phet?

[2018-01-23 19:34] jessegreenberg commented on #82
I made an issue to investigate this in scenery since it applies  to all sims and will be fixed there. I moved notes and progress to that issue for continued work. Closing.

[2018-01-23 19:34] #82 closed

[2018-01-26 13:00] emily-phet commented on #103
@jbphet I just wanted to give you a heads up that this was happening.

[2018-01-30 21:14] jessegreenberg commented on #72
This issue was moved to a11y-research, referenced in https://github.com/phetsims/a11y-research/issues/69. Closing this issue since it will be discussed generally for all sims there.

[2018-01-30 21:14] #72 closed

[2018-01-30 21:15] jessegreenberg commented on #102
#82 (and its issue in scenery https://github.com/phetsims/scenery/issues/730) has been closed so this issue is no longer on hold.

[2018-01-30 21:17] jessegreenberg commented on #102
Now we need to take care of
- [ ] #100 [keyboard help dialog]
- [ ] #104 [interviews]
- [ ] Any final changes to descriptions in this sim.

[2018-01-30 23:03] jessegreenberg commented on #100
@terracoda I have just about wrapped this up, but there is one problem with the above HTML. Scenery currently doesn't support this structure.

[code]

Scenery currently doesn't support mixing `Text` and `Element` child nodes. Would it be acceptable to wrap "Adjust slider:" with a `span`?

[2018-01-31 01:54] jessegreenberg commented on #100
Done in the above commit, here is the HTML now:
[code]

[2018-01-31 03:30] jessegreenberg commented on #102
It looks like there are changes to descriptions in the Ohms Law design document, adding that to checklist.

[2018-01-31 13:22] terracoda commented on #100
Great idea @jessegreenberg to add an HTML tag in there. I was going to suggest a similar approach, but use a heading `<h3>` or at least a `<p>` instead of a `<span>`. A `<span>` provides no meaningful or functional benefit whereas headings and paragraphs do.

[code]

[2018-01-31 17:28] jessegreenberg commented on #100
Thanks @terracoda. I can add an h3 in there, but that adds more information than your original mockup. I thought you didn't want extra information around that text. Is there  any difference between
[code]
and
[code]

?

[2018-01-31 17:52] terracoda commented on #100
@jessegreenberg, yes a `<span>` is completely meaningless, and yes an <h3> provides heading semantics...

How do you feel about a `<p>` instead of a `<span>`? In general, I try to avoid using`<span>`'s as they provide no meaning at all.

[2018-01-31 17:57] jessegreenberg commented on #100
Both `h3` and `p` are fine with me. My question in https://github.com/phetsims/ohms-law/issues/100#issuecomment-362007511 was about the difference between span and no tag name (as was in the original mock up), not `span` and `h3`.

[2018-01-31 18:01] terracoda commented on #100
@jessegreenberg, honestly, I do not think there is any difference.

[2018-01-31 18:04] jessegreenberg commented on #100
Thanks @terracoda, good to know, wasn't sure if it changed anything with the virtual cursor. In the above commit I changed the `span` to `p`. @terracoda is there anything remaining for this issue?

[2018-01-31 18:10] terracoda commented on #100
@jessegreenberg, it might affect the virtual cursor, and it might be browser dependent. Both `<li>` and `<p>` are block-level elements whereas <span> is in-line. It is always fine to use in-line elements inside block-level, but not the other way around.

I think this is issue is done. Thanks @jessegreenberg.

[2018-01-31 18:40] jessegreenberg commented on #102
We are actually up to date with the design doc.

[2018-01-31 18:41] jessegreenberg commented on #102
Interviews and final changes are all that is left.

[2018-02-01 14:13] terracoda opened #105 "Change hint for Keyboard Shortcuts"
@jessegreenberg, just tested [Ohm's Law dev 20](https://www.colorado.edu/physics/phet/dev/html/ohms-law/1.4.0-dev.20/phet/ohms-law_en_phet.html?accessibility)

Awesome implementation, and I have one change to the static descriptions which will be the same across all sims.

Change the **keyboard shortcut's hint** in the Scene Summary from:
- "If you need to, check out keyboard shortcuts for this si

[2018-02-01 14:44] terracoda commented on #100
@jessegreenberg, @emily-phet, and @arouinfar, I just tested [Dev 20](https://www.colorado.edu/physics/phet/dev/html/ohms-law/1.4.0-dev.20/phet/ohms-law_en_phet.html?accessibility).

I find the nested structure in the Keyboard Shorts dialog to be a bit too structure heavy, getting in the way of the actual information.

I suggest removing the nested list structure and going with this:
[code]
**I onl

[2018-02-01 14:49] terracoda commented on #100
@emily-phet and @arouinfar, I am comfortable removing the nested list structure, now that I heard what it sounds like in context.

Can you please comment wording change? Thanks.

[2018-02-01 16:10] emily-phet commented on #100
Looks good to me!

[2018-02-02 00:51] jessegreenberg commented on #105
Done in the above commit, changed for sims that currently have a scene summary.

[2018-02-02 00:51] #105 closed

[2018-02-02 12:22] terracoda commented on #100
Thanks @emily-phet.

@arouinfar, any comment? Ready for implementation?

[2018-02-02 17:26] jessegreenberg commented on #102
More changes have been requested for the keyboard shortcuts dialog.

[2018-02-02 19:06] arouinfar commented on #100
Looks good to me too @terracoda! I'd say it's ready for implementation.

[2018-02-02 20:07] terracoda commented on #100
@arouinfar, thanks!

[2018-02-02 20:08] terracoda commented on #100
@jessegreenberg, Ohm's Law Keyboard Dialog update is ready implementation.

[2018-02-02 21:39] jessegreenberg commented on #104
We need a new version with latest descriptions deployed with phet-io to be used in the sonification wrappers.

[2018-02-02 21:49] jessegreenberg commented on #104
Hmm, hitting an error in phet-io wrappers when running locally

[2018-02-02 23:07] jessegreenberg commented on #104
I believe the issue is fixed, here is a new version with  latest description and phet-io.

https://www.colorado.edu/physics/phet/dev/html/ohms-law/1.4.0-dev.22/phet-io/ohms-law_all_phet-io.html?development&phetioStandalone&accessibility

@jbphet could you please modify wrappers to use this version? The ?accessibility query parameter is required.

[2018-02-07 19:21] jessegreenberg commented on #104
Removing my assignment.

[2018-02-07 20:58] jessegreenberg commented on #100
Alright, change made in the above commit @terracoda! Closing.

[2018-02-07 20:58] #100 closed

[2018-02-08 17:58] pixelzoom opened #106 "branch: compare-height"
Identified by `print-branches.sh`. Please describe.

FYI, all non-release branches are supposed to have an associated GitHub issue. Title is of the form "branch: {{branchName}}}". The description should include: the purpose of the branch, expected lifetime of the branch, references to any related issues. The issue can be closed when the branch is deleted.

[2018-02-08 18:21] pixelzoom commented on #106
Assigning to @jessegreenberg since he made the most recent commits in this branch.

[2018-02-08 18:51] jessegreenberg commented on #106
This branch was for https://github.com/phetsims/ohms-law/issues/74 and is no longer relevant. Deleting.

[2018-03-06 20:00] jbphet opened #107 "branch: testOggFileRemoval"
Branch for testing whether it is safe to remove .ogg audio files and rely only on the .mp3 files, see https://github.com/phetsims/vibe/issues/19.

[2018-03-07 23:13] zepumph opened #108 "Fix a11y strings"
From https://github.com/phetsims/a11y-research/issues/65:

- [x] Make sure that the a11yStrings file uses `{{key}}: { "value": '{{string}} }` notation
- [x] declare strings as vars at the top of the page (like with the `string!` plugin

[2018-03-12 11:55] #104 closed

[2018-03-12 11:58] emily-phet commented on #102
@jessegreenberg - not waiting for sonification to publish this sim. Interviews are in progress, but don't need to hold anything up. If the descriptions are complete (which it looks like @terracoda has confirmed they are) then this sim can progress towards publication with description.

[2018-03-12 15:52] jessegreenberg commented on #102
Sounds good @emily-phet, thanks. We will create an RC for this sim as soon as https://github.com/phetsims/QA/issues/108 is complete.

[2018-03-14 17:02] terracoda commented on #102
@jessegreenberg, just mentioning an issue from RIAW https://github.com/phetsims/resistance-in-a-wire/issues/140 here, in case there is a change to the "impurities description".

[2018-03-14 19:22] terracoda opened #109 "Larger Step Size with Pg Up and Pg Down"
Question regarding pedagogically useful value for the Pg Up and Pg Down keys.

The default step size for V slider rounds to the nearest 0.5.
Should the larger step size round to 1.0?

The default step size for R slider rounds to the nearest 10.
Should the larger step size round to the nearest 100?

Or, maybe that is not how the larger step size works?

Just wondering how this is supposed work :-)

[2018-03-14 19:33] jessegreenberg commented on #109
Default behavior for Page up/Page down for a typical HTML HSlider is to increment/decrement  the value  by 1/10th of the total range. We kept that for our custom slider approach. For the resistance slider, that turns out to be 99. For the voltage slider, that turns out to be 0.89.

But we can have a custom step size if necessary.

[2018-03-15 00:48] #108 closed

[2018-03-15 12:10] terracoda commented on #109
@jessegreenberg, thanks for the explanation! I'll double check with @emily-phet to see if we need to customize the big steps.

[2018-03-15 12:20] terracoda commented on #109
@emily-phet, could you comment about the big steps? Is it pedagogically important that the values round to  the nearest 1.0 for V slider and to the nearest 100 for the R sliders when taking big steps?

In fact, with this sim, the most relevant large step size for voltage would seem to be 1.5 volts, the amount of a full battery. That would, however, be less than 10 steps.

If you and @jessegreenber

[2018-03-15 22:29] jessegreenberg opened #110 "Sim xss fuzz error for a11y strings"
Possibly related to #108, @zepumph could you please look into this?

[code]

[2018-03-15 23:24] zepumph commented on #110
Thanks for this, oops.

[2018-03-15 23:24] #110 closed

[2018-03-16 12:34] emily-phet commented on #109
@terracoda We went with the "increment by 1/10th" to align with standard slider pg up/pg down behavior.
It's fine with me if we round that to 100 (for R) and 1 (for V) - if it's a very simple, quick thing to do. If it's not very simple/quick - let's leave it as is.

I don't think 1.5 V is actually pedagogically important - it just happens to be a typical battery size (an interesting connection to

[2018-03-16 12:39] terracoda commented on #109
@emily-phet, thanks. I was pretty sure this had been discussed. I'll check in with @jessegreenberg to see if the rounding is easy to do, and if not we will leave as is.

Thanks for clarification on the 1.5 volts.

[2018-03-16 12:42] terracoda commented on #109
@jessegreenberg, could comment on the implementation time for rounding the big steps? If this would take a lot of time, we'll stick with the current un-rounded values of 1/10th the slider range.

[2018-03-20 20:03] jbphet commented on #107
Test was successful, branch merged with master, then deleted.  Closing.

[2018-03-24 05:13] terracoda commented on #109
After discussing this more with @jessegreenberg in person, I think we are going to just stick with the default 1/10th the range for Pg Up/Pg Down.

It is easy to round up or down with an Arrow key press after using Pg Up or Pg Down.

I am closing this issue.

[2018-03-24 05:13] #109 closed

[2018-04-20 21:33] zepumph commented on #102
So https://github.com/phetsims/resistance-in-a-wire/commit/3ee999740a00f10a6d425bb02cde2bc0eab6c83b will need to be pulled into OL as well.

[2018-04-21 22:33] terracoda commented on #102
@jessegreenberg and @zepumph, FYI, I made no changes to Ohm's Law descriptions regarding the way the "impurities" description.

[2018-04-22 00:07] zepumph commented on #102
Good to know, we were working fast yesterday and didn't really see that there are no content changes in  phetsims/resistance-in-a-wire@3ee9997. @terracoda can you confirm that this sim is ready to go. Removing on hold label.

[2018-05-02 22:43] zepumph opened #111 "How best to nest options in SliderUnit"
It has been decided that we want nest options so it is easier to pass through options to a child, but @jessegreenberg @mbarlow12 and I are having a hard time figuring out to manage that with some options that we don't want to be overridable.

So far we did converted this:

[code]

to this:

[code]

Because most of the options for `SliderUnit` Above are just being passed into HSlider.

But we are h

[2018-05-02 23:09] zepumph opened #112 "Touch up this sim as an example for a11y implementation"
</eom>

[2018-05-07 20:30] pixelzoom opened #113 "problems with WireBox"
(1) WireBox is passing one set of options to `Node.call`, another set to `mutate`.  This is an anti-pattern, and will potentially cause initialization problems with PhET-iO.

(2) The assumption documented on line 92, `this assumes that it is a child of a 'ul'`, should be backed up with an assertion.  Something like `assert && assert( options.tagName === 'ul', ... )`.

[2018-05-15 20:26] samreid commented on #111
Adding asserts is clear, fully general and works with our existing patterns.  It is wordy, but perhaps it is OK?

Also, I'm having trouble figuring out which of the options in the preceding examples are supposed to be non-overrideable, and what problem it would cause if they were overridebale.  Can you clarify?

[2018-05-16 00:47] zepumph commented on #111
I guess my thought is that I didn't write slider unit, and I don't know how dangerous it is (necessarily) to open it up to overriding these defaults. Perhaps in most cases it would be alright, probably above any of them could be overridden by the client, but the pattern seems sloppy that to adopt this strategy, we have to potentially add support that will break something that you didn't expect. Ma

[2018-05-16 22:13] pixelzoom commented on #111
Adding asserts for options that the client should not set is the way to go.  The general pattern that I've been using is:

[code]

[2018-05-17 15:53] zepumph commented on #111
Seems like there is consensus here. Thanks for everyone's help. I don't think there is much more to discuss, but I'll leave it on dev meeting to explain the results so that we are all on the same page about this.

[2018-05-17 23:40] samreid commented on #111
@zepumph can you please also document the consensus pattern in phet-info/docs/phet-software-design-patterns.md ?

[2018-05-25 22:45] zepumph commented on #111
I updated `SliderUnit` in ohms law, and updated the design patterns document. Closing

[2018-05-25 22:45] #111 closed

[2018-05-25 23:01] zepumph commented on #113
Good comments, thanks.

[2018-05-25 23:01] #113 closed

[2018-06-11 12:40] terracoda commented on #102
@zepumph, is there anything keeping Ohm's Law out of an Dev Test or RC Test? Perhaps, we are just waiting on finishing up RIAW, as there are some open issues with that sim?

[2018-06-11 12:42] terracoda commented on #102
@zepumph, sorry, I miss-read https://github.com/phetsims/ohms-law/issues/102#issuecomment-383342714. I will confirm this is ready to go today, and remove on-hold label as soon as that is done.

[2018-06-12 14:41] terracoda commented on #102
@zepumph, the descriptions of impurities in the wire is good to go.

**Issues I found are:**

- I noticed that keyboard focus is lost, "moves to Sim Resources Region" when I use the ESC key to close the Keyboard Help dialog. Focus is lost only if visual focus is not on the close button, i.e., when system focus is not visible and the virtual cursor is somewhere in the dialog's content. If I hit ESC

[2018-06-12 14:47] terracoda opened #114 "Focus lost when using ESC key to close dialog (when system focus not visible on Close button)"
Mentioned in #102, and moving to its own issue:
I noticed that keyboard focus is lost, "moves to Sim Resources Region" when I use the ESC key to close the Keyboard Help dialog. Focus is lost only if visual focus is not on the close button, i.e., when system focus is not visible and the virtual cursor is somewhere in the dialog's content. If I hit ESC with focus on the close button, focus is not lo

[2018-06-12 14:51] terracoda commented on #114
@zepumph here's the issue in RIAW https://github.com/phetsims/resistance-in-a-wire/issues/143

[2018-06-12 14:57] terracoda opened #115 "Keyboaed Short"
Mentioned in #102, and just starting its own issue.

The Keyboard Shortcuts button, does not read out as a a "pop-up" button, so I am not sure it is coded as one. It is technically a pop-up button. It pops-up a dialog, and I thought it should have an aria-haspopup="dialog", but this might need more testing.

See article from Level Access
https://www.levelaccess.com/expanding-the-use-of-the-aria-ha

[2018-06-12 14:58] terracoda commented on #115
@zepumph, I will close this issue until we know more about how the different values of aria-haspop works across AT.

[2018-06-12 14:58] #115 closed

[2018-06-12 16:48] zepumph commented on #115
Just to confirm then, we don't want to worry about this for the upcoming releasing of ohms law, but potentially we will at a later point?

[2018-06-12 18:37] terracoda commented on #114
@zepumph re-assigning to @jessegreenberg.
This is general to all sims including BASE. The fix in RIAW was verified in NVDA. Looks like it might need a little investigation with VoiceOver, too.

[2018-06-12 22:35] jessegreenberg commented on #114
Hmm, the fix in RIAW was verified to work for both both JAWS and VoiceOver, so something different is happening in  this case.

[2018-06-12 22:45] jessegreenberg commented on #114
Testing on Safari 11.1.1, macOS 10.13.5 - If the virtual  cursor is on the H1 or H2 in the keyboard help dialog, this bug does not happen. It only happens if escape is pressed while virtual cursor is inside the list items in the dialog.

[2018-06-12 22:51] jessegreenberg commented on #114
This isn't related to fake inputs sent by VoiceOver. Also, I can see the focus highlight flash around the keyboard help dialog button for half a second, then it disappears.

[2018-06-12 23:32] jessegreenberg commented on #114
If I disable the VO user setting "Synchronize keyboard focus and VoiceOver cursor" this problem goes away. So for some reason,  VO is moving the virtual cursor to the navigation bar in this case, and focus is going with it. I do see a focus event on the NavigationBar.

[2018-06-12 23:39] jessegreenberg commented on #114
With the setting for "Synchronize keyboard focus and VoiceOver cursor" enabled, if I remove the `h2` with content "Sim Resources and Tools", the problem goes away. @terracoda any ideas why that would be the case? And why VO would try to move focus to the navigation bar in this case but not others?

[2018-06-13 13:15] terracoda commented on #114
@jessegreenberg, I apologize for my incorrect summary of the verified platforms in https://github.com/phetsims/ohms-law/issues/114#issuecomment-396691648.

[2018-06-13 13:31] terracoda commented on #115
@zepumph, that's right. No need to implement `aria-haspopup="dialog"` for sims right  now. I need to test its support over in a11y-research repo.

[2018-06-13 13:33] terracoda commented on #115
And to be more clear, no need to implement `aria-haspopup` for Keyboard Shortcuts button for sims right now.

[2018-06-13 14:13] terracoda commented on #114
@jessegreenberg, I can't find the VO setting, "Synchronize keyboard focus and VoiceOver cursor"  in MacOS High Sierra 10.13.4.

The focus behaviour is very strange, and seems to be very specific to a VO user setting. While it would be useful for me to do further investigation of what the purpose of this setting is, I don't think this issue needs to hold up RC testing for BASE or publications of an

[2018-06-13 14:13] #114 closed

[2018-06-13 14:38] terracoda commented on #102
@zepumph, just confirming that this sim is ready to go.

[2018-06-13 15:35] jessegreenberg commented on #114
Thanks so much @terracoda. The QA team  made a document to track AT quriks that we are aware of, I will add this issue to it.

[2018-06-13 15:35] jessegreenberg commented on #114
Here is the document for reference. https://docs.google.com/document/d/1518zv6F0odExFsodShZxwTmWNQk3civuNwtQUR-rEBs/edit

[2018-06-13 15:36] terracoda commented on #114
@jessegreenberg, thanks, and great idea from QA Team about the document.

[2018-07-05 21:46] zepumph commented on #102
After talking with @emily-phet today. This sim has sat long enough that we are going to wait for @jbphet to work on tambo sound and sonification for it before releasing. Instead I will focus my efforts on friction. Unassigning.

[2018-08-31 19:52] zepumph opened #116 "ariaOrientation for sliders is horizontal"
This is different from RIAW

[2018-09-17 18:03] terracoda opened #117 "Mute Sound button always flips back to an "On" state"
I just noticed that the Mute Sound button keeps flipping back to an "On" state, thus I get I cannot turn the sound off. In addition, I hear both alerts,

- Sim sound off.
- Sim sound on.

back to back.

This is likely a common code problem, but I found it in Ohm's Law, so posted it here.

[2018-09-17 18:08] terracoda commented on #117
@zepumph I'll assign you, but please call in re-inforcements as needed. Tagging @jessegreenberg.

I imagine this is not an immediate issue for Ohm's Law, but more an issue for the upcoming finalized sonified version of John Travoltage see issue https://github.com/phetsims/john-travoltage/issues/300

[2018-09-21 23:39] jessegreenberg commented on #117
@zepumph  and I worked on this today as part of another issue, was definitely a common code problem. This button is working again, so closing this issue.

[2018-09-21 23:39] #117 closed

[2018-10-02 16:58] jessegreenberg opened #118 "Check on performance with JAWS"
There has been work on description in this sim, but it has been put on hold. RIAW with description is in some final stages of RC testing. In the testing, it was determined that performance with JAWS was poor and caused alerts to not be provided after moving a slider. See https://github.com/phetsims/resistance-in-a-wire/issues/165.

The optimization there was to use CanvasNodes for the dots, which

[2018-11-14 18:55] assassin007027 opened #119 "Ohm's Law simulation"
I want to add a light bulb and resistances.
I want to design like this.
![image](https://user-images.githubusercontent.com/44780499/48505545-44a72f80-e882-11e8-8e2d-2fb63d10d45d.png)

[2018-11-15 17:22] jbphet commented on #119
CCK would probably suit the requested need well.  Assigning to @oliver-phet to provide a more complete response.

[2018-11-15 17:31] oliver-phet commented on #119
@assassin007027 Please see PhET's Circuit Construction Kit simulation: https://phet.colorado.edu/en/simulation/circuit-construction-kit-dc

[2018-11-15 17:31] #119 closed

[2018-11-16 04:30] TrustyMan commented on #119
I need simple circuit.

[2018-11-16 04:44] TrustyMan commented on #119
![image](https://user-images.githubusercontent.com/29589220/48598199-a2c83580-e99c-11e8-9057-626f2168d076.png)
Thank you for your help.
But I want to simple simulation.
I checked your given url and that is circuit design tool.
I don't need design tool.
I need static circuit and the users able to  change Voltage and resistors.
and I want to get animation of Brightness changing.
Thank you again for

[2019-01-10 20:15] emily-phet opened #120 "Final feedback on sound for Ohm's Law"
@kathy-phet @ariel-phet

This sim's sound is design-complete, and we'll be preparing it for RC testing soon. Included in the RC will be alternative input, full description, sound, and mobile accessibility (a first!). Our goal is to have it published by March 30th.

Please take a look at [this version](https://phet-dev.colorado.edu/html/phet-io-wrapper-sonification/1.0.0-dev.90/phet-io-wrapper-soni

[2019-01-11 20:59] arouinfar commented on #120
@emily-phet saw this issue pop up since I'm subscribed to the repo, so decided to check it out. Hope you don't mind the unsolicited opinion. :)

I thought it was pretty clear that the sound that changes pitch is meant to represent the current. I think the balance between the clicking slider sound and the changing current sound is good. As for default vs. enhanced, it seems like the changing curren

[2019-01-11 21:19] emily-phet commented on #120
@arouinfar Thanks for taking a look! Glad you found the mapping to be intuitive. It was surprisingly difficult to get this sound/current mapping working well - we learned a lot from this sim about using semi-continuous sounds.

[2019-01-14 20:02] ariel-phet commented on #120
@emily-phet a few thoughts:

1. It took me a bit to recognize that the "clicks" were happening at regular intervals on the slider. I think I would leave those for "enhanced" sound personally.

2. I think the map between the sound and the current is pretty clear, no issues with the nature of that sound. I am a little surprised that the sound "dies out" since the current is constant once you set a s

[2019-01-25 16:54] emily-phet commented on #120
@ariel-phet @arouinfar
Thanks for the feedback!

A few notes regarding decisions on what we're moving forward with: Basic UI sounds have been intended to be on by default from the beginning (e.g., the reset all sound) - they're part of the PhET auditory branding of the sim. The circuit sound seems to have good agreement from folks to have on by default. The remaining question is the click sounds -

[2019-01-25 16:55] emily-phet commented on #120
Assigning to @jbphet so he's knows final design decisions have been made.

[2019-01-29 17:23] jessegreenberg commented on #118
Because of performance issues with JAWS in IE11, we have switched to JAWS + Chrome. Hopefully, this optimization is no longer needed because of this change. Assigning to myself to investigate.

[2019-01-29 17:26] jessegreenberg commented on #116
ohms-law/SliderUnit is using VSlider now so hopefully the aria-orientation has the right default for that case. If it doesn't that should be fixed in AccessibleSlider. Assigning to myself to investigate.

[2019-01-29 18:23] jessegreenberg commented on #103
It looks like there is a more recent issue to review final sound designs, #120. @emily-phet @jbphet can this be closed?

[2019-01-29 18:25] jessegreenberg commented on #118
The performance issues in https://github.com/phetsims/resistance-in-a-wire/issues/165 very apparent when testing on my Windows 10 laptop. If they are no longer present on that machine I think this can be closed.

[2019-01-29 23:17] jessegreenberg commented on #116
I am seeing
![image](https://user-images.githubusercontent.com/6396244/51947185-f53cbe00-23f1-11e9-9e1a-26fdbf9b5030.png)

now, this was likely fixed when we made HSlider and VSlider. The aria-orientation is set by Slider from the `orientation` option`.
[code]

Closing

[2019-01-29 23:17] #116 closed

[2019-01-30 02:22] emily-phet commented on #103
Yup - this is old. Closing.

[2019-01-30 02:22] #103 closed

[2019-02-04 17:24] emily-phet opened #122 "Odd behavior on iPad"
Here's a mention of the issue from BF in Slack:

We'd like to collect data on this sim (students using it on iPad) as part of the sonification research.
Can someone look into this and see if there might be a relatively quick solution?

Note: The data collection window for this sim is this week to the end of march, so we likely won't have the sounds in the sim without the wrapper until data collect

[2019-02-04 17:34] jessegreenberg commented on #122
This sounds a lot like https://github.com/phetsims/scenery/issues/770 maintenance releases were done for that issue so my guess is that version didn't get the patch.

I am not sure what the best way to fix is, whether we can do a maintenance release for that phet-io version/wrapper or release a new version (assuming that is the issue). @zepumph what do you think?

[2019-02-04 17:44] jbphet commented on #122
I've never seen this behavior, and I'd feel a lot more confident that we had a fix if we knew how to duplicate the problem.  @emily-phet - can we get version information from the user for the sim, iPad, and iOS versions?

[2019-02-04 17:51] jessegreenberg commented on #122
https://github.com/phetsims/scenery/issues/770 was an issue for iOS 11.3+ and I do not see this happening with the link provided on my iPad 2 with iOS 9.3.

[2019-02-04 17:54] emily-phet commented on #122
Just sent @jbphet BF's info so we can be added to this repo and reply directly.

[2019-02-04 18:00] zepumph commented on #122
It may be easiest to just publish from master a new phet-io dev version of ohms law and add that to the sonification wrapper.

[2019-02-04 18:08] BLFiedler commented on #122
iOS version 12.1.3, 9.7" iPads (model A1893) if that is useful.

[2019-02-04 19:12] zepumph commented on #122
I published a version with OL from master over in https://github.com/phetsims/phet-io-wrapper-sonification/issues/70 and will post a link over there (since its a private repo and this is not). @BLFiedler can you test that link and see if things are working better?

[2019-02-08 15:42] emily-phet commented on #122
@BLFiedler said it's working great.

Thanks everyone!

Closing.

[2019-02-08 15:42] #122 closed

[2019-02-11 15:53] jessegreenberg opened #123 "Update ohms-law with final changes from RIAW"
RIAW was recently successfully published with a11y features (alternative input, AT support, sound). OL and RIAW are quite similar, but don't share a common repo. So recent changes in RIAW for publication won't appear in this repo. We should scan recent RIAW commits and make sure that this repo has everything it needs (feature changes, bug fixes, performance improvements, ...).

[2019-02-11 15:56] jessegreenberg opened #124 "Test for memory leaks prior to 1.4 release"

[2019-02-11 15:56] jessegreenberg commented on #124
Part of https://github.com/phetsims/ohms-law/issues/123

[2019-02-11 15:57] jessegreenberg commented on #123
I verified that the keyboard help dialog is within dev bounds with stringTest=double and stringTest=long (https://github.com/phetsims/resistance-in-a-wire/issues/203)

[2019-02-12 20:05] jbphet opened #125 "Add sound"
The sound design has been approved, it's time to add it to the sim.  The sound design document is available [here](https://docs.google.com/document/d/1aPUz9yxP3jsE4XvmVLhOuZQUw-Np14E1qwd6JIKVj4g/edit?usp=sharing) and the most recent sound design prototype is [here](https://phet-dev.colorado.edu/html/phet-io-wrapper-sonification/1.0.0-dev.96/phet-io-wrapper-sonification/ohms-law/html/ohms-law-sonif

[2019-02-13 23:31] jbphet opened #126 "Fix references to hslider"
While working on #125 I noticed that there were a lot of variables and keys named "hsliderOptions" in the code, which seems really odd, since the "h" generally designates a horizontal slider, and all sliders in this sim are vertical.  I think it would make the code more understandable if these were to be replaced with simply "sliderOptions".

[2019-02-13 23:32] jbphet commented on #126
Done, closing.

[2019-02-13 23:32] #126 closed

[2019-02-13 23:33] jbphet commented on #125
This is implemented, I'm going to assign to @jessegreenberg, who is going to publish a dev release.  @jessegreenberg - once the dev release is out, please assign this to @Ashton-Morris and @emily-phet to see if they have any last feedback on the implementation before we start the release process.

[2019-02-13 23:34] jessegreenberg commented on #125
OK, will do, thanks!

[2019-02-14 00:14] jbphet commented on #120
The sound has been added to the sim, and we will track any issues found elsewhere.  Closing.

[2019-02-14 00:14] #120 closed

[2019-02-15 19:07] jessegreenberg commented on #124
Testing over about 4 hours, I saw this memory profile taking snapshots every 5-60 minutes or so.
![image](https://user-images.githubusercontent.com/6396244/52878605-093f2a00-312b-11e9-9e43-bcbc493448ed.png)

[2019-02-15 23:12] jessegreenberg commented on #124
For Fuzzing continuously for four hours, this is a very good profile and does't indicate a leak. This can be closed.

[2019-02-15 23:12] #124 closed

[2019-02-15 23:45] jessegreenberg commented on #123
Testing on my Windows 10 Laptop on Chrome with JAWS, I was not able to reproduce the issue. I don't think any changes from that issue need to be pulled into OL.

[2019-02-15 23:45] jessegreenberg commented on #123
That is everything, this issue can be closed.

[2019-02-15 23:45] #123 closed

[2019-02-15 23:45] jessegreenberg commented on #118
Checked in #123, performance with JAWS in Chrome is very nice. This issue can be closed.

[2019-02-15 23:45] #118 closed

[2019-02-16 00:32] jessegreenberg commented on #125
OK, here is the latest dev version: https://phet-dev.colorado.edu/html/ohms-law/1.4.0-dev.26/phet/ohms-law_en_phet.html

From https://github.com/phetsims/ohms-law/issues/125#issuecomment-463419740, assign to @emily-phet and @Ashton-Morris for review.

[2019-02-16 06:21] phet-steele opened #127 "Voltage values lack precision and lead to inconsistent math"
Situations like this screenshot (were the math is incorrect due to lack of decimal places, should be 900mA) have always been possible in this sim with slow careful movement of the voltage slider. There is a huge range for each voltage value where the slider can be dragged multiple "steps" before the voltage changes. Now that we have keyboard nav, it is way easier to encounter precision errors like

[2019-02-16 06:21] phet-steele opened #128 "TypeError: Cannot create property 'value' on boolean 'false'"
There are billions of ways to get this bug, after which the sim will freeze. There are two general ways:

1. Use keyboard nav to open the dialogue of your choice (phet menu/keyboard help are the only two in this sim, technically).
2. Sim will freeze with the dialogue stuck open.

or

1. Use your mouse to open the dialogue of your choice (keyboard help/about/check for updates but not the phet menu

[2019-02-16 06:21] phet-steele opened #129 "New voltage labels fail to reposition on start-up"
Voltage labels get positioned above their battery while it is not full size. Once it is full-size, the labels move downward and are positioned on their battery 👍.

However, the VERY FIRST time you add the 4th, 5th, and 6th battery, their voltage labels incorrectly stay low between 0.0-0.1(ish) volts after which they will move up and work correctly for the rest of the sim's life. This must be done

[2019-02-18 20:16] emily-phet commented on #125
@jbphet
Could we have the looping sound fade a little more slowly. It feels pretty abrupt right now.
Also, could the loudness of the slider click sound be lowered slightly?
If it feels more efficient, we could discuss this briefly tomorrow in our usual meeting.

Otherwise, as always, I'm pleasantly surprised by this one. I must have some bad memory stuck in my mind regarding some prior looping sou

[2019-02-18 20:28] jbphet commented on #125
+1 for working on it during the weekly sound design meeting.

[2019-02-18 21:09] ariel-phet commented on #127
@jessegreenberg it looks to me like the "fine" step with keyboard nav for the voltage slider is 0.1 volts

For simplicity, I would be fine if this were a "steppy" slider with 0.1 volt increments when using a mouse. There is no real pedagogical advantage to having a perfectly smooth slider in this sim, and people like @phet-steele can find these situations where precision is competing with the calc

[2019-02-18 21:28] KatieWoe opened #130 "Using Keyboard nav in Keyboard nav dialog causes screen to freeze with sound"
**Test device:**
Dell
**Operating System:**
Win 10
**Browser:**
chrome
**Problem description:**
For https://github.com/phetsims/QA/issues/289
If you interact with the keyboard nav dialog using keyboard nav the screen freezes and you must refresh the page for the sim to be usable.  Some things can still be interacted with.  If you drag on the area of the sliders you will hear the noise, but it then

[2019-02-18 21:29] KatieWoe commented on #130
Same happens with phet menu

[2019-02-18 21:32] jessegreenberg commented on #127
Thanks @phet-steele and @ariel-phet, sounds good. This will probably also fix #129 for free because the positioning assumed 0.1 increments. But Ill double check.

[2019-02-18 21:33] jessegreenberg commented on #130
@KatieWoe are there any errors in the console? It sounds like this may be similar to #128, can you confirm?

[2019-02-18 21:36] KatieWoe commented on #130
Looks like.  Here's the console:

![console](https://user-images.githubusercontent.com/41024075/52977472-9d5afc80-338a-11e9-9b6b-b03911fe5d48.jpg)

[2019-02-18 21:37] jessegreenberg commented on #130
OK, thanks! Closing this issue then, Ill continue in #128

[2019-02-18 21:37] #130 closed

[2019-02-18 21:39] jessegreenberg commented on #128
Hmm, this isn't happening for me in master.

[2019-02-18 22:02] KatieWoe opened #131 "Mobile VO Does not allow slider movement"
For https://github.com/phetsims/QA/issues/289
From slack:

[2019-02-18 22:07] jessegreenberg commented on #127
Constraint added to make a "steppy" slider. Reassigning to @ariel-phet to review the feel or just close if that is best.

[2019-02-18 22:08] KatieWoe opened #132 "Low Performance on iPad Air 2"
For https://github.com/phetsims/QA/issues/289
On iOS 12.1.4 iPad Air 2 the performance dropped significantly when using the sliders.  ?profiler showed as low as 13 fps.  Averaged around 20, could be as high as 40.

[2019-02-18 22:27] KatieWoe commented on #129
From slack:

![outsidefull](https://user-images.githubusercontent.com/41024075/52979170-a8655b00-3391-11e9-87d8-43db61b1a55a.jpg)

[2019-02-18 22:32] jessegreenberg commented on #129
Thanks @phet-steele and @KatieWoe. After #127 I can't reproduce https://github.com/phetsims/ohms-law/issues/129#issuecomment-464904885, but I can still reproduce https://github.com/phetsims/ohms-law/issues/129#issue-411035740

[2019-02-18 22:40] jessegreenberg commented on #129
Additional rounding needed to be done in BatteriesView which calculates the voltage remainder for the individual battery. Should be fixed.

[2019-02-18 22:42] jessegreenberg commented on #128
Verified this is happening in the dev version, but not in master.

[2019-02-18 22:53] jessegreenberg commented on #128
I found a bad line in the dev version that caused this that was present in my working copy at the time of the build
![image](https://user-images.githubusercontent.com/6396244/52979962-fab07700-33a5-11e9-94b8-450935ab329f.png)

 It isn't something that is committed so I am surprised I was able to publish a dev version with this.

Should be `this.a11yClickingProperty.value = false;`

[2019-02-18 22:54] jessegreenberg commented on #128
In master, I notice that focus isn't passed around correctly anymore because of this new block for "handling a11y interrupt". Ill make a new issue to investigate, but this error specifically can be closed.

[2019-02-18 22:54] #128 closed

[2019-02-19 00:47] ariel-phet commented on #127
@jessegreenberg looks good to me on master. Closing

[2019-02-19 00:47] #127 closed

[2019-02-19 02:46] jessegreenberg commented on #131
@KatieWoe could you please also put the iPad version in this issue?

[2019-02-19 02:47] jessegreenberg commented on #129
This is fixed, closing this issue.

[2019-02-19 02:47] #129 closed

[2019-02-19 03:03] jessegreenberg commented on #132
I only have access to an iPad2, but I can confirm that the performance has degraded on that platform since the published version.

[2019-02-19 03:14] jessegreenberg commented on #132
I tried disabling the alerts, then all a11y, then sound (by muting in the navigation bar). The sim a bit got faster after doing each, but disabling a11y was by far the most effective.

[2019-02-19 03:21] jessegreenberg commented on #132
I tried disabling positioning of PDOM elements, but I didn't see any improvement.

[2019-02-19 15:05] Ashton-Morris commented on #125
Overall I think the levels sound good. My only observation is that the slider clicks when going up on voltage slider don't click right when the battery appears causing a slight visual to audio offset feeling. If you move the slider very slowly upward with a mouse you can see it.

[2019-02-19 15:42] KatieWoe commented on #131
iPad Air 2

[2019-02-19 16:01] jessegreenberg commented on #125
In #127 the slider values were constrained with a mouse so that the voltage can only increase in increments of 0.1. Just thought I would mention this in case it addresses what @Ashton-Morris mentioned in https://github.com/phetsims/ohms-law/issues/125#issuecomment-465166333.

[2019-02-19 16:14] jessegreenberg commented on #131
OK, thanks.

[2019-02-19 16:18] jessegreenberg commented on #131
Hmm, confirmed on my iPad2, on both dev version and master. Sorry @KatieWoe I swear I tested this before building the dev version. Ill try to figure out what changed.

[2019-02-19 17:38] KatieWoe opened #133 "No sound when using Jaws"
For https://github.com/phetsims/QA/issues/289
The sound that plays when adjusting the sliders does not seem to play when using Jaws.  Used Jaws on Win 10 chrome.  Sound did play with NVDA + Firefox.

[2019-02-19 17:40] jessegreenberg commented on #131
Aha! I found the related commit: https://github.com/phetsims/sun/commit/95e13cbbf1ae3e1d89ddbedb45da4f01687426f3#diff-325a03d9d9c2e5983737601dfe886b78

the event was being passed to the startDrag and endDrag from keydown/keyup related events but not from input/change events.

[2019-02-19 17:50] jessegreenberg commented on #133
Hmm, Ill take a look at some user settings maybe we can recommend something. @KatieWoe do you remember if this came up in testing RIAW?

[2019-02-19 17:51] KatieWoe commented on #133
I don't think it did.  At least that I remember.  I can go take a second look just in case though.

[2019-02-19 17:54] KatieWoe commented on #133
Just checked Jaws + chrome + published RIAW and sound does play when sliders are adjusted.

[2019-02-19 17:55] jessegreenberg commented on #133
Oh how weird! Ill take a look

[2019-02-19 17:55] jessegreenberg commented on #133
Thanks for checking, that is helpful.

[2019-02-19 17:58] jessegreenberg commented on #133
I just checked JAWS + Chrome + OL at https://phet-dev.colorado.edu/html/ohms-law/1.4.0-dev.26/phet/ohms-law_en_phet.html and I hear sound while I use the AT. @KatieWoe can you please confirm that you don't have phet-dev muted in Chrome? Does the tab have this icon?

![image](https://user-images.githubusercontent.com/6396244/53036547-f3d94100-3445-11e9-98fd-c0371a993068.png)

[2019-02-19 18:03] KatieWoe commented on #133
I just went to double check.  I didn't see the mute icon, but I also heard the sound.  I think there might be something wrong with my headphones, since I was wearing them when I encountered the problem and was using the computer speakers just now.  The left earpiece sometimes gives out, so if it was trying to come through there, that might be the cause.  Sorry for the confusion.  Like can be close

[2019-02-19 18:04] jessegreenberg commented on #133
Ok, sounds good, we can probably close then. Then next thing I was going to ask was to try to modify this setting
![image](https://user-images.githubusercontent.com/6396244/53036916-dce71e80-3446-11e9-8f88-5660f8366f21.png)

which prevents audio. But if it was working with a different set of speakers it probably isn't related this time. Thanks @KatieWoe,closing.

[2019-02-19 18:04] #133 closed

[2019-02-19 18:06] jessegreenberg commented on #132
Ill check on performance in this version: https://phet-dev.colorado.edu/html/ohms-law/1.4.0-dev.25/phet/ohms-law_en_phet.html?a11y to see if it has bad then or has degraded since.

[2019-02-19 18:11] jessegreenberg commented on #132
Difficult to say, performance might be a little better in that version, but not by much.

[2019-02-19 18:16] jessegreenberg commented on #132
Performance for me is equivalent to the performance of the published version of RIAW on my iPad2. @KatieWoe is that true for iOS 12.1.4 iPad Air 2 as well?

[2019-02-19 18:33] KatieWoe commented on #132
Does seem fairly comparable.  Maybe even a tad better in Ohm's Law

[2019-02-19 19:00] jessegreenberg commented on #132
Here is a thing from Chrome tools, I am not sure what I am looking at yet
![image](https://user-images.githubusercontent.com/6396244/53040059-8251c080-344e-11e9-8cab-57723c1d084d.png)

But I see a lot lf "setTextContent" and "setInnerContent". which probably indicates that is what is taking up time?

[2019-02-19 19:00] jessegreenberg commented on #132
Above is the call tree from 'onPointerMove'.

[2019-02-19 19:24] jbphet commented on #125
@emily-phet, @Ashton-Morris, and I reviewed the input they made in the comments above in our 2/19/2019 weekly sound design meeting, and the decision was to change the fade out for the current to be an exponential decay instead of the currently implemented linear method.  This was decided after trying a couple of different linear variations.

As for the other sound design items mentioned above, at

[2019-02-19 20:02] jbphet commented on #125
@jessegreenberg - I've implemented the requested change.  As far as sound design is concerned, this is ready for a new dev version or RC.  I'm happy to do it, but thought I'd check in with you and see if there are other pending changes that you'd like to finish before the next release.

[2019-02-19 20:04] jessegreenberg commented on #125
Awesome, thanks @jbphet. Yes, I would like to look into #132 before publishing and wait until the current dev test completes before starting the next test (https://github.com/phetsims/QA/issues/289)

[2019-02-19 20:22] jessegreenberg commented on #132
I just noticed that performance in the a11y view is far worse than it used to be, not sure if it is related to this.

[2019-02-20 00:14] jessegreenberg commented on #132
It isn't related to this, see https://github.com/phetsims/chipper/issues/740

[2019-02-20 00:57] jessegreenberg commented on #132
When returning early from AccessibilityUtil.setTextContent, the performance improves a bit. This in combination with disabling sound gets the performance closer to the published version.

Here is the call tree now:
![image](https://user-images.githubusercontent.com/6396244/53058308-88609500-3480-11e9-827f-8003a859c185.png)

[2019-02-20 01:02] jessegreenberg commented on #132
Within that call tree I am seeing setAttributeToElement and setInputValue taking together ~30% of the time taken for the event (total 0.5 ms).
![image](https://user-images.githubusercontent.com/6396244/53058454-16d51680-3481-11e9-9c7e-4c0a0310cc74.png)

[2019-02-20 16:32] rea-laura opened #134 "Text overlap when stringTest=long"
<b>Test Device</b>

Jordan

<b>Operating System</b>

Mojave 10.14.3

<b>Browser</b>

Safari 12.0.3

<b>Problem Description</b>

For https://github.com/phetsims/QA/issues/289:
when string test = long, the voltage and resistance slider labels have overlapping text. Could potentially be caused by the overlap of the letter and label above the slider (see visuals). Could possibly be a screen resolution

[2019-02-20 19:52] jessegreenberg commented on #134
The VBox that aligns these pieces of text has spacing of -5, and LayoutBox has the spacing relative to the bounds of the Nodes. So if the heights of the Text is less than 5, they will overlap which is what is happening for stringTest=long.

[2019-02-20 19:53] jessegreenberg commented on #134
You can see them just start to overlap for string just longer than double:
![image](https://user-images.githubusercontent.com/6396244/53120174-40447f80-351f-11e9-93f9-8d712088402c.png)

[2019-02-20 20:04] KatieWoe commented on #134
Here is a bit of a clearer picture of stringTest=long
![clearerpic](https://user-images.githubusercontent.com/41024075/53120847-fbfdb300-350f-11e9-92cd-83461138ec53.jpg)

[2019-02-20 20:10] jessegreenberg commented on #134
Thanks @KatieWoe, here it is after the above commit:
![image](https://user-images.githubusercontent.com/6396244/53121205-a8946080-3521-11e9-8024-3a47abe83d66.png)

[2019-02-20 20:11] jessegreenberg commented on #134
OK, thanks @rea-laura, closing this issue.

[2019-02-20 20:11] #134 closed

[2019-03-17 21:54] jessegreenberg commented on #132
Doing profiling with @twant and @zepumph, we tried to replace using innerHTML with textContent in AccessibilityUtil.setTextContent and discovered that the innerHTML is taking up a large amount of time relative to textContent.
![image](https://user-images.githubusercontent.com/6396244/54498431-a386bf00-48dd-11e9-81a2-8f2ca942ef9a.png)

![image](https://user-images.githubusercontent.com/6396244/5449